
<div id="page">
    <!-- MY ACCOUNT PAGE -->
    <section class="my_account parallax">

        <!-- CONTAINER -->
        <div class="container">

            <div class="my_account_block clearfix">
                <div class="forgor-password" ng-if="!User.info.CustomerEmail && ListPaymentGateways.accountsDisabled != 'disabled'">
                    <h2 class="text-no-margin">Forgot Password</h2>
                    <hr class="forgot-password">
                    <h3 class="text-no-margin">Have you forgotten your password?</h3>
                    <p>If you've forgotten your password,enter your email address and we will send you an email telling you how to recover it.</p>
                    <form class="login_form for-password" role="form" ng-submit="ForgotPassword('login')" style="width: 75%;">
                          <div ng-show="ResetPasswordEmail == true" class="alert alert-success" style="width: 74%;margin: 26px;"> Please check your Email for instructions on how to reset your password.</div>
                          <div  ng-show="invalidEmail" class="alert alert-warning" style="width: 74%;margin: 26px;">Your Email address doesn't exists.Please verify.</div>
                        <label class="small" for="exampleInputEmail1">Email Address*</label>
                        <input type="email" name="username" value="Username or email" placeholder="Enter email address" ng-model="Customer.forgotEmail" required />
                         
                       
                        <div class="for-password-btn">
                            <input type="submit" value="Retrieve Password" style="padding: 0;">
                           <button type="button" onclick="window.history.back()">Back</button>
                        </div>



                    </form>
                </div>
                <div class="row clearfix"  ng-if="User.info.CustomerEmail || ListPaymentGateways.accountsDisabled == 'disabled'">
        <div class="col-md-6 column" ng-if="User.info.CustomerEmail && ListPaymentGateways.accountsDisabled != 'disabled'">
           <h4>You are already logged in</h4>
		</div>
        <div class="col-md-6 column" ng-if="!User.info.CustomerEmail && ListPaymentGateways.accountsDisabled == 'disabled'">
           <h4>Login is disabled</h4>
		</div>
        <div class="col-md-6 column" ng-if="User.info.CustomerEmail && ListPaymentGateways.accountsDisabled == 'disabled'">
           <h4>Login is disabled</h4>
		</div>
	</div>
            </div>
        </div>
        <!-- //CONTAINER -->
    </section>
    <!-- //MY ACCOUNT PAGE -->
</div>
<script type="text/javascript">
     jQuery('.shopping_bag .cart').hide();
</script>