        
        <!-- SCHOOL SALE -->
        <section class="school_sale parallax margbot30">
            
            <!-- CONTAINER -->
            <div class="container">
                <div class="school_sale_description">
                    <p>getting ready for school</p>
                    <span>discounts on all clothing 30%</span>
                </div>
            </div><!-- //CONTAINER -->
        </section><!-- //SCHOOL SALE -->
        
        
        <!-- BANNER SECTION -->
        <section class="banner_section">
            
            <!-- CONTAINER -->
            <div class="container" data-appear-top-offset='-100' data-animated='fadeInUp'>
            
                <!-- ROW -->
                <div class="row">
                    <div class="top_sale_banners center">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 col-ss-12"><a class="banner nobord margbot30" href="javascript:void(0);" ><img src="{{BaseUrl}}img/theme/tovar/banner12.jpg" alt="" /></a></div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-ss-12"><a class="banner nobord margbot30" href="javascript:void(0);" ><img src="{{BaseUrl}}img/theme/tovar/banner13.jpg" alt="" /></a></div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 col-ss-12"><a class="banner nobord margbot30" href="javascript:void(0);" ><img src="{{BaseUrl}}img/theme/tovar/banner14.jpg" alt="" /></a></div>
                    </div>
                </div><!-- //ROW -->
            </div><!-- //CONTAINER -->
        </section><!-- //BANNER SECTION -->
        
        
        <!-- NEW ARRIVALS -->
        <section class="new_arrivals padbot50">
            
            <!-- CONTAINER -->
            <div class="container">
                <h2>new arrivals</h2>
                
                <!-- JCAROUSEL -->
                <div class="jcarousel-wrapper">
                    
                    <!-- NAVIGATION -->
                    <div class="jCarousel_pagination">
                        <a href="javascript:void(0);" class="jcarousel-control-prev" ><i class="fa fa-angle-left"></i></a>
                        <a href="javascript:void(0);" class="jcarousel-control-next" ><i class="fa fa-angle-right"></i></a>
                    </div><!-- //NAVIGATION -->
                    
                    <div class="jcarousel" data-appear-top-offset='-100' data-animated='fadeInUp'>
                        <ul>
                            <li>
                                <!-- TOVAR -->
                                <div class="tovar_item_new">
                                    <div class="tovar_img">
                                        <img src="{{BaseUrl}}img/theme/tovar/children/new/1.jpg" alt="" />
                                        <div class="open-project-link"><a class="open-project tovar_view" href="!projects/women/1.html" >quick view</a></div>
                                    </div>
                                    <div class="tovar_description clearfix">
                                        <a class="tovar_title" href="product-page.html" >BABY ONE-PIECE IN RUGBY STRIPE</a>
                                        <span class="tovar_price">$18.00</span>
                                    </div>
                                </div><!-- //TOVAR -->
                            </li>
                            <li>
                                <!-- TOVAR -->
                                <div class="tovar_item_new">
                                    <div class="tovar_img">
                                        <img src="{{BaseUrl}}img/theme/tovar/children/new/2.jpg" alt="" />
                                        <div class="open-project-link">
                                            <a class="open-project tovar_view" href="!projects/women/1.html" >quick view</a>
                                        </div>
                                    </div>
                                    <div class="tovar_description clearfix">
                                        <a class="tovar_title" href="product-page.html" >skirted one-piece in polka-dot heart</a>
                                        <span class="tovar_price">$38.00</span>
                                    </div>
                                </div><!-- //TOVAR -->
                            </li>
                            <li>
                                <!-- TOVAR -->
                                <div class="tovar_item_new">
                                    <div class="tovar_img">
                                        <img src="{{BaseUrl}}img/theme/tovar/children/new/3.jpg" alt="" />
                                        <div class="open-project-link">
                                            <a class="open-project tovar_view" href="!projects/women/1.html" >quick view</a>
                                        </div>
                                    </div>
                                    <div class="tovar_description clearfix">
                                        <a class="tovar_title" href="product-page.html" >Baby one-piece in heart stripe</a>
                                        <span class="tovar_price">$23.00</span>
                                    </div>
                                </div><!-- //TOVAR -->
                            </li>
                            <li>
                                <!-- TOVAR -->
                                <div class="tovar_item_new">
                                    <div class="tovar_img">
                                        <img src="{{BaseUrl}}img/theme/tovar/children/new/4.jpg" alt="" />
                                        <div class="open-project-link">
                                            <a class="open-project tovar_view" href="!projects/women/1.html" >quick view</a>
                                        </div>
                                    </div>
                                    <div class="tovar_description clearfix">
                                        <a class="tovar_title" href="product-page.html" >Baby one-piece in stripe</a>
                                        <span class="tovar_price">$18.00</span>
                                    </div>
                                </div><!-- //TOVAR -->
                            </li>
                            <li>
                                <!-- TOVAR -->
                                <div class="tovar_item_new">
                                    <div class="tovar_img">
                                        <img src="{{BaseUrl}}img/theme/tovar/children/new/5.jpg" alt="" />
                                        <div class="open-project-link">
                                            <a class="open-project tovar_view" href="!projects/women/1.html" >quick view</a>
                                        </div>
                                    </div>
                                    <div class="tovar_description clearfix">
                                        <a class="tovar_title" href="product-page.html" >Baby polo one-piece</a>
                                        <span class="tovar_price">$24.00</span>
                                    </div>
                                </div><!-- //TOVAR -->
                            </li>
                            <li>
                                <!-- TOVAR -->
                                <div class="tovar_item_new">
                                    <div class="tovar_img">
                                        <img src="{{BaseUrl}}img/theme/tovar/children/new/6.jpg" alt="" />
                                        <div class="open-project-link">
                                            <a class="open-project tovar_view" href="!projects/women/1.html" >quick view</a>
                                        </div>
                                    </div>
                                    <div class="tovar_description clearfix">
                                        <a class="tovar_title" href="product-page.html" >BOBO CHOSES BABY ONE-PIECE</a>
                                        <span class="tovar_price">$22.00</span>
                                    </div>
                                </div><!-- //TOVAR -->
                            </li>
                            <li>
                                <!-- TOVAR -->
                                <div class="tovar_item_new">
                                    <div class="tovar_img">
                                        <img src="{{BaseUrl}}img/theme/tovar/children/new/1.jpg" alt="" />
                                        <div class="open-project-link"><a class="open-project tovar_view" href="!projects/women/1.html" >quick view</a></div>
                                    </div>
                                    <div class="tovar_description clearfix">
                                        <a class="tovar_title" href="product-page.html" >BABY ONE-PIECE IN RUGBY STRIPE</a>
                                        <span class="tovar_price">$18.00</span>
                                    </div>
                                </div><!-- //TOVAR -->
                            </li>
                            <li>
                                <!-- TOVAR -->
                                <div class="tovar_item_new">
                                    <div class="tovar_img">
                                        <img src="{{BaseUrl}}img/theme/tovar/children/new/2.jpg" alt="" />
                                        <div class="open-project-link">
                                            <a class="open-project tovar_view" href="!projects/women/1.html" >quick view</a>
                                        </div>
                                    </div>
                                    <div class="tovar_description clearfix">
                                        <a class="tovar_title" href="product-page.html" >skirted one-piece in polka-dot heart</a>
                                        <span class="tovar_price">$38.00</span>
                                    </div>
                                </div><!-- //TOVAR -->
                            </li>
                            <li>
                                <!-- TOVAR -->
                                <div class="tovar_item_new">
                                    <div class="tovar_img">
                                        <img src="{{BaseUrl}}img/theme/tovar/children/new/3.jpg" alt="" />
                                        <div class="open-project-link">
                                            <a class="open-project tovar_view" href="!projects/women/1.html" >quick view</a>
                                        </div>
                                    </div>
                                    <div class="tovar_description clearfix">
                                        <a class="tovar_title" href="product-page.html" >Baby one-piece in heart stripe</a>
                                        <span class="tovar_price">$23.00</span>
                                    </div>
                                </div><!-- //TOVAR -->
                            </li>
                            <li>
                                <!-- TOVAR -->
                                <div class="tovar_item_new">
                                    <div class="tovar_img">
                                        <img src="{{BaseUrl}}img/theme/tovar/children/new/4.jpg" alt="" />
                                        <div class="open-project-link">
                                            <a class="open-project tovar_view" href="!projects/women/1.html" >quick view</a>
                                        </div>
                                    </div>
                                    <div class="tovar_description clearfix">
                                        <a class="tovar_title" href="product-page.html" >Baby one-piece in stripe</a>
                                        <span class="tovar_price">$18.00</span>
                                    </div>
                                </div><!-- //TOVAR -->
                            </li>
                        </ul>
                    </div>
                </div><!-- //JCAROUSEL -->
            </div><!-- //CONTAINER -->
        </section><!-- //NEW ARRIVALS -->
        
        
        <!-- BANNER SECTION -->
        <section class="banner_section">
            
            <!-- CONTAINER -->
            <div class="container" data-appear-top-offset='-100' data-animated='fadeInUp'>
            
                <!-- ROW -->
                <div class="row">
                    <div class="top_sale_banners center">
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 col-ss-12"><a class="banner nobord margbot30" href="javascript:void(0);" ><img src="{{BaseUrl}}img/theme/tovar/banner15.jpg" alt="" /></a></div>
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 col-ss-12"><a class="banner nobord margbot30" href="javascript:void(0);" ><img src="{{BaseUrl}}img/theme/tovar/banner16.jpg" alt="" /></a></div>
                    </div>
                </div><!-- //ROW -->
            </div><!-- //CONTAINER -->
        </section><!-- //BANNER SECTION -->
        
        
        <!-- BOYS & GIRLS -->
        <section class="new_arrivals padbot50">
            
            <!-- CONTAINER -->
            <div class="container">
                <h2>Boys & Girls</h2>
                
                <!-- JCAROUSEL -->
                <div class="jcarousel-wrapper">
                    
                    <!-- NAVIGATION -->
                    <div class="jCarousel_pagination">
                        <a href="javascript:void(0);" class="jcarousel-control-prev" ><i class="fa fa-angle-left"></i></a>
                        <a href="javascript:void(0);" class="jcarousel-control-next" ><i class="fa fa-angle-right"></i></a>
                    </div><!-- //NAVIGATION -->
                    
                    <div class="jcarousel" data-appear-top-offset='-100' data-animated='fadeInUp'>
                        <ul>
                            <li>
                                <!-- TOVAR -->
                                <div class="tovar_item_new">
                                    <div class="tovar_img">
                                        <img src="{{BaseUrl}}img/theme/tovar/children/new/7.jpg" alt="" />
                                        <div class="open-project-link"><a class="open-project tovar_view" href="!projects/women/1.html" >quick view</a></div>
                                    </div>
                                    <div class="tovar_description clearfix">
                                        <a class="tovar_title" href="product-page.html" >BABY ONE-PIECE IN RUGBY STRIPE</a>
                                        <span class="tovar_price">$18.00</span>
                                    </div>
                                </div><!-- //TOVAR -->
                            </li>
                            <li>
                                <!-- TOVAR -->
                                <div class="tovar_item_new">
                                    <div class="tovar_img">
                                        <img src="{{BaseUrl}}img/theme/tovar/children/new/8.jpg" alt="" />
                                        <div class="open-project-link">
                                            <a class="open-project tovar_view" href="!projects/women/1.html" >quick view</a>
                                        </div>
                                    </div>
                                    <div class="tovar_description clearfix">
                                        <a class="tovar_title" href="product-page.html" >skirted one-piece in polka-dot heart</a>
                                        <span class="tovar_price">$38.00</span>
                                    </div>
                                </div><!-- //TOVAR -->
                            </li>
                            <li>
                                <!-- TOVAR -->
                                <div class="tovar_item_new">
                                    <div class="tovar_img">
                                        <img src="{{BaseUrl}}img/theme/tovar/children/new/9.jpg" alt="" />
                                        <div class="open-project-link">
                                            <a class="open-project tovar_view" href="!projects/women/1.html" >quick view</a>
                                        </div>
                                    </div>
                                    <div class="tovar_description clearfix">
                                        <a class="tovar_title" href="product-page.html" >Baby one-piece in heart stripe</a>
                                        <span class="tovar_price">$23.00</span>
                                    </div>
                                </div><!-- //TOVAR -->
                            </li>
                            <li>
                                <!-- TOVAR -->
                                <div class="tovar_item_new">
                                    <div class="tovar_img">
                                        <img src="{{BaseUrl}}img/theme/tovar/children/new/10.jpg" alt="" />
                                        <div class="open-project-link">
                                            <a class="open-project tovar_view" href="!projects/women/1.html" >quick view</a>
                                        </div>
                                    </div>
                                    <div class="tovar_description clearfix">
                                        <a class="tovar_title" href="product-page.html" >Baby one-piece in stripe</a>
                                        <span class="tovar_price">$18.00</span>
                                    </div>
                                </div><!-- //TOVAR -->
                            </li>
                            <li>
                                <!-- TOVAR -->
                                <div class="tovar_item_new">
                                    <div class="tovar_img">
                                        <img src="{{BaseUrl}}img/theme/tovar/children/new/11.jpg" alt="" />
                                        <div class="open-project-link">
                                            <a class="open-project tovar_view" href="!projects/women/1.html" >quick view</a>
                                        </div>
                                    </div>
                                    <div class="tovar_description clearfix">
                                        <a class="tovar_title" href="product-page.html" >Baby polo one-piece</a>
                                        <span class="tovar_price">$24.00</span>
                                    </div>
                                </div><!-- //TOVAR -->
                            </li>
                            <li>
                                <!-- TOVAR -->
                                <div class="tovar_item_new">
                                    <div class="tovar_img">
                                        <img src="{{BaseUrl}}img/theme/tovar/children/new/12.jpg" alt="" />
                                        <div class="open-project-link">
                                            <a class="open-project tovar_view" href="!projects/women/1.html" >quick view</a>
                                        </div>
                                    </div>
                                    <div class="tovar_description clearfix">
                                        <a class="tovar_title" href="product-page.html" >BOBO CHOSES BABY ONE-PIECE</a>
                                        <span class="tovar_price">$22.00</span>
                                    </div>
                                </div><!-- //TOVAR -->
                            </li>
                            <li>
                                <!-- TOVAR -->
                                <div class="tovar_item_new">
                                    <div class="tovar_img">
                                        <img src="{{BaseUrl}}img/theme/tovar/children/new/7.jpg" alt="" />
                                        <div class="open-project-link"><a class="open-project tovar_view" href="!projects/women/1.html" >quick view</a></div>
                                    </div>
                                    <div class="tovar_description clearfix">
                                        <a class="tovar_title" href="product-page.html" >BABY ONE-PIECE IN RUGBY STRIPE</a>
                                        <span class="tovar_price">$18.00</span>
                                    </div>
                                </div><!-- //TOVAR -->
                            </li>
                            <li>
                                <!-- TOVAR -->
                                <div class="tovar_item_new">
                                    <div class="tovar_img">
                                        <img src="{{BaseUrl}}img/theme/tovar/children/new/8.jpg" alt="" />
                                        <div class="open-project-link">
                                            <a class="open-project tovar_view" href="!projects/women/1.html" >quick view</a>
                                        </div>
                                    </div>
                                    <div class="tovar_description clearfix">
                                        <a class="tovar_title" href="product-page.html" >skirted one-piece in polka-dot heart</a>
                                        <span class="tovar_price">$38.00</span>
                                    </div>
                                </div><!-- //TOVAR -->
                            </li>
                            <li>
                                <!-- TOVAR -->
                                <div class="tovar_item_new">
                                    <div class="tovar_img">
                                        <img src="{{BaseUrl}}img/theme/tovar/children/new/9.jpg" alt="" />
                                        <div class="open-project-link">
                                            <a class="open-project tovar_view" href="!projects/women/1.html" >quick view</a>
                                        </div>
                                    </div>
                                    <div class="tovar_description clearfix">
                                        <a class="tovar_title" href="product-page.html" >Baby one-piece in heart stripe</a>
                                        <span class="tovar_price">$23.00</span>
                                    </div>
                                </div><!-- //TOVAR -->
                            </li>
                            <li>
                                <!-- TOVAR -->
                                <div class="tovar_item_new">
                                    <div class="tovar_img">
                                        <img src="{{BaseUrl}}img/theme/tovar/children/new/10.jpg" alt="" />
                                        <div class="open-project-link">
                                            <a class="open-project tovar_view" href="!projects/women/1.html" >quick view</a>
                                        </div>
                                    </div>
                                    <div class="tovar_description clearfix">
                                        <a class="tovar_title" href="product-page.html" >Baby one-piece in stripe</a>
                                        <span class="tovar_price">$18.00</span>
                                    </div>
                                </div><!-- //TOVAR -->
                            </li>
                        </ul>
                    </div>
                </div><!-- //JCAROUSEL -->
            </div><!-- //CONTAINER -->
        </section><!-- //BOYS & GIRLS -->
        
        
        <!-- SERVICES SECTION -->
        <section class="services_section padbot30">
            
            <!-- CONTAINER -->
            <div class="container" data-appear-top-offset='-100' data-animated='fadeInUp'>
                
                <!-- ROW -->
                <div class="row">
                    
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col-ss-12 padbot30">
                        <div class="service_item">
                            <div class="clearfix"><i class="fa fa-truck"></i><p>Free Shipping</p></div>
                            <span>Thundercats squid single-origin coffee YOLO selfies disrupt, master cleanse semiotics letterpress typewriter.</span>
                        </div>
                    </div>
                        
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col-ss-12 padbot30">
                        <div class="service_item">
                            <div class="clearfix"><i class="fa fa-gift"></i><p>Many Gifts</p></div>
                            <span>Thundercats squid single-origin coffee YOLO selfies disrupt, master cleanse semiotics letterpress typewriter.</span>
                        </div>
                    </div>
                        
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col-ss-12 padbot30">
                        <div class="service_item">
                            <div class="clearfix"><i class="fa fa-check-square-o"></i><p>Assistance in selecting</p></div>
                            <span>Thundercats squid single-origin coffee YOLO selfies disrupt, master cleanse semiotics letterpress typewriter.</span>
                        </div>
                    </div>
                    
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col-ss-12 padbot30">
                        <div class="service_item">
                            <div class="clearfix"><i class="fa fa-credit-card"></i><p>Gift card for Free</p></div>
                            <span>Thundercats squid single-origin coffee YOLO selfies disrupt, master cleanse semiotics letterpress typewriter.</span>
                        </div>
                    </div>
                </div><!-- //ROW -->
            </div><!-- //CONTAINER -->
        </section><!-- //SERVICES SECTION -->
        
    <script type="text/javascript">
    /*-----------------------------------------------------------------------------------*/
    /*  FLEXSLIDER
    /*-----------------------------------------------------------------------------------*/
    $(document).ready(function() {
        //Top Slider
        $('.flexslider.top_slider').flexslider({
            animation: "fade",
            controlNav: true,
            directionNav: false,
            prevText: "",
            nextText: ""
        });

         jQuery('.shopping_bag .cart').hide();
        //Top Slider BG
        jQuery('.flexslider.top_slider li img.slide_bg').each(function() {
            jQuery(this).parent().attr('style', 'background-image:url(' + $(this).attr('src') + ');');
        });


        //Tovar View Carousel
        $('#carousel2').flexslider({
            animation: "slide",
            controlNav: false,
            directionNav: false,
            animationLoop: false,
            slideshow: false,
            direction: "vertical",
            asNavFor: '#slider2'
        });
        $('#slider2').flexslider({
            animation: "fade",
            controlNav: false,
            directionNav: false,
            animationLoop: false,
            slideshow: false,
            sync: "#carousel2"
        });
        jQuery('#carousel2 .slides li').click(function() {
            $('#carousel2 .slides li').removeClass('flex-active-slide');
            $(this).addClass('flex-active-slide');
            return false;
        });



        //Article Slider
        $('.flexslider.article_slider').flexslider({
            animation: "fade",
            controlNav: true,
            directionNav: false,
            prevText: "",
            nextText: ""
        });


    });
    (function($) {
    $(function() {
        $('.jcarousel').jcarousel();



        if ($(window).width() >= 768) {

            $('.jcarousel-control-prev')
                .on('jcarouselcontrol:active', function() {
                    $(this).removeClass('inactive');
                })
                .on('jcarouselcontrol:inactive', function() {
                    $(this).addClass('inactive');
                })
                .jcarouselControl({
                    target: '-=3'
                });

            $('.jcarousel-control-next')
                .on('jcarouselcontrol:active', function() {
                    $(this).removeClass('inactive');
                })
                .on('jcarouselcontrol:inactive', function() {
                    $(this).addClass('inactive');
                })
                .jcarouselControl({
                    target: '+=3'
                });


        } else {
            $('.jcarousel-control-prev')
                .on('jcarouselcontrol:active', function() {
                    $(this).removeClass('inactive');
                })
                .on('jcarouselcontrol:inactive', function() {
                    $(this).addClass('inactive');
                })
                .jcarouselControl({
                    target: '-=1'
                });

            $('.jcarousel-control-next')
                .on('jcarouselcontrol:active', function() {
                    $(this).removeClass('inactive');
                })
                .on('jcarouselcontrol:inactive', function() {
                    $(this).addClass('inactive');
                })
                .jcarouselControl({
                    target: '+=1'
                });

        }


        $('.jcarousel-pagination')
            .on('jcarouselpagination:active', 'a', function() {
                $(this).addClass('active');
            })
            .on('jcarouselpagination:inactive', 'a', function() {
                $(this).removeClass('active');
            })
            .jcarouselPagination();
            console.log("Width " + $(window).width());
    });
        
})(jQuery);
    </script>
