
        
        
        <!-- FASHION WEEK -->
        <section class="fashion_week parallax margbot50">
            
            <!-- CONTAINER -->
            <div class="container">
                <div class="fashion_week_description">
                    <p><b>fashion</b> Week</p>
                    <span>the best brands from around the world</span>
                </div>
                
                
                <!-- VIDEO BLOCK -->
                <div class="video_wrapper">
                    <div class="video_container" data-video="http://www.youtube.com/embed/GfX0753bUEE?version=3&amp;hl=en_US&amp;autoplay=1">
                        <i class="fa fa-play"></i>
                        <img src="{{BaseUrl}}img/theme/video_img.jpg" alt="" />
                    </div>
                </div><!-- //VIDEO BLOCK -->
            </div><!-- //CONTAINER -->
        </section><!-- FASHION WEEK -->
        
        
        <!-- BEST PRODUCTS -->
        <section class="best_products padbot60">
            
            <!-- CONTAINER -->
            <div class="container">
                <h2>See the best deals on products this week</h2>
                
                <!-- JCAROUSEL -->
                <div class="jcarousel-wrapper">
                    
                    <!-- NAVIGATION -->
                    <div class="jCarousel_pagination">
                        <a href="javascript:void(0);" class="jcarousel-control-prev" ><i class="fa fa-angle-left"></i></a>
                        <a href="javascript:void(0);" class="jcarousel-control-next" ><i class="fa fa-angle-right"></i></a>
                    </div><!-- //NAVIGATION -->
                    
                    <div class="jcarousel" data-appear-top-offset='-100' data-animated='fadeInUp'>
                        <ul>
                            
                            <!-- TOVAR1 -->
                            <li>
                                <div class="tovar_item">
                                    <div class="tovar_img">
                                        <div class="tovar_img_wrapper">
                                            <img class="img" src="{{BaseUrl}}img/theme/tovar/women/1.jpg" alt="" />
                                            <img class="img_h" src="{{BaseUrl}}img/theme/tovar/women/1_2.jpg" alt="" />
                                        </div>
                                        <div class="tovar_item_btns">
                                            <div class="open-project-link"><a class="open-project tovar_view" href="!projects/women/1.html" >quick view</a></div>
                                            <a class="add_bag" href="javascript:void(0);" ><i class="fa fa-shopping-cart"></i></a>
                                            <a class="add_lovelist" href="javascript:void(0);" ><i class="fa fa-heart"></i></a>
                                        </div>
                                    </div>
                                    <div class="tovar_description clearfix">
                                        <a class="tovar_title" href="product-page.html" >Popover Sweatshirt in Floral Jacquard</a>
                                        <span class="tovar_price">$98.00</span>
                                    </div>
                                </div>
                            </li><!-- //TOVAR1 -->
                            
                            <!-- TOVAR2 -->
                            <li>
                                <div class="tovar_item">
                                    <div class="tovar_img">
                                        <div class="tovar_img_wrapper">
                                            <img class="img" src="{{BaseUrl}}img/theme/tovar/women/2.jpg" alt="" />
                                            <img class="img_h" src="{{BaseUrl}}img/theme/tovar/women/2_2.jpg" alt="" />
                                        </div>
                                        <div class="tovar_item_btns">
                                            <div class="open-project-link"><a class="open-project tovar_view" href="!projects/women/2.html" >quick view</a></div>
                                            <a class="add_bag" href="javascript:void(0);" ><i class="fa fa-shopping-cart"></i></a>
                                            <a class="add_lovelist" href="javascript:void(0);" ><i class="fa fa-heart"></i></a>
                                        </div>
                                    </div>
                                    <div class="tovar_description clearfix">
                                        <a class="tovar_title" href="product-page.html" >Popover Sweatshirt in Floral Jacquard</a>
                                        <span class="tovar_price">$98.00</span>
                                    </div>
                                </div>
                            </li><!-- //TOVAR2 -->
                            
                            <!-- TOVAR3 -->
                            <li>
                                <div class="tovar_item">
                                    <div class="tovar_img">
                                        <div class="tovar_img_wrapper">
                                            <img class="img" src="{{BaseUrl}}img/theme/tovar/women/3.jpg" alt="" />
                                            <img class="img_h" src="{{BaseUrl}}img/theme/tovar/women/3_2.jpg" alt="" />
                                        </div>
                                        <div class="tovar_item_btns">
                                            <div class="open-project-link"><a class="open-project tovar_view" href="!projects/women/3.html" >quick view</a></div>
                                            <a class="add_bag" href="javascript:void(0);" ><i class="fa fa-shopping-cart"></i></a>
                                            <a class="add_lovelist" href="javascript:void(0);" ><i class="fa fa-heart"></i></a>
                                        </div>
                                    </div>
                                    <div class="tovar_description clearfix">
                                        <a class="tovar_title" href="product-page.html" >Popover Sweatshirt in Floral Jacquard</a>
                                        <span class="tovar_price">$98.00</span>
                                    </div>
                                </div>
                            </li><!-- //TOVAR3 -->
                            
                            <!-- TOVAR4 -->
                            <li>
                                <div class="tovar_item">
                                    <div class="tovar_img">
                                        <div class="tovar_img_wrapper">
                                            <img class="img" src="{{BaseUrl}}img/theme/tovar/women/4.jpg" alt="" />
                                            <img class="img_h" src="{{BaseUrl}}img/theme/tovar/women/4_2.jpg" alt="" />
                                        </div>
                                        <div class="tovar_item_btns">
                                            <div class="open-project-link"><a class="open-project tovar_view" href="!projects/women/4.html" >quick view</a></div>
                                            <a class="add_bag" href="javascript:void(0);" ><i class="fa fa-shopping-cart"></i></a>
                                            <a class="add_lovelist" href="javascript:void(0);" ><i class="fa fa-heart"></i></a>
                                        </div>
                                    </div>
                                    <div class="tovar_description clearfix">
                                        <a class="tovar_title" href="product-page.html" >Popover Sweatshirt in Floral Jacquard</a>
                                        <span class="tovar_price">$98.00</span>
                                    </div>
                                </div>
                            </li><!-- //TOVAR4 -->
                            
                            <!-- TOVAR5 -->
                            <li>
                                <div class="tovar_item">
                                    <div class="tovar_img">
                                        <div class="tovar_img_wrapper">
                                            <img class="img" src="{{BaseUrl}}img/theme/tovar/women/5.jpg" alt="" />
                                            <img class="img_h" src="{{BaseUrl}}img/theme/tovar/women/5_2.jpg" alt="" />
                                        </div>
                                        <div class="tovar_item_btns">
                                            <div class="open-project-link"><a class="open-project tovar_view" href="!projects/women/5.html" >quick view</a></div>
                                            <a class="add_bag" href="javascript:void(0);" ><i class="fa fa-shopping-cart"></i></a>
                                            <a class="add_lovelist" href="javascript:void(0);" ><i class="fa fa-heart"></i></a>
                                        </div>
                                    </div>
                                    <div class="tovar_description clearfix">
                                        <a class="tovar_title" href="product-page.html" >Popover Sweatshirt in Floral Jacquard</a>
                                        <span class="tovar_price">$98.00</span>
                                    </div>
                                </div>
                            </li><!-- //TOVAR5 -->
                            
                            <!-- TOVAR6 -->
                            <li>
                                <div class="tovar_item">
                                    <div class="tovar_img">
                                        <div class="tovar_img_wrapper">
                                            <img class="img" src="{{BaseUrl}}img/theme/tovar/women/6.jpg" alt="" />
                                            <img class="img_h" src="{{BaseUrl}}img/theme/tovar/women/6_2.jpg" alt="" />
                                        </div>
                                        <div class="tovar_item_btns">
                                            <div class="open-project-link"><a class="open-project tovar_view" href="!projects/women/6.html" >quick view</a></div>
                                            <a class="add_bag" href="javascript:void(0);" ><i class="fa fa-shopping-cart"></i></a>
                                            <a class="add_lovelist" href="javascript:void(0);" ><i class="fa fa-heart"></i></a>
                                        </div>
                                    </div>
                                    <div class="tovar_description clearfix">
                                        <a class="tovar_title" href="product-page.html" >Popover Sweatshirt in Floral Jacquard</a>
                                        <span class="tovar_price">$98.00</span>
                                    </div>
                                </div>
                            </li><!-- //TOVAR6 -->
                        </ul>
                    </div>
                </div><!-- //JCAROUSEL -->
            </div><!-- //CONTAINER -->
        </section><!-- //BEST PRODUCTS -->
        
        
        <!-- BRANDS -->
        <section class="brands_carousel padbot40">
            
            <!-- CONTAINER -->
            <div class="container">
                
                <!-- JCAROUSEL -->
                <div class="jcarousel-wrapper">
                    
                    <!-- NAVIGATION -->
                    <div class="jCarousel_pagination">
                        <a href="javascript:void(0);" class="jcarousel-control-prev" ><i class="fa fa-angle-left"></i></a>
                        <a href="javascript:void(0);" class="jcarousel-control-next" ><i class="fa fa-angle-right"></i></a>
                    </div><!-- //NAVIGATION -->
                    
                    <div class="jcarousel" data-appear-top-offset='-100' data-animated='fadeInUp'>
                        <ul>
                            <li><a href="javascript:void(0);" ><img src="{{BaseUrl}}img/theme/brands/1.jpg" alt="" /></a></li>
                            <li><a href="javascript:void(0);" ><img src="{{BaseUrl}}img/theme/brands/2.jpg" alt="" /></a></li>
                            <li><a href="javascript:void(0);" ><img src="{{BaseUrl}}img/theme/brands/3.jpg" alt="" /></a></li>
                            <li><a href="javascript:void(0);" ><img src="{{BaseUrl}}img/theme/brands/4.jpg" alt="" /></a></li>
                            <li><a href="javascript:void(0);" ><img src="{{BaseUrl}}img/theme/brands/5.jpg" alt="" /></a></li>
                            <li><a href="javascript:void(0);" ><img src="{{BaseUrl}}img/theme/brands/6.jpg" alt="" /></a></li>
                            <li><a href="javascript:void(0);" ><img src="{{BaseUrl}}img/theme/brands/7.jpg" alt="" /></a></li>
                            <li><a href="javascript:void(0);" ><img src="{{BaseUrl}}img/theme/brands/8.jpg" alt="" /></a></li>
                            <li><a href="javascript:void(0);" ><img src="{{BaseUrl}}img/theme/brands/9.jpg" alt="" /></a></li>
                            <li><a href="javascript:void(0);" ><img src="{{BaseUrl}}img/theme/brands/10.jpg" alt="" /></a></li>
                            <li><a href="javascript:void(0);" ><img src="{{BaseUrl}}img/theme/brands/11.jpg" alt="" /></a></li>
                            <li><a href="javascript:void(0);" ><img src="{{BaseUrl}}img/theme/brands/12.jpg" alt="" /></a></li>
                        </ul>
                    </div>
                </div><!-- //JCAROUSEL -->
            </div><!-- //CONTAINER -->
        </section><!-- //BRANDS -->
        
        
        <!-- BANNER SECTION -->
        <section class="banner_section padbot40">
            
            <!-- CONTAINER -->
            <div class="container" data-appear-top-offset='-100' data-animated='fadeInUp'>
            
                <!-- ROW -->
                <div class="row">
                    <div class="top_sale_banners center">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col-ss-12"><a class="banner nobord margbot30" href="javascript:void(0);" ><img src="{{BaseUrl}}img/theme/tovar/banner6.jpg" alt="" /></a></div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col-ss-12"><a class="banner nobord margbot30" href="javascript:void(0);" ><img src="{{BaseUrl}}img/theme/tovar/banner8.jpg" alt="" /></a></div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col-ss-12"><a class="banner nobord margbot30" href="javascript:void(0);" ><img src="{{BaseUrl}}img/theme/tovar/banner9.jpg" alt="" /></a></div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col-ss-12"><a class="banner nobord margbot30" href="javascript:void(0);" ><img src="{{BaseUrl}}img/theme/tovar/banner10.jpg" alt="" /></a></div>
                    </div>
                </div><!-- //ROW -->
            </div><!-- //CONTAINER -->
        </section><!-- //BANNER SECTION -->
        
    <script type="text/javascript">
    /*-----------------------------------------------------------------------------------*/
    /*  FLEXSLIDER
    /*-----------------------------------------------------------------------------------*/
    $(document).ready(function() {
        //Top Slider
        $('.flexslider.top_slider').flexslider({
            animation: "fade",
            controlNav: true,
            directionNav: false,
            prevText: "",
            nextText: ""
        });

         jQuery('.shopping_bag .cart').hide();
        //Top Slider BG
        jQuery('.flexslider.top_slider li img.slide_bg').each(function() {
            jQuery(this).parent().attr('style', 'background-image:url(' + $(this).attr('src') + ');');
        });


        //Tovar View Carousel
        $('#carousel2').flexslider({
            animation: "slide",
            controlNav: false,
            directionNav: false,
            animationLoop: false,
            slideshow: false,
            direction: "vertical",
            asNavFor: '#slider2'
        });
        $('#slider2').flexslider({
            animation: "fade",
            controlNav: false,
            directionNav: false,
            animationLoop: false,
            slideshow: false,
            sync: "#carousel2"
        });
        jQuery('#carousel2 .slides li').click(function() {
            $('#carousel2 .slides li').removeClass('flex-active-slide');
            $(this).addClass('flex-active-slide');
            return false;
        });



        //Article Slider
        $('.flexslider.article_slider').flexslider({
            animation: "fade",
            controlNav: true,
            directionNav: false,
            prevText: "",
            nextText: ""
        });


    });
    (function($) {
    $(function() {
        $('.jcarousel').jcarousel();



        if ($(window).width() >= 768) {

            $('.jcarousel-control-prev')
                .on('jcarouselcontrol:active', function() {
                    $(this).removeClass('inactive');
                })
                .on('jcarouselcontrol:inactive', function() {
                    $(this).addClass('inactive');
                })
                .jcarouselControl({
                    target: '-=3'
                });

            $('.jcarousel-control-next')
                .on('jcarouselcontrol:active', function() {
                    $(this).removeClass('inactive');
                })
                .on('jcarouselcontrol:inactive', function() {
                    $(this).addClass('inactive');
                })
                .jcarouselControl({
                    target: '+=3'
                });


        } else {
            $('.jcarousel-control-prev')
                .on('jcarouselcontrol:active', function() {
                    $(this).removeClass('inactive');
                })
                .on('jcarouselcontrol:inactive', function() {
                    $(this).addClass('inactive');
                })
                .jcarouselControl({
                    target: '-=1'
                });

            $('.jcarousel-control-next')
                .on('jcarouselcontrol:active', function() {
                    $(this).removeClass('inactive');
                })
                .on('jcarouselcontrol:inactive', function() {
                    $(this).addClass('inactive');
                })
                .jcarouselControl({
                    target: '+=1'
                });

        }


        $('.jcarousel-pagination')
            .on('jcarouselpagination:active', 'a', function() {
                $(this).addClass('active');
            })
            .on('jcarouselpagination:inactive', 'a', function() {
                $(this).removeClass('active');
            })
            .jcarouselPagination();
            console.log("Width " + $(window).width());
    });
        
})(jQuery);
    </script>
