<div id="page">
    <!-- HOME -->
    <section id="home" class="padbot0 margbot40">

        <!-- TOP SLIDER -->
        <div class="flexslider top_slider sale_page">
            <ul class="slides">
                <li>
                    <a href="{{ThemeSettings.theme_settings.slide_1_link}}">
                        <img ng-if="ThemeSettings.theme_settings.slide_1_img" src="{{ThemeSettings.theme_settings.slide_1_img}}" alt="" />
                        <img ng-if="!ThemeSettings.theme_settings.slide_1_img" src="{{BaseUrl}}img/theme/slider/sale_bg1.jpg" alt="" />
                    </a>

                </li>

                <li>
                    <a href="{{ThemeSettings.theme_settings.slide_2_link}}">
                        <img ng-if="ThemeSettings.theme_settings.slide_2_img" src="{{ThemeSettings.theme_settings.slide_2_img}}" alt="" />
                        <img ng-if="!ThemeSettings.theme_settings.slide_2_img" src="{{BaseUrl}}img/theme/slider/sale_bg1.jpg" alt="" />

                    </a>

                </li>
            </ul>
        </div>
        <!-- //TOP SLIDER -->
    </section>
    <!-- //HOME -->


    <!-- BANNER SECTION -->
    <section class="banner_section">

        <!-- CONTAINER -->
        <div class="container">

            <!-- ROW -->
            <div class="row">
                <div class="top_sale_banners center" ng-if="ThemeSettings.theme_settings.slide_3_img || ThemeSettings.theme_settings.slide_4_img || ThemeSettings.theme_settings.slide_5_img">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 col-ss-12">
                        <a class="banner nobord margbot30" href="{{ThemeSettings.theme_settings.slide_3_link}}">
                            <img src="{{ThemeSettings.theme_settings.slide_3_img}}" alt="" />
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 col-ss-12">
                        <a class="banner nobord margbot30" href="{{ThemeSettings.theme_settings.slide_4_link}}">
                            <img src="{{ThemeSettings.theme_settings.slide_4_img}}" alt="" />
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-ss-12">
                        <a class="banner nobord margbot30" href="{{ThemeSettings.theme_settings.slide_5_link}}">
                            <img src="{{ThemeSettings.theme_settings.slide_5_img}}" alt="" />
                        </a>
                    </div>
                </div>
            </div>
            <!-- //ROW -->
        </div>
        <!-- //CONTAINER -->
    </section>
    <!-- //BANNER SECTION -->

    <!-- NEW ARRIVALS -->
    <section class="new_arrivals padbot50">

        <!-- CONTAINER -->
        <div class="container">
            <h2>FINAL SALE ITEMS</h2>

            <!-- JCAROUSEL -->
            <div class="jcarousel-wrapper" id="myCarousel" boot-carousel>

            <div ng-repeat="(ThemeId,ThemeFeature) in ThemeSettings.theme_settings.featuredproduct track by $index">
                <div ng-repeat="collection in ListCollection | filter:{collectionName:SearchCollection}">
                    <div ng-show="(collection.id == ThemeId)">
                            <!-- NAVIGATION -->
                            <div class="jCarousel_pagination">
                                <a href="" class="jcarousel-control-prev" ng-click="carouselPrev()"><i class="fa fa-angle-left"></i></a>
                                <a href="" class="jcarousel-control-next" ng-click="carouselNext()"><i class="fa fa-angle-right"></i></a>
                            </div>
                            <!-- //NAVIGATION -->

                            <div class="jcarousel">
                                <ul>
                                    <li data-ng-repeat="(prodID,products) in ListProduct | CustomFilter:{collection:collection.collectionName}" data-blogs-repeat-directive>
                                        <!-- TOVAR -->
                                        <div class="tovar_item_new">
                                            <div class="tovar_img">
                                                <img src="{{products.productImage[0].Image}}" alt="" />
                                                <div class="open-project-link"><a class="open-project tovar_view" href="!projects/women/1.html">quick view</a>
                                                </div>
                                            </div>
                                            <div class="tovar_description clearfix">
                                                <a class="tovar_title" href="product-page.html">{{products.productName}}</a>
                                                <span class="tovar_price">$98.00</span>
                                            </div>
                                        </div>
                                        <!-- //TOVAR -->
                                    </li>
                                </ul>
                            </div>

                            <script type="text/javascript">
                                 $('#myCarousel').jcarousel();
                            </script>

                        </div>
                    </div>
                </div>
            </div>
            <!-- //JCAROUSEL -->
        </div>
        <!-- //CONTAINER -->
    </section>
    <!-- //NEW ARRIVALS -->

    <div>
        <div ng-if="ThemeSettings.theme_settings.enable_featuredproduct">
            <carousel interval="myInterval">

                <div ng-repeat="(ThemeId,ThemeFeature) in ThemeSettings.theme_settings.featuredproduct track by $index">
                    <div ng-if="ThemeFeature">
                        <div ng-repeat="collection in ListCollection | filter:{collectionName:SearchCollection}">
                            <div ng-show="(collection.id == ThemeId)">

                                <carousel>
                                    <slide ng-repeat="(prodID,products) in ListProduct | CustomFilter:{collection:collection.collectionName}">
                                        <div class="tovar_item_new">
                                            <div class="tovar_img">
                                                <img src="{{products.productImage[0].Image}}" alt="" />
                                                <div class="open-project-link"><a class="open-project tovar_view" href="!projects/women/1.html">quick view</a>
                                                </div>
                                            </div>
                                            <div class="tovar_description clearfix">
                                                <a class="tovar_title" href="product-page.html">{{products.productName}}</a>
                                                <span class="tovar_price">{{SettingGeneral.settings.currencies_format}} {{products.productPrice}}</span>
                                            </div>
                                        </div>

                                    </slide>
                                </carousel>
                            </div>
                        </div>
                    </div>
                </div>

            </carousel>
        </div>
    </div>
</div>



<script type="text/javascript">
/*-----------------------------------------------------------------------------------*/
/*  FLEXSLIDER
    /*-----------------------------------------------------------------------------------*/
$(document).ready(function() {
    //Top Slider
    $('.flexslider.top_slider').flexslider({
        animation: "fade",
        controlNav: true,
        directionNav: false,
        prevText: "",
        nextText: ""
    });

    jQuery('.shopping_bag .cart').hide();
    //Top Slider BG
    jQuery('.flexslider.top_slider li img.slide_bg').each(function() {
        jQuery(this).parent().attr('style', 'background-image:url(' + $(this).attr('src') + ');');
    });


    //Tovar View Carousel
    $('#carousel2').flexslider({
        animation: "slide",
        controlNav: false,
        directionNav: false,
        animationLoop: false,
        slideshow: false,
        direction: "vertical",
        asNavFor: '#slider2'
    });
    $('#slider2').flexslider({
        animation: "fade",
        controlNav: false,
        directionNav: false,
        animationLoop: false,
        slideshow: false,
        sync: "#carousel2"
    });
    jQuery('#carousel2 .slides li').click(function() {
        $('#carousel2 .slides li').removeClass('flex-active-slide');
        $(this).addClass('flex-active-slide');
        return false;
    });



    //Article Slider
    $('.flexslider.article_slider').flexslider({
        animation: "fade",
        controlNav: true,
        directionNav: false,
        prevText: "",
        nextText: ""
    });


});

(function($) {
    $(function() {
        // $('.jcarousel').jcarousel();
        $('#myCarousel').jcarousel();

        if ($(window).width() >= 768) {
            $('.jcarousel-control-prev')
                .on('jcarouselcontrol:active', function() {
                    $(this).removeClass('inactive');
                })
                .on('jcarouselcontrol:inactive', function() {
                    $(this).addClass('inactive');
                })
                .jcarouselControl({
                    target: '-=3'
                });

            $('.jcarousel-control-next')
                .on('jcarouselcontrol:active', function() {
                    $(this).removeClass('inactive');
                })
                .on('jcarouselcontrol:inactive', function() {
                    $(this).addClass('inactive');
                })
                .jcarouselControl({
                    target: '+=3'
                });
        } else {
            $('.jcarousel-control-prev')
                .on('jcarouselcontrol:active', function() {
                    $(this).removeClass('inactive');
                })
                .on('jcarouselcontrol:inactive', function() {
                    $(this).addClass('inactive');
                })
                .jcarouselControl({
                    target: '-=1'
                });

            $('.jcarousel-control-next')
                .on('jcarouselcontrol:active', function() {
                    $(this).removeClass('inactive');
                })
                .on('jcarouselcontrol:inactive', function() {
                    $(this).addClass('inactive');
                })
                .jcarouselControl({
                    target: '+=1'
                });

        }


        $('.jcarousel-pagination')
            .on('jcarouselpagination:active', 'a', function() {
                $(this).addClass('active');
            })
            .on('jcarouselpagination:inactive', 'a', function() {
                $(this).removeClass('active');
            })
            .jcarouselPagination();
    });
})(jQuery);
</script>
/*<!-- home previous -->*/


    <div id="page">
        <section id="home" class="padbot0">
            <!-- TOP SLIDER -->
            <div class="flexslider top_slider">
                <ul class="slides">
                    <li class="slide1">
                        <!-- CONTAINER -->
                        <div class="container">
                            <div class="flex_caption1">
                                <p class="title1 captionDelay2 FromTop">mega sell</p>
                                <p class="title2 captionDelay3 FromTop">last week of sales</p>
                            </div>
                            <a class="flex_caption2" href="javascript:void(0);">
                                <div class="middle">sale
                                    <span>shop</span>now</div>
                            </a>
                            <div class="flex_caption3 slide_banner_wrapper">
                                <a class="slide_banner slide1_banner1 captionDelay4 FromBottom" href="javascript:void(0);">
                                    <img src="{{ThemeSettings.theme_settings.slide_1_img}}" alt="" />
                                </a>
                                <a class="slide_banner slide1_banner2 captionDelay5 FromBottom" href="javascript:void(0);">
                                    <img src="{{ThemeSettings.theme_settings.slide_2_img}}" alt="" />
                                </a>
                                <a class="slide_banner slide1_banner3 captionDelay6 FromBottom" href="javascript:void(0);">
                                    <img src="{{ThemeSettings.theme_settings.slide_3_img}}" alt="" />
                                </a>
                            </div>
                        </div>
                        <!-- //CONTAINER -->
                    </li>
                </ul>
            </div>
            <!-- //TOP SLIDER -->
        </section>
        <!-- //HOME -->
        <!-- TOVAR SECTION -->
        <section class="tovar_section" ng-repeat="collection in ListCollection  | filter:{collectionName:'Featured'}">

            <!-- CONTAINER -->
            <div class="container" ng-show="(collection.collectionName != 'Frontpage')">
                <div ng-if="routeParam == collection.collectionUrl || routeParam == 'all' || !routeParam">
                    <h2>{{collection.collectionName}} products</h2>


                    <!-- ROW -->
                    <div class="row">

                        <!-- TOVAR WRAPPER -->
                        <div class="tovar_wrapper" data-appear-top-offset='-100' data-animated='fadeInUp'>

                            <!-- TOVAR1 -->
                            <div ng-controller="ModalDemoCtrl" class="col-lg-3 col-md-3 col-sm-4 col-xs-6 col-ss-12 padbot40" ng-animate="'animate'" ng-repeat="products in ListProduct | CustomFilter:{collection:'Featured'}">
                                <div class="tovar_item">
                                    <div class="tovar_img" style="height: 338;">
                                        <div class="tovar_img_wrapper">
                                            <img ng-if="products.productImage[0].Image" class="img" src="{{products.productImage[0].Image}}" alt="" />
                                            <img ng-if="!products.productImage[0].Image" class="img" src="{{BaseUrl}}img/theme/photo_default.png" alt="" />
                                            <img class="img_h" src="{{BaseUrl}}img/theme/tovar/women/1_2.jpg" alt="" />
                                        </div>
                                        <div class="tovar_item_btns">
                                            <div class="open-project-link" ng-controller="GlobalCtrl">
                                                <a class="open-project tovar_view" ng-click="preproduct(products.productUrl);open('lg')">quick view</a>
                                            
                                                <form ng-if="!products.productMultiOptions" name="addtoCart"  ng-submit="addToCart(products.id,products);" style="display:inline-block;">
                                                    <button class="cart-btn fa fa-shopping-cart" type="submit" name="submit"></button>
                                                </form>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="tovar_description clearfix">
                                        <a class="tovar_title" href="./product/{{products.productUrl}}">{{products.productName}}</a>

                                        <span ng-if="!products.productMultiOptions" class="tovar_price">{{SettingGeneral.settings.currencies_format}} {{products.productPrice}}</span>
                                        <span ng-if="products.productMultiOptions" class="tovar_price">{{SettingGeneral.settings.currencies_format}} {{products.productPrice}}</span>
                                    </div>
                                </div>
                            </div>
                            <!-- //TOVAR1 -->
                            <div class="respond_clear_768"></div>

                            <!-- BANNER -->
                            <!-- <div class="col-lg-3 col-md-3 col-xs-6 col-ss-12">
                            <a class="banner type1 margbot30" href="javascript:void(0);">
                                <img src="{{BaseUrl}}img/theme/tovar/banner1.jpg" alt="" />
                            </a>
                            <a class="banner type2 margbot40" href="javascript:void(0);">
                                <img src="{{BaseUrl}}img/theme/tovar/banner2.jpg" alt="" />
                            </a>
                        </div> -->
                            <!-- //BANNER -->
                        </div>
                        <!-- //TOVAR WRAPPER -->
                    </div>
                    <!-- //ROW -->

                    <!-- ROW -->
                    <div class="row">

                        <!-- BANNER WRAPPER -->
                        <div class="banner_wrapper" data-appear-top-offset='-100' data-animated='fadeInUp'>
                            <!-- BANNER -->
                            <div class="col-lg-9 col-md-9">
                                <a class="banner type4 margbot40" href="javascript:void(0);">
                                    <img src="{{BaseUrl}}img/theme/tovar/banner4.jpg" alt="" />
                                </a>
                            </div>
                            <!-- //BANNER -->

                            <!-- BANNER -->
                            <div class="col-lg-3 col-md-3">
                                <a class="banner nobord margbot40" href="javascript:void(0);">
                                    <img src="{{BaseUrl}}img/theme/tovar/banner5.jpg" alt="" />
                                </a>
                            </div>
                            <!-- //BANNER -->
                        </div>
                        <!-- //BANNER WRAPPER -->
                    </div>
                    <!-- //ROW -->
                </div>
            </div>
            <!-- //CONTAINER -->
        </section>
        <!-- //TOVAR SECTION -->
        <!-- NEW ARRIVALS -->
        <section class="new_arrivals padbot50" ng-repeat="collection in ListCollection  | filter:{collectionName:'New Arrivals'}">

            <!-- CONTAINER -->
            <div class="container" ng-show="(collection.collectionName != 'Frontpage')">
                <div ng-if="routeParam == collection.collectionUrl || routeParam == 'all' || !routeParam">
                    <h2>{{collection.collectionName}}</h2>

                    <!-- JCAROUSEL -->
                    <div class="jcarousel-wrapper" ng-controller="ModalDemoCtrl">
                        <div class="jcarousel" data-appear-top-offset='-100' data-animated='fadeInUp'>
                            <ul>
                                <li ng-animate="'animate'" ng-repeat="products in ListProduct | CustomFilter:{collection:'Featured'}" style="min-height:340px;">
                                    <!-- TOVAR -->
                                    <div class="tovar_item_new">
                                        <div class="tovar_img">
                                            <img  ng-if="products.productImage[0].Image" src="{{products.productImage[0].Image}}" alt="" />
                                            <img ng-if="!products.productImage[0].Image" src="{{BaseUrl}}img/theme/photo_default.png" alt="" style="height: 215px;">
                                            <div class="open-project-link" ng-controller="GlobalCtrl">
                                            <a class="open-project tovar_view" ng-click="preproduct(products.productUrl);open('lg')">quick view</a>
                                            </div>
                                        </div>
                                        <div class="tovar_description clearfix">
                                            <a class="tovar_title" href="./product/{{products.productUrl}}">{{products.productName}}</a>
                                            <span ng-if="!products.productMultiOptions" class="tovar_price">{{SettingGeneral.settings.currencies_format}} {{products.productPrice}}</span>
                                            <span ng-if="products.productMultiOptions" class="tovar_price">{{SettingGeneral.settings.currencies_format}} {{products.productPrice}}</span>
                                        </div>
                                    </div>
                                    <!-- //TOVAR -->
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- //JCAROUSEL -->
                </div>
            </div>
            <!-- //CONTAINER -->
        </section>
        <!-- //NEW ARRIVALS -->
       
    </div>
    <div ng-controller="ModalDemoCtrl">
        <script type="text/ng-template" id="myModalContent.html">
        <div id="tovar_content">
    <div class="tover_view_page element_fade_in">
        <div class="tover_view_header clearfix">
            <p>Quick view
            </p>
            <a ng-click="cancel()" style="float: right;">Close<i style="border: 1px solid black;padding-left: 4px;padding-right:4px;margin-left: 6px;cursor: pointer;">X</i> </a>
        </div>
        <!-- CLEARFIX -->
        <div class="clearfix padbot40" ng-repeat="(key,product) in ListProduct | CustomFilter:{productUrl : popupProductUrl}">
            <div class="tovar_view_fotos clearfix">
                <div id="slider2" class="flexslider">
                    <ul class="slides">
                        <li>
                            <a href="javascript:void(0);">
                                <img  ng-if="product.productImage[0].Image" src="{{product.productImage[0].Image}}" alt="" />
                                <img ng-if="!product.productImage[0].Image" src="{{BaseUrl}}img/theme/photo_default.png" alt="" />
                            </a>
                        </li>
                    </ul>
                </div>
                <div id="carousel2" class="flexslider">
                    <ul class="slides">
                        <li>
                            <a href="">
                                <img src="{{product.productImage[0].Image}}" alt="" />
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="{{product.productImage[0].Image}}" alt="" />
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="{{product.productImage[0].Image}}" alt="" />
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="{{product.productImage[0].Image}}" alt="" />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="tovar_view_description">
                <div class="tovar_view_title">{{product.productName}}</div>

                <div class="clearfix tovar_brend_price">
                    <div class="pull-right tovar_view_price" ng-if="!product.productMultiOptions">{{SettingGeneral.settings.currencies_format}} {{product.productPrice}}</div>
                    <div class="pull-right tovar_view_price" ng-if="product.productMultiOptions">{{SettingGeneral.settings.currencies_format}} {{product.productPrice}}</div>
                </div>
                <form name="addtoCart"  ng-submit="addToCart(product.id,product,cancel());">
                    <div ng-if="product.productMultiOptions">
                        <div class="tovar_color_select" ng-repeat="valueSize in product.productMultiOptionsList">
                            <p>{{valueSize.name}}</p>
                            <select ng-options="parms as parms for parms in valueSize.value" required ng-model="product.productVarientModel[valueSize.name]" style="width:150px;">
                                <option value="">Select {{valueSize.name}}</option>
                                <!-- <option ng-repeat="parms in valueSize.value" value="{{parms}}">{{parms}} </option>-->
                            </select>
                        </div>
                    </div>
                    <div class="tovar_view_btn">
                        <!--  <select class="basic" ng-model="product.productQuantity">
                                        <option value="">QTY</option>
                                        <option>Lo</option>
                                        <option>Ips</option>
                                        <option>Dol</option>
                                        <option>Sit</option>
                                        <option>Amet</option>
                                    </select> -->
                        <div class="fancy-select">

                            <p>Quantity:</p>
                            <select class="basic fancified" ng-model="product.productQuantity" type="number">
                                <option value="">Select Quantity</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                        <button class="add_bag" type="submit" value="Add"><i class="fa fa-shopping-cart"></i>Add to bag</button>

                    </div>
                </form>
                <div class="tovar_shared clearfix">
                    <p>Share item with friends</p>
                    <ul>
                        <li><a class="facebook" href="javascript:void(0);"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a class="twitter" href="javascript:void(0);"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a class="linkedin" href="javascript:void(0);"><i class="fa fa-linkedin"></i></a>
                        </li>
                        <li><a class="google-plus" href="javascript:void(0);"><i class="fa fa-google-plus"></i></a>
                        </li>
                        <li><a class="tumblr" href="javascript:void(0);"><i class="fa fa-tumblr"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- //CLEARFIX -->

    </div>
</div>


        </script>
    </div>