
<div id="page">
    <!-- BREADCRUMBS -->
    <section class="breadcrumb parallax margbot30" style="background: url({{ThemeSettings.theme_settings.slide_collection_2_img}}) no-repeat;background-size:cover;"></section>
    <!-- //BREADCRUMBS -->
    <!-- TOVAR DETAILS -->
    <section class="tovar_details padbot70">
        <!-- CONTAINER -->
        <div class="container">
            <!-- ROW -->
            <div class="row">
                <!-- SIDEBAR TOVAR DETAILS -->
                <div class="col-lg-3 col-md-3 sidebar_tovar_details">
                    <h3><b>Related Products</b>
                    </h3>
                    <ul class="tovar_items_small clearfix">
                        <li class="clearfix" ng-repeat="products in ListProduct  | filter: {productType: product.productType} | limitTo:4" ng-show="products.productName != product.productName">
                            <img ng-if="products.productImage[0].Image" class="tovar_item_small_img" src="{{products.productImage[0].Image}}" alt="" />
                            <img ng-if="!products.productImage[0].Image" class="tovar_item_small_img" src="{{BaseUrl}}img/theme/photo_default.png" alt="" />
                            <a ng-if="products.productName != product.productName" href="/product/{{products.productUrl}}" class="tovar_item_small_title">{{products.productName}}</a>
                            <span ng-if="!products.productMultiOptions" class="tovar_item_small_price">{{SettingGeneral.settings.currencies_format}} {{products.productPrice}}</span>
                            <span ng-if="products.productMultiOptions" class="tovar_item_small_price">{{SettingGeneral.settings.currencies_format}} {{products.productPrice}}</span>
                        </li>
                    </ul>
                </div>
                <!-- //SIDEBAR TOVAR DETAILS -->
                <!-- TOVAR DETAILS WRAPPER -->
                <div class="col-lg-9 col-md-9 tovar_details_wrapper clearfix">

                        <div class="tovar_details_header clearfix margbot35" ng-repeat="(key,product) in ListProduct | CustomFilter:{productUrl : routeParam}">
                            <h3 class="pull-left"><b>{{product.productName}}</b></h3>
                            
                            
                        </div>
                    

                    <!-- CLEARFIX -->
                    <div class="clearfix padbot30" ng-repeat="(prodID,product) in ListProduct | CustomFilter:{productUrl : routeParam}">
                        <div class="tovar_view_fotos clearfix">
                            <div class="slider-product">
                                <ul>
                                    <li>
                                        <a>
                                            <img id="image-show-zero" ng-if="product.productImage[0].Image" src="{{product.productImage[0].Image}}" alt="" style="background:url('{{BaseUrl}}img/theme/preloader.gif') center no-repeat;"/>
                                            <img ng-if="!product.productImage[0].Image" src="{{BaseUrl}}/img/theme/tovar/women/1_2.jpg" alt="" />
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <img id="image-show-one" src="{{product.productImage[1].Image}}" alt="" style="background:url('{{BaseUrl}}img/theme/preloader.gif') center no-repeat;"/>
                                           
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <img id="image-show-two" src="{{product.productImage[2].Image}}" alt="" style="background:url('{{BaseUrl}}img/theme/preloader.gif') center no-repeat;"/>
                                           
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <img id="image-show-three" src="{{product.productImage[3].Image}}" alt="" style="background:url('{{BaseUrl}}img/theme/preloader.gif') center no-repeat;"/>
                                           
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="slider-products-2" ng-if="product.productImage[0].Image &&product.productImage[1].Image || product.productImage[2].Image || product.productImage[3].Image">
                                <ul class="pics">
                                    <li class="active">
                                        <a href="">
                                            <img  id="image-zero" src="{{product.productImage[0].Image}}" alt="" />
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <img id="image-one" src="{{product.productImage[1].Image}}" alt="" />
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <img id="image-two" src="{{product.productImage[2].Image}}" alt="" />
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <img id="image-three" src="{{product.productImage[3].Image}}" alt="" />
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div ng-if="product.productImage[0].Image">
                            <script type="text/javascript">
                                $(document).ready(function() {
                                    $("#image-one").click(function() {
                                        $("#image-show-zero").fadeOut(0.5);
                                        $("#image-show-two").fadeOut(0.5);
                                        $("#image-show-three").fadeOut(0.5);
                                        $("#image-show-one").fadeIn(2000);
                                        $("ul.pics li").addClass('active');
                                        $("ul.pics li").removeClass('active');
                                    });
                                    $("#image-two").click(function() {
                                        $("#image-show-zero").fadeOut(0.5);
                                        $("#image-show-one").fadeOut(0.5);
                                        $("#image-show-three").fadeOut(0.5);
                                        $("#image-show-two").fadeIn(2000);
                                         $("ul.pics li").addClass('active');
                                        $("ul.pics li").removeClass('active');
                                    });
                                    $("#image-three").click(function() {
                                        $("#image-show-zero").fadeOut(0.5);
                                        $("#image-show-one").fadeOut(0.5);
                                        $("#image-show-two").fadeOut(0.5);
                                        $("#image-show-three").fadeIn(2000);
                                         $("ul.pics li").addClass('active');
                                        $("ul.pics li").removeClass('active');
                                    });
                                    $("#image-zero").click(function() {
                                        $("#image-show-three").fadeOut(0.5);
                                        $("#image-show-one").fadeOut(0.5);
                                        $("#image-show-two").fadeOut(0.5);
                                        $("#image-show-zero").fadeIn(2000);
                                         $("ul.pics li").addClass('active');
                                        $("ul.pics li").removeClass('active');
                                    });
                                });
                            </script>
                        </div>

                        <div class="tovar_view_description">
                            <div class="tovar_view_title">{{product.productName}}</div>
                            <div class="tovar_article">{{product.productSKU}}</div>

                            <div class="clearfix tovar_brend_price">
                            <div class="pull-left tovar_brend">{{product.ProductVendorName}}</div>
                                <div class="pull-right tovar_view_price" ng-if="!product.productMultiOptions">{{SettingGeneral.settings.currencies_format}} {{product.productPrice}}</div>
                                <div class="pull-right tovar_view_price" ng-if="product.productMultiOptions && selectedVarients(product.productVarientModel) && returnPrice(product) && returnPrice(product) >= 0 ">{{SettingGeneral.settings.currencies_format}} {{product.productPrice}}</div>
                                <div class="pull-right tovar_view_price" ng-if="product.productMultiOptions && selectedVarients(product.productVarientModel) && returnPrice(product) && returnPrice(product) >= 0 "><h4 ng-if="!returnPrice(product)">This Combination is Not Available</h4></div>
                                <div class="clearfix"></div>
                                <div class="prod-description"  ng-repeat="(key,product) in ListProduct | CustomFilter:{productUrl : routeParam}">
                                <h2 ng-if="product.productDescription" style="font-weight:bold;">Description</h2>
                                <p class="no-margin-para" ng-bind-html="product.productDescription"></p>
                                 <a ng-if="product.productMultiOptions" ng-click="product.productVarientModel = {};" onclick="$('.attributes_{{product.Index}}').removeAttr('checked');" href="javascript:void(0)"style="float: right;font-size: 16px;font-weight: bold;text-decoration: underline;padding-bottom: 4px;cursor: pointer !important;" >Reset All</a>
                                </div>
                            </div>
                            <form name="addtoCart" ng-submit="addToCart(product.id,product);">
                                <div ng-if="product.productMultiOptions">
                                
                                    <div class="tovar_color_select"  ng-repeat="valueSize in product.productMultiOptionsList">
                                        <p>Select {{valueSize.name}}:</p>
                                        <span ng-repeat="parms in valueSize.value" class="inline-span">
                                     <label class="checkbox-visible" ng-class="{'deactivate':RenderOnDemand(product.productVarientModel,product,parms,valueSize.name)}">
                                            <input ng-checked="product.productVarientModel[valueSize.name] == parms" ng-click="ResetVariendsModelBase(valueSize.name,parms,product.productVarientModel,product.Index)" class="attributes_{{product.Index}}" ng-disabled="RenderOnDemand(product.productVarientModel,product,parms,valueSize.name)" type="checkbox" id="categorymanufacturer1"  value="{{parms}}" required style="margin-right:3px;margin-top: 5px;">{{parms}}
                                        </label>
                                    </span>
                                    </div>
                                </div>
                                <div class="tovar_view_btn">
                                    
                                    <div class="fancy-select">  

                                   
                                        <select class="basic" ng-model="product.productQuantity" type="number">
                                            <option>QTY</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>

                                    </div>
                                    <button ng-if="!product.productMultiOptions" class="add_bag" type="submit" value="Add"><i class="fa fa-shopping-cart"></i>Add to bag</button>
                                     <button ng-if="product.productMultiOptions && selectedVarients(product.productVarientModel) && returnPrice(product) && returnPrice(product) >= 0" class="add_bag" type="submit" value="Add"><i class="fa fa-shopping-cart"></i>Add to bag</button>
                                    
                                        <div class="clearfix"></div>
                                </div>
                            </form>

                            <div class="tovar_shared clearfix">
                                <p>Share item with friends</p>
                                <ul>
                                    <li><a id="fbShare" class="facebook"  target="_blank"><i class="fa fa-facebook"></i></a>
                                    </li>
                                    <li><a id="twitterShare" class="twitter twitter-share-button"  class="" target="_blank"><i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li><a  id="gplusShare" class="google-plus" target="_blank"><i class="fa fa-google-plus"></i></a>
                                    </li>
   
                                
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- //CLEARFIX -->
                </div>
                <!-- //TOVAR DETAILS WRAPPER -->
            </div>
            <!-- //ROW -->
        </div>
        <!-- //CONTAINER -->
    </section>
    <!-- //TOVAR DETAILS -->


   
</div>

<script type="text/javascript">
    jQuery('.shopping_bag .cart').hide();

   $(document).ready(function(){
   'use strict';

	var currentURL = document.URL;
	var currentTitle = document.title;

function socialShare() {
	var fbShare = document.getElementById("fbShare");
	var gplusShare = document.getElementById("gplusShare");
	var twitterShare = document.getElementById("twitterShare");
	
	fbShare.onclick = function() {
		window.open("https://www.facebook.com/sharer.php?u="+currentURL,"","height=368,width=600,left=100,top=100,menubar=0");
		return false;
	}
	gplusShare.onclick = function() {
		window.open("https://plus.google.com/share?url="+currentURL,"","height=550,width=525,left=100,top=100,menubar=0");
		return false;
	}	
	twitterShare.onclick = function() {
		window.open("https://twitter.com/share?url="+currentURL+"&text="+currentTitle,"","height=260,width=500,left=100,top=100,menubar=0");
		return false;
	}
	fbShare.setAttribute("href","http://www.facebook.com/sharer.php?u="+currentURL);
	gplusShare.setAttribute("href","https://plus.google.com/share?url="+currentURL);
	twitterShare.setAttribute("href","https://twitter.com/share?url="+currentURL+"&text="+currentTitle);
}

	socialShare();
	}); 

</script>

