
<div id="page">
    <!-- MY ACCOUNT PAGE -->
    <section class="my_account parallax">

        <!-- CONTAINER -->
        <div class="container">

            <div class="my_account_block clearfix" ng-init="checkResetPasswordFlag()" ng-if="issetPasswordResetFlag == false">
                <div class="forgor-password"ng-if="!User.info.CustomerEmail && ListPaymentGateways.accountsDisabled == 'optional' && ResetPasswordMessage!= true && issetPasswordResetFlag!= true">
                    <h2 class="text-no-margin">Reset Password</h2>
                    <p class="text-signup">Reset your password here by filling the fields below.</p>
                    <hr class="forgot-password">
                   
                    
                    <form class="login_form reset-password" ng-submit="ResetPasswordEmail('login')">
                        
                         <div ng-show="invalidPassword" class="alert alert-warning">Please enter a valid Password</div>
                       
                        <div ng-show="issetPasswordResetFlag == true" class="alert alert-warning"> The link you used to access this page has expired. Please log in to your account or begin your password recovery again.</div>
                         <label class="small  reset" for="exampleInputEmail1">New Password*</label>
                        <input type="password" name="username" value="Username or email" placeholder="Enter Password" ng-model="Customer.NewPassword" required />
                        <label class="small  reset" for="exampleInputEmail1">Confirm Password*</label>
                        <input type="password" name="username" value="Username or email" placeholder="Confirm Password" oninput="check(this)"  ng-model="Customer.ConfirmNewPassword" required />

                       
                    
                        <div class="right">
                            <input type="submit" value="Update">
                        </div>
                    </form>
                </div>
            </div>

              <div class="my_account_block clearfix" ng-if="User.info.CustomerEmail || ListPaymentGateways.accountsDisabled == 'disabled'">
                <div class="forgor-password" ng-if="User.info.CustomerEmail && ListPaymentGateways.accountsDisabled != 'disabled'">
                    <h2 class="text-no-margin">Reset Password</h2>
                    <p class="text-signup">Reset your password here by filling the fields below.</p>
                    <hr class="forgot-password">
                   
                    
                    <form class="login_form reset-password" ng-submit="ResetPassword('login')">
                        

                         <label class="small  reset" for="exampleInputEmail1">Old Password</label>
                        <input type="password" name="username" value="Username or email" placeholder="Enter Password" ng-model="Customer.OldPassword"  required />
                        <label class="small  reset" for="exampleInputEmail1">New Password</label>
                        <input type="password" name="username" value="Username or email" placeholder="Confirm Password" oninput="check(this)"  ng-model="Customer.NewPassword" required />
                        <label class="small  reset" for="exampleInputEmail1">Confirm Password</label>
                        <input type="password" name="username" value="Username or email" placeholder="Confirm Password" oninput="check(this)" ng-model="Customer.ConfirmNewPassword" required />

                       <div ng-show="invalidPassword" class="alert alert-warning">Please enter a valid password</div>
                       
                        <div ng-show="issetPasswordResetFlag == true" class="alert alert-warning">This Link to reset yor Password has expired.Request a new link to reset your Password.</div>
                    
                        <div class="right">
                            <input type="submit" value="Update">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- //CONTAINER -->
    </section>
    <!-- //MY ACCOUNT PAGE -->
</div>
<script type="text/javascript">
     jQuery('.shopping_bag .cart').hide();
</script>