<div class="row clearfix">
    <style>
    .deactivate {
        opacity:0.5;
    }
    </style>

    <div class="col-md-12 column">
        <div class="row" ng-repeat="collection in ListCollection | filter:{collectionName:SearchCollection}">
            <div ng-show="(collection.collectionName != 'Frontpage')">
                <div class="col-lg-12" ng-if="ProductCount(collection.collectionName,'Frontpage')">
                    <h1>{{collection.collectionName}}</h1>
                    <hr />
                </div>
                <div class="col-md-4" ng-animate="'animate'" ng-repeat="(prodID,products) in ListProduct | CustomFilter:{collection:'Frontpage'} | CustomFilter:{collection:collection.collectionName} | filter:{productName:SearchTitle} | filter:{ProductVendorName:SearchVendor} | filter:{ProductTypeName:SearchType} | filter:{productTags:SearchTags} ">
                    <div class="thumbnail">
                        <a href="./products/{{products.productUrl}}">

                            <img ng-if="products.productImage[0].Image" alt="{{products.productName}}" src="{{products.productImage[0].Image}}">
                            <span class="no-image-span" ng-if="!products.productImage[0].Image"><i class="glyphicon glyphicon-camera"></i>
                            </span>
                        </a>

                        <div class="caption">
                            <h4>
                                <a href="./products/{{products.productUrl}}">
                                          {{products.productName}}
                                    </a>
                            </h4>
                            <h5 ng-if="!products.productMultiOptions">({{SettingGeneral.settings.currencies_format}} {{products.productPrice}})
                                <span ng-if="products.productPriceCompare">
                                    <strike>({{SettingGeneral.settings.currencies_format}} {{products.productPriceCompare}})</strike>
                                </span>
                            </h5>
                            <h5 ng-if="products.productMultiOptions && selectedVarients(products.productVarientModel) && returnPrice(products) && returnPrice(products) >= 0 ">({{SettingGeneral.settings.currencies_format}} {{returnPrice(products)}})
                                <span ng-if="products.productPriceCompare">
                                    <strike>({{SettingGeneral.settings.currencies_format}} {{products.productPriceCompare}})</strike>
                                </span>
                            </h5>

                            <p>
                                <form name="addtoCart" ng-submit="addToCart(products.id,products);">
                                    <input class="input input-small" min='1' ng-model="products.productQuantity" type="number">
                                    <div ng-if="products.productMultiOptions">
                                        <a ng-click="products.productVarientModel = {}" href="javascript:void(0)">Reset All</a>
                                        <div class="section_attribute" ng-repeat="valueSize in products.productMultiOptionsList">
                                            <div>
                                                <h4 style="font-size: 14px;font-weight: bold;text-align: left;margin: 17px;margin-bottom: 0;margin-left: 0;color: rgb(156, 156, 156);">Select {{valueSize.name}}</h4>
                                                <hr style="margin:0; margin-bottom:20px;" />
                                                <span ng-repeat="parms in valueSize.value" class="radio">
                                                    <label ng-class="{'deactivate':RenderOnDemand(products.productVarientModel,products,parms)}">

                                                        <input ng-click="ResetVariendsModelBase(valueSize.name,parms,products.productVarientModel,prodID)" ng-disabled="RenderOnDemand(products.productVarientModel,products,parms)" type="checkbox" value="{{parms}}" required>{{parms}}
                                                    </label>
                                                </span>
                                            </div>
                                            <!--<div ng-if="!products.productVarientModelParent || products.productVarientModelParent == valueSize.name">
                                                 <h4 style="font-size: 14px;font-weight: bold;text-align: left;margin: 17px;margin-bottom: 0;margin-left: 0;color: rgb(156, 156, 156);">Select {{valueSize.name}}</h4>
                                                  <hr style="margin:0; margin-bottom:20px;" />
                                                   <span ng-repeat="parms in valueSize.value" class="radio">
                                                        <label>
                                                        <input ng-click="ResetVariendsModelBase(valueSize.name,parms,prodID)"    type="radio" value="{{parms}}"  required ng-model="products.productVarientModel[valueSize.name]" name="{{products.id}}{{valueSize.name}}" >
                                                        {{parms}}
                                                         </label>
                                                   </span>
                                               </div>-->



                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div ng-if="products.productMultiOptions && selectedVarients(products.productVarientModel)">
                                        <h4 ng-if="!returnPrice(products)" class="label label-danger">Not Avalible</h4>
                                    </div>
                                    <div ng-if="!products.productMultiOptions">
                                        <input class="btn" type="submit" value="Add" name="submit" />
                                    </div>
                                    <div ng-if="products.productMultiOptions && selectedVarients(products.productVarientModel) && returnPrice(products) && returnPrice(products) >= 0">
                                        <input class="btn" type="submit" value="Add" name="submit" />
                                    </div>
                                </form>
                            </p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>


            </div>

        </div>


    </div>
</div>


Status API Training Shop Blog About © 2014 GitHub, Inc. Terms Privacy Security Contact
