<div class="pageLeftColumn">
    <div class="foodAndDrinkDetails">
        <h2 class="sectionHeading">
            <span>Food &amp; Drink Details</span>
        </h2>
        <div class="pageBox">
            <div class="orderSummaryContent">
                <h3 class="subSectionHeading">Review and modify your items here.</h3> <a id="backToMenu" class="btn btnSecondary fr js-addMoreItems" href="/en/pages/order/#/section/Food/category/AllEntrees/">Add More Items</a> 
                <div class="clr">
                    <!-- -->
                </div>
                <table class="fullLineItem" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td class="itemHeader js-orderSummaryTableHeader">
                                <span class="none">Item</span>
                                <span>Step 1: Confirm Your Selections
                                    <span></span>
                                </span>
                            </td>
                            <td class="itemHeader qty">Quantity</td>
                            <td class="itemHeader price">Price</td>
                        </tr>
                    </tbody>
                </table>
                <table class="fullLineItem" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td width="1%">
                                <div class="productImage">
                                    <a href="#/order/variant/1/">
                                        <img src="https://cache.dominos.com/nolo/us/en/013177/assets/build/images/img/products/thumbnails/S_SCSJP.jpg" alt="Specialty Chicken – Spicy Jalapeno - Pineapple">
                                    </a>
                                </div>
                            </td>
                            <td>
                                <h3><a href="#/order/variant/1/">Specialty Chicken – Spicy Jalapeno - Pineapple</a>
                                </h3>
                                <div class="itemList"></div>
                                <div class="sizeUpsell $[upsellClass]">
                                    <span class="message">Make this a $[variantSize] for $[variantPrice] more?</span>
                                    <a href="#/order/variant/1/update$[variantParams]&amp;checkout=1" class="btn btnSmall js-sizeUpsell">
                                        <span>Yes</span>
                                    </a>
                                </div>
                            </td>
                            <td class="qty">
                                <select name="1|Quantity">
                                    <!-- -->
                                    <option selected="" value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                    <option value="15">15</option>
                                    <option value="16">16</option>
                                    <option value="17">17</option>
                                    <option value="18">18</option>
                                    <option value="19">19</option>
                                    <option value="20">20</option>
                                    <option value="21">21</option>
                                    <option value="22">22</option>
                                    <option value="23">23</option>
                                    <option value="24">24</option>
                                    <option value="25">25</option>
                                </select>
                                <p><a href="#/order/variant/1/delete" class="js-removeVariant">remove</a>
                                </p>
                                <p><a href="#/order/variant/1/">edit</a>
                                </p>
                            </td>
                            <td class="price">$5.99</td>
                        </tr>
                    </tbody>
                </table>
                <div class="js-beverageUpsell">
                    <table class="fullLineItem" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td class="itemHeader">Step 2: Choose Your Drinks</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="beverageUpsells fullLineItem" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td>
                                    <div class="product js-beverageUpsellProduct" data-product="F_COKE" data-default="2LCOKE">
                                        <div class="productTitle">
                                            <h3 class="name dominosColor1 pointer">Coke®</h3>
                                        </div>
                                        <div class="productImage pointer">
                                            <img src="https://cache.dominos.com/nolo/us/en/013177/assets/build/images/img/products/thumbnails/F_COKE.jpg" alt="Coke®">
                                        </div>
                                        <div class="js-beverageRadio none" style="display: block;">
                                            <h3 class="name select dominosColor1 pointer">select</h3>
                                            <input type="radio" name="Beverage_Selection" class="pointer">
                                        </div>
                                        <div class="js-beverageDropdown none">
                                            <p class="beverageSelect">
                                                <select class="beverageSize js-beverageSize">
                                                    <option value="0">Select Size</option>
                                                    <option value="20BCOKE">20oz Bottle</option>
                                                    <option value="2LCOKE">2-Liter Bottle</option>
                                                </select>
                                            </p>
                                            <p class="beverageSelect">Qty:
                                                <select class="beverageQty js-beverageQty">
                                                    <option value="0">0</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                    <option value="6">6</option>
                                                    <option value="7">7</option>
                                                    <option value="8">8</option>
                                                    <option value="9">9</option>
                                                    <option value="10">10</option>
                                                    <option value="11">11</option>
                                                    <option value="12">12</option>
                                                    <option value="13">13</option>
                                                    <option value="14">14</option>
                                                    <option value="15">15</option>
                                                    <option value="16">16</option>
                                                    <option value="17">17</option>
                                                    <option value="18">18</option>
                                                    <option value="19">19</option>
                                                    <option value="20">20</option>
                                                    <option value="21">21</option>
                                                    <option value="22">22</option>
                                                    <option value="23">23</option>
                                                    <option value="24">24</option>
                                                    <option selected="" value="25">25</option>
                                                </select>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="product js-beverageUpsellProduct" data-product="F_DIET" data-default="2LDCOKE">
                                        <div class="productTitle">
                                            <h3 class="name dominosColor1 pointer">Diet Coke®</h3>
                                        </div>
                                        <div class="productImage pointer">
                                            <img src="https://cache.dominos.com/nolo/us/en/013177/assets/build/images/img/products/thumbnails/F_DIET.jpg" alt="Diet Coke®">
                                        </div>
                                        <div class="js-beverageRadio none" style="display: block;">
                                            <h3 class="name select dominosColor1 pointer">select</h3>
                                            <input type="radio" name="Beverage_Selection" class="pointer">
                                        </div>
                                        <div class="js-beverageDropdown none">
                                            <p class="beverageSelect">
                                                <select class="beverageSize js-beverageSize">
                                                    <option value="0">Select Size</option>
                                                    <option value="2LDCOKE">2-Liter Bottle</option>
                                                    <option value="20BDCOKE">20oz Bottle</option>
                                                </select>
                                            </p>
                                            <p class="beverageSelect">Qty:
                                                <select class="beverageQty js-beverageQty">
                                                    <option value="0">0</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                    <option value="6">6</option>
                                                    <option value="7">7</option>
                                                    <option value="8">8</option>
                                                    <option value="9">9</option>
                                                    <option value="10">10</option>
                                                    <option value="11">11</option>
                                                    <option value="12">12</option>
                                                    <option value="13">13</option>
                                                    <option value="14">14</option>
                                                    <option value="15">15</option>
                                                    <option value="16">16</option>
                                                    <option value="17">17</option>
                                                    <option value="18">18</option>
                                                    <option value="19">19</option>
                                                    <option value="20">20</option>
                                                    <option value="21">21</option>
                                                    <option value="22">22</option>
                                                    <option value="23">23</option>
                                                    <option value="24">24</option>
                                                    <option selected="" value="25">25</option>
                                                </select>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="product js-beverageUpsellProduct" data-product="F_SPRITE" data-default="2LSPRITE">
                                        <div class="productTitle">
                                            <h3 class="name dominosColor1 pointer">Sprite</h3>
                                        </div>
                                        <div class="productImage pointer">
                                            <img src="https://cache.dominos.com/nolo/us/en/013177/assets/build/images/img/products/thumbnails/F_SPRITE.jpg" alt="Sprite">
                                        </div>
                                        <div class="js-beverageRadio none" style="display: block;">
                                            <h3 class="name select dominosColor1 pointer">select</h3>
                                            <input type="radio" name="Beverage_Selection" class="pointer">
                                        </div>
                                        <div class="js-beverageDropdown none">
                                            <p class="beverageSelect">
                                                <select class="beverageSize js-beverageSize">
                                                    <option value="0">Select Size</option>
                                                    <option value="20BSPRITE">20oz Bottle</option>
                                                    <option value="2LSPRITE">2-Liter Bottle</option>
                                                </select>
                                            </p>
                                            <p class="beverageSelect">Qty:
                                                <select class="beverageQty js-beverageQty">
                                                    <option value="0">0</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                    <option value="6">6</option>
                                                    <option value="7">7</option>
                                                    <option value="8">8</option>
                                                    <option value="9">9</option>
                                                    <option value="10">10</option>
                                                    <option value="11">11</option>
                                                    <option value="12">12</option>
                                                    <option value="13">13</option>
                                                    <option value="14">14</option>
                                                    <option value="15">15</option>
                                                    <option value="16">16</option>
                                                    <option value="17">17</option>
                                                    <option value="18">18</option>
                                                    <option value="19">19</option>
                                                    <option value="20">20</option>
                                                    <option value="21">21</option>
                                                    <option value="22">22</option>
                                                    <option value="23">23</option>
                                                    <option value="24">24</option>
                                                    <option selected="" value="25">25</option>
                                                </select>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="clr">
                                        <!-- -->
                                    </div>
                                    <button class="btn js-addBeverage none">
                                        <span>Add Drinks</span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <table cellpadding="0" cellspacing="0" class="orderTotals">
                    <tbody>
                        <tr>
                            <td class="name">Food &amp; Beverage:</td>
                            <td class="js-total">$5.99</td>
                        </tr>
                        <tr>
                            <td class="name">
                                <span class="js-deliveryLabel">Delivery Charge:</span>
                            </td>
                            <td class="js-total">
                                <span class="js-deliveryCost">$2.50</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="name">Taxes:</td>
                            <td class="js-total">$0.75</td>
                        </tr>
                        <tr>
                            <td class="finalizedTotal name">Order Total:</td>
                            <td class="finalizedTotal js-total">$9.24</td>
                        </tr>
                    </tbody>
                </table>
                <div class="js-couponEnterForm couponArea formArea">
                    <form action="#/order/coupons/new" method="POST" novalidate="novalidate">
                        <div class="formEntry">
                            <label for="Coupon_Code">Please enter your coupon or promotion code
                                <span class="none">or
                                    <a href="/en/pages/content/dominos-dollars-help.jsp?type=popup" class="textInline js-isContentPopup helpIcon">
                                        <span class="dominosDollars">Domino's Dollars™</span>
                                    </a>
                                </span>:</label>
                            <div class="couponList"></div>
                            <input type="text" name="Coupon_Code" id="Coupon_Code" class="couponCode" maxlength="25">
                            <button type="submit" class="btn">
                                <span>Add</span>
                            </button>
                            <div class="clr">
                                <!-- -->
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="clr">
        <!-- -->
    </div>
    <div class="crossSells">
        <h2 class="sectionHeading">You Might Also Enjoy</h2>
        <div class="products">
            <div class="product  js-crossSell" style="height: 199px;">
                <div class="productImage">
                    <a href="#/order/variant/new?code=B2PCLAVA">
                        <span class="dogEar "></span>
                        <img src="https://cache.dominos.com/nolo/us/en/013177/assets/build/images/img/products/thumbnails/F_LAVA.jpg" alt="2-Piece Chocolate Lava Crunch Cakes">
                    </a>
                </div>
                <a class="btn fullWidth" href="#/order/variant/new?code=B2PCLAVA">
                    <span>Order</span>
                </a>
                <h3 class="dominosColor1"><a href="#/order/variant/new?code=B2PCLAVA">2-Piece Chocolate Lava Crunch Cakes</a>
                </h3>
                <p class="description"></p>
                <p class="description"></p>
            </div>
            <div class="product productMargin js-crossSell" style="height: 199px;">
                <div class="productImage">
                    <a href="#/product/F_PBITES/builder/?code=B16PBIT">
                        <span class="dogEar "></span>
                        <img src="https://cache.dominos.com/nolo/us/en/013177/assets/build/images/img/products/thumbnails/F_PBITES.jpg" alt="16-Piece Parmesan Bread Bites">
                    </a>
                </div>
                <a class="btn fullWidth" href="#/product/F_PBITES/builder/?code=B16PBIT">
                    <span>Order</span>
                </a>
                <h3 class="dominosColor1"><a href="#/product/F_PBITES/builder/?code=B16PBIT">16-Piece Parmesan Bread Bites</a>
                </h3>
                <p class="description"></p>
                <p class="description"></p>
            </div>
            <div class="product productMargin js-crossSell" style="height: 199px;">
                <div class="productImage">
                    <a href="#/order/variant/new?code=2LCOKE">
                        <span class="dogEar "></span>
                        <img src="https://cache.dominos.com/nolo/us/en/013177/assets/build/images/img/products/thumbnails/F_COKE.jpg" alt="2-Liter Coke®">
                    </a>
                </div>
                <a class="btn fullWidth" href="#/order/variant/new?code=2LCOKE">
                    <span>Order</span>
                </a>
                <h3 class="dominosColor1"><a href="#/order/variant/new?code=2LCOKE">2-Liter Coke®</a>
                </h3>
                <p class="description"></p>
                <p class="description"></p>
            </div>
            <div class="product productMargin js-crossSell" style="height: 199px;">
                <div class="productImage">
                    <a href="#/product/F_SCBRD/builder/?code=B8PCSCB&amp;sides=SIDMAR:1">
                        <span class="dogEar "></span>
                        <img src="https://cache.dominos.com/nolo/us/en/013177/assets/build/images/img/products/thumbnails/F_SCBRD.jpg" alt="Stuffed Cheesy Bread">
                    </a>
                </div>
                <a class="btn fullWidth" href="#/product/F_SCBRD/builder/?code=B8PCSCB&amp;sides=SIDMAR:1">
                    <span>Order</span>
                </a>
                <h3 class="dominosColor1"><a href="#/product/F_SCBRD/builder/?code=B8PCSCB&amp;sides=SIDMAR:1">Stuffed Cheesy Bread</a>
                </h3>
                <p class="description"></p>
                <p class="description">(1) Marinara</p>
            </div>
            <div class="clr">
                <!-- -->
            </div>
        </div>
    </div>
</div>
