<div id="pageFrame">
    <div id="pageHeader">
        <div id="genericHeader">
            <div class="subNavigation">
                <div id="notch">
                    <img src="https://cache.dominos.com/nolo/us/en/013167/assets/build/images/img/logoNotch.gif" alt="Domino's Pizza">
                </div>
                <a href="/" class="logo">Domino's Pizza</a>
                <div id="js-subNavigationPage"></div>
            </div>
        </div>
    </div>

    <div id="pageBody">
        <div id="pageContent">
              <div class="popup-body" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none;">
                    <div id="genericOverlay" style="position: absolute; left: 22%; top: 20%;width:55%;">
                        <div class="overlayContent"> <a class="closeButton js-closeButton InfroTextSubmit" data-dismiss="modal" style="top: 43px;right: 45px;">×</a> 

                                            <div id="pageContent">
                                                <form role="form" id="InfroText">
                                                    <div class="formArea horizontal">
                                                        <div class="pageBox border-pop">

                                                            <h3><b>You can Edit your order details Here.</b>
                                                            </h3>
                                                         <div class="formEntry" style="margin-top: 18px;">
                                                                <label for="City" class="entryLabel">
                                                                    <strong>*</strong>Payment Type:</label>
                                                                <div class="entryGroup">
                                        
                                                                    <select ng-change="UpdatePaymentMethod(PaymentMethod);SetLocalStorageGlobal(PaymentMethod,'Payment');" id="paymenttype" 
                                                                     ng-options="payment.name as payment.name for payment in ListPaymentMethod"  style="width:199px;" ng-model="PaymentMethod" required>
                                                                        <option value="">Select Payment Type</option>
                                                                       
                                                                    </select>

                                                                    <span class="hide help-inline" style="display:none;color: #fa001f;font-weight: 700;padding-left: 10px;">Payment Type is required</span>

                                                               </div>
                                                            </div>

                                                            <div class="js-otherAddress none" style="display: block;">


                                                                <div class="formEntry" style="margin-top: 18px;">
                                                                    <label for="City" class="entryLabel">
                                                                        <strong>*</strong>City:</label>
                                                                    <div class="entryGroup">
                                                                        <select  ng-change="UpdateCountryName(User.info.CountryName);SetLocalStorageGlobal(User.info.CountryName,'City');" id="citytype" ng-options="Shipping as Shipping for Shipping in returnShippingCountry()" required name="city" class="mini js-region" style="width: 200px;" ng-model="User.info.CountryName">
                                                                            <option value="">Select City</option>
                                                                            
                                                                        
                                                                        </select>

                                                                        <span class="hide city-inline" style="display:none;color: #fa001f;font-weight: 700;padding-left: 10px;">City is required</span>
                                                                        
                                                                    </div>
                                                                </div>
                                                                <div class="formEntry" style="margin-top: 18px;">
                                                                    <label for="locality" class="entryLabel">
                                                                        <strong>*</strong>Locality:</label>
                                                                    <div class="entryGroup">
                                                                        <select ng-change="UpdateLocalityName(User.info.LocalityName);SetLocalStorageGlobal(User.info.LocalityName,'Locality');" id="localitytype" ng-options="Shipping as Shipping for Shipping in returnShippingLocality()" required name="locality" class="mini js-region" style="width: 200px;" ng-model="User.info.LocalityName">
                                                                            <option value="">Select Locality</option>
                                                                            
                                                                        </select>
                                                                        <span class="hide help-inline" style="display:none;color: #fa001f;font-weight: 700;padding-left: 10px;">Locality is required</span>
                                                                    </div>
                                                                </div>
                                                                <div class="formEntry" style="margin-top: 18px;">
                                                                    <label for="locality" class="entryLabel">
                                                                        <strong>*</strong>Area Name:</label>
                                                                    <div class="entryGroup">
                                                                        <select ng-change="UpdateAreaName(User.info.AreaName);SetLocalStorageGlobal(User.info.AreaName,'Area');" id="areatype" ng-options="Shipping as Shipping for Shipping in returnShippingArea()" required name="locality" class="mini js-region" style="width: 200px;" ng-model="User.info.AreaName">
                                                                            <option value="">Select Area</option>
                                                                           
                                                                        </select>

                                                                        <span class="hide help-inline" style="display:none;color: #fa001f;font-weight: 700;padding-left: 10px;">Area is required</span>
                                                                    </div>
                                                                </div>
                                                                <div class="formEntry" style="margin-top: 18px;">
                                                                    <label for="outlet" class="entryLabel">
                                                                        <strong>*</strong>Outlet Name:</label>
                                                                    <div class="entryGroup">
                                                                        <select ng-change="UpdateoutletName(User.info.outletName);SetLocalStorageGlobal(User.info.outletName,'Outlet');"  id="outlettype" ng-options="Shipping as Shipping for Shipping in returnShippingOutlet()" required name="outlet" class="mini js-region" style="width: 200px;" ng-model="User.info.outletName">
                                                                            <option value="">Select Outlet</option>
                                                                            
                                                                        </select>

                                                                        <span class="hide help-inline" style="display:none;color: #fa001f;font-weight: 700;padding-left: 10px;">Outlet is required</span>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="formEntry actions right">


                                                                <button data-dismiss="modal" class="InfroTextSubmit" class="btn btnLarge" title="Click here to save your order details" style="width:132px;float:right;margin-right:20px;">Save
                                                                </button>
                                                                <div class="clr">
                                                                    <!-- -->
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </form>
                                                <div class="clr">
                                                    <!--  -->
                                                </div>
                                            </div>
                                        </div>
                                    </div> 
                                    </div> 
            <div id="js-fullFrame" class="none" style="display: block;">
                <div id="js-pageFull" class="w100">
                    <div id="orderCheckoutPage">
                        <div id="js-checkoutColumns">  
                                    
                            <div class="pageRightColumn" style="margin-top: 0px;">
                                <div id="myProfileInCheckout" class="sidebarBox">
                                    <h2 class="sectionHeading">
                                        <span>Review Order Settings</span>
                                    </h2>
                                    <div class="content">
                                        <span class="edit" data-toggle="modal" data-target="#myModal">Edit your details</span>


                                        <h3 class="dominoscolorok">Service Type</h3>
                                        <ul class="genericList">
                                            
                                            <li>{{PaymentMethod}}</li>

                                        </ul>
                                        <div class="divider">
                                            <!-- -->
                                        </div>
                                        <h3 class="dominoscolorok">My City</h3>

                                        <ul class="genericList">
                                            
                                            <li>{{User.info.CountryName}}</li>
                                        </ul>
                                        <div class="divider">
                                            <!-- -->
                                        </div>

                                        <h3 class="dominoscolorok">My Locality</h3>
                                        <ul class="genericList">
                                            
                                            <li>{{User.info.LocalityName}}</li>
                                        </ul>
                                        <div class="divider">
                                            <!-- -->
                                        </div>

                                        <h3 class="dominoscolorok">My Area</h3>
                                        <ul class="genericList">
                                           
                                            <li>{{User.info.AreaName}}</li>
                                        </ul>
                                        <div class="divider">
                                            <!-- -->
                                        </div>


                                        <h3 class="dominoscolorok">My Outlet</h3>
                                        <ul class="genericList">
                                            
                                            <li>{{User.info.outletName}}</li>
                                        </ul>




                                    </div>
                                </div> <a class="btn btnLarge submitButton qa-OrCheck" ng-if="!User.info.CustomerEmail && IfCart()" href="/login" title="Continue Checkout">Continue Checkout</a>
                                <a class="btn btnLarge submitButton qa-OrCheck" ng-if="User.info.CustomerEmail && IfCart()" href="/confirm" title="Continue Checkout">Continue Checkout</a> 
                                <a class="btn btnLarge submitButton qa-OrCheck" ng-if="!IfCart()" href="javascript:void(0)" title="Please First Choose the Items you want to Order" style="opacity:0.5;">Continue Checkout</a> 
                                <a class="btn btnLarge submitButton qa-OrCheck" href="collections/all" style="background:#0078ae;">Add More Items</a> 

                            </div>
                            <div class="pageLeftColumn">
                                <div class="foodAndDrinkDetails">
                                    <h2 class="sectionHeading">
                                        <span>Food &amp; Drink Details</span>
                                    </h2>
                                    <div class="pageBox">
                                        <div class="orderSummaryContent">
                                            <div ng-show="IfCart()">
                                                <h3 class="subSectionHeading">Review and modify your items here.</h3> <a id="backToMenu" class="btn btnSecondary fr js-addMoreItems" href="collections/all">Add More Items</a> 
                                                <div class="clr">
                                                    <!-- -->
                                                </div>
                                                <table class="fullLineItem" cellpadding="0" cellspacing="0">
                                                    <tbody>
                                                        <tr>
                                                            <td class="itemHeader js-orderSummaryTableHeader">
                                                                <span class="none">Item</span>
                                                                <span>Step 1: Confirm Your Selections
                                                                    <span></span>
                                                                </span>
                                                            </td>
                                                            <td class="itemHeader qty">Quantity</td>
                                                            <td class="itemHeader price">Price</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <table class="fullLineItem" cellpadding="0" cellspacing="0">
                                                    <tbody ng-repeat="(keyMain,Itemss) in Cart track by $index">
                                                        <tr ng-show="Itemss.productID">
                                                            <td width="1%">
                                                                <div class="productImage">
                                                                    <a ng-if="Itemss.productInfo.productImage[0].Image">
                                                                        <img src="{{Itemss.productInfo.productImage[0].Image}}" title="{{Itemss.productInfo.productName}}">
                                                                    </a>

                                                                    <a ng-if="!Itemss.productInfo.productImage[0].Image">
                                                                        <img src="{{BaseUrl}}img/theme/default.png" style="background-color: rgb(235, 232, 232);">
                                                                    </a>

                                                                </div>
                                                            </td>
                                                            <td>
                                                                <h3><a href="">{{Itemss.productInfo.productName}}</a>
                                                                </h3>

                                                            </td>

                                                            <td class="qty">
                                                                <select name="6|Quantity" min='1' ng-change="changeQuantity()" ng-model="Itemss.quantity" type="number">
                                                                    <!-- -->
                                                                    <option selected="" value="1">1</option>
                                                                    <option value="2">2</option>
                                                                    <option value="3">3</option>
                                                                    <option value="4">4</option>
                                                                    <option value="5">5</option>
                                                                    <option value="6">6</option>
                                                                    <option value="7">7</option>
                                                                    <option value="8">8</option>
                                                                    <option value="9">9</option>
                                                                    <option value="10">10</option>
                                                                    <option value="11">11</option>
                                                                    <option value="12">12</option>
                                                                    <option value="13">13</option>
                                                                    <option value="14">14</option>
                                                                    <option value="15">15</option>
                                                                    <option value="16">16</option>
                                                                    <option value="17">17</option>
                                                                    <option value="18">18</option>
                                                                    <option value="19">19</option>
                                                                    <option value="20">20</option>
                                                                    <option value="21">21</option>
                                                                    <option value="22">22</option>
                                                                    <option value="23">23</option>
                                                                    <option value="24">24</option>
                                                                    <option value="25">25</option>
                                                                </select>
                                                                <div class="remove" ng-click="RemoveCartItem(Itemss.productID,false)">remove</div>
                                                            </td>
                                                            <td class="price">{{Itemss.price * Itemss.quantity | nfcurrency:"PKR "}}</td>

                                                        </tr>

                                                        <tr ng-hide="Itemss.productID" ng-repeat="(key,itm) in Itemss track by $index">
                                                            <td width="1%">
                                                                <div class="productImage">
                                                                    <a ng-if="itm.productInfo.productImage[0].Image">
                                                                        <img src="{{itm.productInfo.productImage[0].Image}}" title="{{itm.productInfo.productName}}">
                                                                    </a>
                                                                    <a ng-if="!itm.productInfo.productImage[0].Image">
                                                                        <img src="{{BaseUrl}}img/theme/default.png" style="background-color: rgb(235, 232, 232);">
                                                                    </a>

                                                                </div>
                                                            </td>
                                                            <td>
                                                                <h3><a href="">{{itm.productInfo.productName}} {{key}}</a>
                                                                </h3>


                                                            </td>
                                                            <td class="qty">
                                                                <select name="6|Quantity" min='1' ng-change="changeQuantity()" ng-model="itm.quantity" type="number">
                                                                    <!-- -->
                                                                    <option selected="" value="1">1</option>
                                                                    <option value="2">2</option>
                                                                    <option value="3">3</option>
                                                                    <option value="4">4</option>
                                                                    <option value="5">5</option>
                                                                    <option value="6">6</option>
                                                                    <option value="7">7</option>
                                                                    <option value="8">8</option>
                                                                    <option value="9">9</option>
                                                                    <option value="10">10</option>
                                                                    <option value="11">11</option>
                                                                    <option value="12">12</option>
                                                                    <option value="13">13</option>
                                                                    <option value="14">14</option>
                                                                    <option value="15">15</option>
                                                                    <option value="16">16</option>
                                                                    <option value="17">17</option>
                                                                    <option value="18">18</option>
                                                                    <option value="19">19</option>
                                                                    <option value="20">20</option>
                                                                    <option value="21">21</option>
                                                                    <option value="22">22</option>
                                                                    <option value="23">23</option>
                                                                    <option value="24">24</option>
                                                                    <option value="25">25</option>
                                                                </select>
                                                                <div class="remove" ng-click="RemoveCartItem(itm.productID,key)">remove</div>
                                                            </td>
                                                            <td class="price">{{itm.price * itm.quantity | nfcurrency:"PKR "}}</td>
                                                        </tr>
                                                    </tbody>

                                                </table>
                                            </div>

                                            <div>
                                                <h6 ng-hide="IfCart()" align="center" style="float: left;margin-left: 20px;margin-top: 20px;color: #fa001f;font-weight: 700;font-size: 16px;margin-bottom: 20px;">No Item Found</h6>
                                            </div>
                                            <table cellpadding="0" cellspacing="0" class="order-summary__totals">
                                                <tbody>

                                                    <tr ng-if="SettingsShippingCountry[0].TaxRate">
                                                        <td class="name">Food & Drinks:</td>
                                                        <td class="js-total">{{ReturnTotal()-ReturnTaxPrice() | nfcurrency:"PKR "}}</td>
                                                    </tr>

                                                    <tr ng-if="SettingsShippingCountry[0].TaxRate">
                                                        <td class="name">Taxes:</td>
                                                        <td class="js-total">{{ReturnTaxPrice() | nfcurrency:"PKR "}}</td>
                                                    </tr>


                                                    <tr>
                                                        <td class="finalizedTotal name" style="font-size:14px;">Order Total:</td>
                                                        <td class="finalizedTotal js-total" style="font-size:14px;">{{ReturnTotal() | nfcurrency:"PKR "}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div id="beverageUpsell" ng-hide="ifdrinks()">
                                                <table class="fullLineItem" cellpadding="0" cellspacing="0">
                                                    <tbody>
                                                        <tr>
                                                            <td class="itemHeader">Step 2: Choose Your Drinks</td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                                <table class="beverageUpsells fullLineItem" cellpadding="0" cellspacing="0">
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <div class="product js-beverageUpsellProduct" ng-repeat="products in ListProduct | CustomFilter:{collection:'Drinks'}">
                                                                    <div class="productTitle">
                                                                        <a href="./product/{{products.productUrl}}">
                                                                            <h3 class="name dominosColor1 pointer">{{products.productName}}</h3>
                                                                        </a>
                                                                    </div>
                                                                    <div class="productImage pointer">
                                                                        <a ng-if="products.productImage[0].Image" href="./product/{{products.productUrl}}">
                                                                            <img ng-src="{{products.productImage[0].Image}}" title="{{products.productName}}" style="background:url({{BaseUrl}}img/theme/load.gif) no-repeat center;z-index: 9999;">
                                                                        </a>
                                                                        <a ng-if="!products.productImage[0].Image" href="./product/{{products.productUrl}}">
                                                                            <img src="{{BaseUrl}}img/theme/default.png" alt="Drinks">
                                                                        </a>

                                                                    </div>
                                                                    <div class="js-beverageRadio" style="display: block;margin-left: -9px;">
                                                                        <a href="./product/{{products.productUrl}}">
                                                                            <h3 class="name select dominosColor1 pointer">select</h3>
                                                                            <input type="radio" name="Beverage_Selection" class="pointer">
                                                                        </a>
                                                                    </div>
                                                                </div>


                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>

                                    </div>

                                </div>
                                <div class="clr">
                                    <!-- -->
                                </div>

                                <div class="crossSells">
                                    <h2 class="sectionHeading">You Might Also Enjoy</h2>
                                    <div class="products">
                                        <div class="product  js-crossSell" style="height: 199px;margin-left: 6px;
                                            margin-right: 4px;" ng-repeat="products in ListProduct | CustomFilter:{collection:'Sidelines'}">
                                            <div class="productImage">
                                                <a ng-if="products.productImage[0].Image" href="./product/{{products.productUrl}}">
                                                    <span class="dogEar "></span>
                                                    <img ng-src="{{products.productImage[0].Image}}" title="{{products.productName}}" style="background:url({{BaseUrl}}img/theme/load.gif) no-repeat center;z-index: 9999;">
                                                </a>
                                                <a ng-if="!products.productImage[0].Image" href="./product/{{products.productUrl}}">
                                                    <span class="dogEar "></span>
                                                    <img src="{{BaseUrl}}img/theme/default.png">
                                                </a>
                                            </div>
                                            <a class="btn fullWidth" href="./product/{{products.productUrl}}">
                                                <span>Order</span>
                                            </a>
                                            <h3 class="dominosColor1"><a href="./product/{{products.productUrl}}">{{products.productName}}</a>
                                            </h3>
                                            <p class="description"></p>
                                            <p class="description"></p>
                                        </div>
                                        <div class="clr">
                                            <!-- -->
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="clr">
                                <!-- -->
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<style>
	td h3{
		max-width:200px;
	}
</style>
<script type="text/javascript">

    $('.InfroTextSubmit').click(function(){
    
    

    if ($('#citytype').val()==="") {
      // invalid
      $('#citytype').next('.city-inline').show();
      return false;
    }
    else {
      // submit the form here
      // $('#InfroText').submit();
      $('#citytype').next('.city-inline').hide();
      return true;
    }


    });

    $('.InfroTextSubmit').click(function(){
   
    if ($('#paymenttype').val()==="") {
      // invalid
      $('#paymenttype').next('.help-inline').show();
      return false;
    }
    else {
      // submit the form here
      // $('#InfroText').submit();
      $('#paymenttype').next('.help-inline').hide();
      return true;
    }
});

    $('.InfroTextSubmit').click(function(){
   
    if ($('#localitytype').val()==="") {
      // invalid
      $('#localitytype').next('.help-inline').show();
      return false;
    }
    else {
      // submit the form here
      // $('#InfroText').submit();
      $('#localitytype').next('.help-inline').hide();
      return true;
    }
});

    $('.InfroTextSubmit').click(function(){
   
    if ($('#areatype').val()==="") {
      // invalid
      $('#areatype').next('.help-inline').show();
      return false;
    }
    else {
      // submit the form here
      // $('#InfroText').submit();
      $('#areatype').next('.help-inline').hide();
      return true;
    }
});

    $('.InfroTextSubmit').click(function(){
   
    if ($('#outlettype').val()==="") {
      // invalid
      $('#outlettype').next('.help-inline').show();
      return false;
    }
    else {
      // submit the form here
      // $('#InfroText').submit();
      $('#outlettype').next('.help-inline').hide();
      return true;
    }
});

</script>
