<div id="pageFrame">
    <div id="pageHeader">
        <div id="genericHeader">
            <div class="subNavigation">
                <div id="notch">
                    <img src="https://cache.dominos.com/nolo/us/en/013167/assets/build/images/img/logoNotch.gif" alt="Domino's Pizza">
                </div>
                <a href="/" class="logo">Domino's Pizza</a>
                <div id="js-subNavigationPage"></div>
            </div>
        </div>
    </div>
    <div id="pageBody">
        <div id="app-wrapper">
            
            <div class="left-app">
                <div class="app-text">
                <h2 style="text-align: center;font-size: 28px;text-transform: uppercase;font-weight: bold;color: #999999;font-family: DominosFont;">Domino's Pakistan is now</h2>
                    <h1 style="text-align: center;color: #cc3333;font-weight: bold;font-family: DominosFont;font-size: 77px;text-transform: uppercase;margin-top: 12px;">Mobile</h1>
                    <h4 style="color: #336699;font-family: DominosFont;text-transform: uppercase;text-align: center;width: 365px;font-size: 14px;margin-top: 14px;font-weight: bold;margin-left: 12px;">You can now download the domino's app directly onto your phone so you can order your favorite pizza on the go</h4>
                    
                </div>
                <div class="app-btn">
                    <h4 style="color: #cc3333;font-weight: bold;font-family: DominosFont;font-size: 16px;margin-bottom: 19px;text-transform: uppercase;">Available for android</h4>
                    <a href="https://play.google.com/store/apps/details?id=com.retailer.dom
                    " target="_blank">
                    <img ng-src="{{BaseUrl}}img/theme/google-btn.png">
                     </a>
                </div>
            </div>
            <div class="right-app">
                
                    <img ng-src="{{BaseUrl}}img/theme/app.png">
               
            </div>
        </div>
    </div>
</div>