<link rel="stylesheet" type="text/css" media="all" ng-href="{{BaseUrl}}css/theme/style-locations.css">
<div id="pageFrame">
    <div id="genericHeader">
        <div class="subNavigation">
            <div id="notch">
                <img ng-src="https://cache.dominos.com/nolo/us/en/013167/assets/build/images/img/logoNotch.gif" alt="Domino's Pizza">
            </div>
            <a href="/" class="logo">Domino's Pizza</a>
        </div>
    </div>
    <div id="pageBody">
        <div id="pageContent">
            <div id="wrapper" class="hfeed">
                <!-- #header -->
                <div id="main">
                    <div id="container">
                        <div id="content" role="main">
                            <div class="sotrefinder">
                                <div id="finder_left">
                                    <div id="islamabad" style="display: none;">
                                        <div class="areamap">
                                            <img class="map-pic" ng-src="{{BaseUrl}}img/theme/map_islamabad.jpg">
                                        </div>
                                        <div id="brancheslist">
                                            <ul>
                                                <li ng-repeat="Location in ListSettingsLocation | filter: {City: 'Islamabad'}">
                                                    <h3>{{Location.Name}}</h3>
                                                    <h4>{{Location.Address}}</h4>
                                                   
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- ISB Area -->
                                    <div id="rawalpindi" style="display: none;">
                                        <div class="areamap">
                                            <img class="map-pic" ng-src="{{BaseUrl}}img/theme/map_rawalpindi.jpg">
                                        </div>
                                        <div id="brancheslist">
                                            <ul>
                                                <li ng-repeat="Location in ListSettingsLocation | filter: {City: 'Rawalpindi'}">
                                                    <h3>{{Location.Name}}</h3>
                                                    <h4>{{Location.Address}}</h4>
                                                   
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- rawalpindi Area -->
                                    <div id="lahore" style="display: none;">
                                        <div class="areamap">
                                            <img class="map-pic" ng-src="{{BaseUrl}}img/theme/map_lahore.jpg">
                                        </div>
                                        <div id="brancheslist">
                                            <ul>
                                                <li ng-repeat="Location in ListSettingsLocation | filter: {City: 'Lahore'}">
                                                    <h3>{{Location.Name}}</h3>
                                                    <h4>{{Location.Address}}</h4>
                                                   
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- LAhore Area -->
                                    <div id="karachi" class="active" style="display: none;">
                                        <div class="areamap">
                                            <img class="map-pic" ng-src="{{BaseUrl}}img/theme/map_karachi.jpg">
                                        </div>
                                        <div id="brancheslist">
                                            <ul>
                                                
                                                   <li ng-repeat="Location in ListSettingsLocation | filter: {City: 'Karachi'}">
                                                    <h3>{{Location.Name}}</h3>
                                                    <h4>{{Location.Address}}</h4>
                                                   
                                                </li>
                                                
                                                
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- KArachi Area -->
                                </div>
                                <div id="finder_right">
                                    <img ng-src="{{BaseUrl}}img/theme/paksitan-map.png" style="height: 350px;">
                                    <span class="isb_flag">&nbsp;</span>
                                    <span class="lhr_flag">&nbsp;</span>
                                    <span class="khi_flag">&nbsp;</span>
                                    <span class="rwl_flag">&nbsp;</span>
                                </div>
                            </div>
                        </div>
                        <!-- #content -->
                    </div>
                    <!-- #container -->
                </div>
                <!-- #main -->
                <!-- #footer -->
            </div>
        </div>
       
    </div>
</div>
<style>
table, th, td {
border: 1px solid black;
margin: auto;
margin-bottom: 30px;
}
th, td {
padding: 15px;
}
</style>
<script type="text/javascript">
$(document).ready(function () {
$("#karachi").hide();
$("#islamabad").hide();
$("#lahore").hide();
$("#rawalpindi").hide();
$("#karachi").addClass("active");
$("#menudetailbox").hide();
$("#areascoverdwrap ").hide();
$(".isb_flag").click(function () {
$("#karachi").removeClass("active");
$("#lahore").removeClass("active");
$("#rawalpindi").hide("active");
$("#islamabad").addClass("active");
});
$(".lhr_flag").click(function () {
$("#karachi").removeClass("active");
$("#lahore").addClass("active");
$("#islamabad").removeClass("active");
$("#rawalpindi").hide("active");
});
$(".khi_flag").click(function () {
$("#karachi").addClass("active");
$("#lahore").removeClass("active");
$("#islamabad").removeClass("active");
$("#rawalpindi").hide("active");
});
$(".rwl_flag").click(function () {
$("#rawalpindi").show();
$("#karachi").removeClass("active");
$("#lahore").removeClass("active");
$("#islamabad").removeClass("active");
});
$("span.closebtn").click(function closereglog() {
$("#reglogin").hide("slow");
//window.location = 'http://teamants.com/clients/dominos_live/order/';
});
$("#normalcontent .leftarea ul li").click(function (){
$("#normalcontent .leftarea ul li").removeClass('active');
$("#normalcontent .leftarea").removeClass('bogleftarea');
$(this).addClass('active');
});
$("#normalcontent .leftarea ul li.biglongarea").click(function (){
$("#normalcontent .leftarea").addClass('bogleftarea');
$(this).addClass('active');
});
$('p.applynow').click (function () {
$('#formwrap').fadeIn('slow');
});
$('div.closeapplywrap').click (function () {
$('#formwrap').fadeOut('slow');
});
$('#brancheslist ul li a').click(function () {
$('#brancheslist ul li').removeClass('shoarea');
$(this).parent().addClass('shoarea');
});
});
function hidedetails() {
$("#menudetailbox").hide();
$("#menudetailboxwrap").hide();
}
function closeformwrap() {
$('#formwrap').fadeOut('slow');
}
function closefran() {
$('#franchiseForm').hide();
}
function closereglog() {
$("#reglogin").hide("slow");
//window.location = 'http://teamants.com/clients/dominos_live/order/';
}
function showareas(id) {
$("#areascoverdwrap ").show();
}
function hideareacoverd() {
$('#brancheslist ul li').removeClass('shoarea');
}

</script>