<div id=pageFrame><div id=pageHeader><div id=genericHeader><div class=subNavigation><div id=notch><img ng-src=https://cache.dominos.com/nolo/us/en/013167/assets/build/images/img/logoNotch.gif alt="Domino's Pizza"></div><a href="/" class=logo>Domino's Pizza</a></div></div></div><div id=pageBody><div id=pageContent><div id=orderConfirmationPage><h2 class=sectionHeading>Thank You For Your Order</h2><div class=pageBox><p class="headlineText informationText">Order # <strong>{{SettingGeneral.settings.order_number_format}}{{OrderInfo.orderid}}</strong>&nbsp;was successfully placed.</p><p class=contentText>You should shortly receive a confirmation email containing your order details.</p></div><div style="margin:0 auto;width:216px"><a class="btn btnLarge fr" href="/"><span>Domino's Homepage</span></a></div><div class=clr></div></div></div></div></div>
<!-- Facebook Conversion Code for Domino&#039;s Online Order -->
<script>(function() {
var _fbq = window._fbq || (window._fbq = []);
if (!_fbq.loaded) {
var fbds = document.createElement('script');
fbds.async = true;
fbds.src = '//connect.facebook.net/en_US/fbds.js';
var s = document.getElementsByTagName('script')[0];
s.parentNode.insertBefore(fbds, s);
_fbq.loaded = true;
}
})();
window._fbq = window._fbq || [];
window._fbq.push(['track', '6019775005264', {'value':'0.01','currency':'PKR'}]);
</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6019775005264&amp;cd[value]=0.01&amp;cd[currency]=PKR&amp;noscript=1" /></noscript>

