
	<div class="row clearfix">
		<div class="col-md-12 column">
        <h1>Cart</h1>
        
        <table ng-show="IfCart()" class="table">
                                    <thead> 
                                            <tr>
                                                <th class="col-md-4">Product Name</th>
                                                <th class="col-md-4">Price</th>
                                                <th class="col-md-4">Quantity</th>
                                                <th class="col-md-4">Total Price</th>
                                                <th class="col-md-4">Action</th>
                                            </tr>
                                            </thead> 
                                            <tbody ng-repeat="(keyMain,Itemss) in Cart track by $index">
                                            <tr ng-show="Itemss.productID">
                                                <td class="col-md-4">{{Itemss.productInfo.productName}} </td>
                                                <td class="col-md-4">Rs. {{itm.price}}</td>
                                                <td class="col-md-4"><input style="width:62px;" ng-change="changeQuantity()"  min='1'  ng-model="Itemss.quantity" type="number" ></td>
                                                <td class="col-md-4">Rs. {{Itemss.price * Itemss.quantity}}</td>
                                                <td><span class="glyphicon glyphicon-remove" ng-click="RemoveCartItem(Itemss.productID,false)"></span></td>
                                            </tr>
                                            <tr ng-hide="Itemss.productID" ng-repeat="(key,itm) in Itemss track by $index"> 
                                                <td class="col-md-4">{{itm.productInfo.productName}} - ( {{key}} )</td>
                                                <td class="col-md-4">Rs. {{itm.price}}</td>
                                                <td class="col-md-4"><input style="width:62px;" ng-change="changeQuantity()"  min='1'  ng-model="itm.quantity" type="number" ></td>
                                                <td class="col-md-4">Rs. {{itm.price * itm.quantity}}</td>
                                                <td>{{}}<span class="glyphicon glyphicon-remove" ng-click="RemoveCartItem(itm.productID,key)"></span></td>
                                             </tr>
                                            </tbody>
									<tfoot>
										<tr>
											<td><a class="btn btn-info"  href="./">Continue Shopping</a></td>
                                            <td></td>
											<td>&nbsp;</td>
											<td><strong>Total Rs. {{ReturnTotal()}}</strong></td>
                                            
											<td>
                                            	<a ng-if="!User.info.CustomerEmail" class="btn btn-info"  href="./login">Checkout</a>
                                                <a  ng-if="User.info.CustomerEmail"  class="btn btn-info"  href="./confirm">Checkout</a>
                                                
                                            </td>
											
											
										</tr>
									</tfoot>							
                                </table>
                                <h6 ng-hide="IfCart()" align="center">No Item Found</h6>
		</div>
	</div>

