
<div class="row clearfix">
  <div class="col-md-12 column">
    <h1>
      Cart
    </h1>
    <table ng-show="IfCart()" class="table">
      <thead>
        <tr>
          <th class="col-md-4">
            Product
          </th>
          <th class="col-md-4">
            Price
          </th>
          <th class="col-md-4"  ng-show="ThemeSettings.theme_settings.display_quantity_dropdown">
            Quantity
          </th>
          <th class="col-md-4 min200">
            Total Price
          </th>
          <th class="col-md-4">
            Action
          </th>
        </tr>
      </thead>
      
      <tbody ng-repeat="(keyMain,Itemss) in Cart track by $index">
        <tr ng-show="Itemss.productID">
          <td class="col-md-4">
            {{Itemss.productInfo.productName}} 
          </td>
          <td class="col-md-4">
            {{SettingGeneral.settings.currencies_format}}. {{Itemss.price}}
          </td>
          <td class="col-md-4">
            <input ng-show="ThemeSettings.theme_settings.display_quantity_dropdown" style="width:62px;" ng-change="changeQuantity()"  min='1'  ng-model="Itemss.quantity" type="number" >
          </td>
          <td class="col-md-4">
            {{SettingGeneral.settings.currencies_format}}. {{Itemss.price * Itemss.quantity}}
          </td>
          <td>
            <span class="glyphicon glyphicon-remove" ng-click="RemoveCartItem(Itemss.productID,false)">
            </span>
          </td>
        </tr>
        <tr ng-hide="Itemss.productID" ng-repeat="(key,itm) in Itemss track by $index">
          <td class="col-md-4">
            {{itm.productInfo.productName}} - ( {{key}} )
          </td>
          <td class="col-md-4">
            {{SettingGeneral.settings.currencies_format}}. {{itm.price}}
          </td>
          <td class="col-md-4"  ng-show="ThemeSettings.theme_settings.display_quantity_dropdown">
            <input style="width:62px;" ng-change="changeQuantity()"  min='1'  ng-model="itm.quantity" type="number" >
          </td>
          <td class="col-md-4">
            {{SettingGeneral.settings.currencies_format}}. {{itm.price * itm.quantity}}
          </td>
          <td>
            {{}}
            <span class="glyphicon glyphicon-remove" ng-click="RemoveCartItem(itm.productID,key)">
            </span>
          </td>
        </tr>
      </tbody>
    </table>
    <div ng-show="IfCart()">
      <div class="clearfix">
      </div>
      <hr />
       <div class="col-md-12"  align="right">
        <h2  align="right" ng-if="ReturnTax()">
          Total : {{ReturnTotal()- ReturnTaxPrice() - ReturnShipping()| currency:SettingGeneral.settings.currencies_format+' '}}
        </h2>
      </div>
       <hr /> 
      <div class="col-md-12"  align="right"  ng-if="ReturnTax()">
        <h2  align="right">
          Tax : {{ReturnTaxPrice()| currency:SettingGeneral.settings.currencies_format+' '}} 
        </h2>
        <span>
          Tax are dependent on shipping country
        </span>
        <hr />
      </div>
      <div class="col-md-12"  align="right"  ng-if="ReturnShipping()">
                                            <h2  align="right">
                                              Shipping : {{ReturnShipping()| currency:SettingGeneral.settings.currencies_format+' '}} 
                                            </h2>
                                            <span>
                                              Shipping are dependent on shipping country
                                            </span>
                                            <hr />
                                          </div>
      <div class="clearfix">
      </div>
      
      
      <div class="col-md-12"  align="right">
        <h2>
          Total : {{ReturnTotal()| currency:SettingGeneral.settings.currencies_format+' '}}
        </h2>
         <hr />
      </div>
      <div class="clearfix">
      </div>
     
      
      
      <div class="form-group">
        <a class="btn btn-info pull-left"  href="./">
          Continue Shopping
        </a>
        <a ng-if="!User.info.CustomerEmail" class="btn btn-info   pull-right"  href="./login">
          Checkout
        </a>
        <a  ng-if="User.info.CustomerEmail"  class="btn btn-info   pull-right"  href="./confirm">
          Checkout
        </a>
      </div>
    </div>
  </div>
  <h6 ng-hide="IfCart()" align="center">
    No Item Found
  </h6>
</div>
</div>
