<div class="row">
<div class="col-md-12" >
  <div>
    <carousel>
      <slide  ng-if="ThemeSettings.theme_settings.slide_1_show">
      <a href="{{ThemeSettings.theme_settings.slide_1_link}}">
        <img ng-src="{{ThemeSettings.theme_settings.slide_1_img}}" style="margin:auto;">
        <div class="carousel-caption">
          <h4>{{ThemeSettings.theme_settings.slide_1_alt}}</h4>
        </div>
        </a>
      </slide>
      <slide  ng-if="ThemeSettings.theme_settings.slide_2_show">
       <a href="{{ThemeSettings.theme_settings.slide_2_link}}">
        <img ng-src="{{ThemeSettings.theme_settings.slide_2_img}}" style="margin:auto;">
        <div class="carousel-caption">
          <h4>{{ThemeSettings.theme_settings.slide_2_alt}}</h4>
        </div>
        </a>
      </slide>
      <slide  ng-if="ThemeSettings.theme_settings.slide_3_show">
       <a href="{{ThemeSettings.theme_settings.slide_3_link}}">
        <img ng-src="{{ThemeSettings.theme_settings.slide_3_img}}" style="margin:auto;">
        <div class="carousel-caption">
          <h4>{{ThemeSettings.theme_settings.slide_3_alt}}</h4>
        </div>
        </a>
      </slide>
       <slide  ng-if="ThemeSettings.theme_settings.slide_4_show">
        <a href="{{ThemeSettings.theme_settings.slide_4_link}}">
        <img ng-src="{{ThemeSettings.theme_settings.slide_4_img}}" style="margin:auto;">
        <div class="carousel-caption">
          <h4>{{ThemeSettings.theme_settings.slide_4_alt}}</h4>
        </div>
        </a>
      </slide>
      <div class="clearfix"></div>
    </carousel>
      <div class="clearfix"></div>
  </div>
</div>
</div>
<div class="clearfix"></div>

<div class="row clearfix">

<style>
.deactivate{
	opacity:0.5;
}
	
</style>
						<div class="column"   ng-class="ThemeSettings.theme_settings.enable_featuredproduct ? 'col-md-8' : 'col-md-12'">
						  <div class="row" ng-repeat="collection in ListCollection | filter:{collectionName:SearchCollection}">
						 <div ng-show="(collection.collectionName != 'Frontpage')">
                          <div class="col-lg-12" ng-if="ProductCount(collection.collectionName,'Frontpage')">
                            	<h1>{{collection.collectionName}}</h1>
                                <hr />
                          </div>
							<div class="col-md-4" ng-animate="'animate'"  ng-repeat="(prodID,products) in ListProduct | CustomFilter:{collection:'Frontpage'} | CustomFilter:{collection:collection.collectionName} | filter:{productName:SearchTitle} | filter:{ProductVendorName:SearchVendor} | filter:{ProductTypeName:SearchType} | filter:{productTags:SearchTags} ">
							 <div class="thumbnail">
								<a href="./products/{{products.productUrl}}">
                               			
                                        <img ng-if="products.productImage[0].Image" alt="{{products.productName}}" src="{{products.productImage[0].Image}}">
                                        <span class="no-image-span"  ng-if="!products.productImage[0].Image"><i  class="glyphicon glyphicon-camera"></i></span>
                                </a>
                                
								<div class="caption">
								  <h4>
									<a href="./products/{{products.productUrl}}">
                                    			{{products.productName}}
                                    </a>
                                  </h4>                                   
                                  <h5 ng-if="!products.productMultiOptions">({{SettingGeneral.settings.currencies_format}} {{products.productPrice}}) <span  ng-if="products.productPriceCompare"><strike>({{SettingGeneral.settings.currencies_format}} {{products.productPriceCompare}})</strike></span></h5>
                                  <h5 ng-if="products.productMultiOptions && selectedVarients(products.productVarientModel) && returnPrice(products) && returnPrice(products) >= 0 ">({{SettingGeneral.settings.currencies_format}} {{returnPrice(products)}}) <span ng-if="products.productPriceCompare"><strike>({{SettingGeneral.settings.currencies_format}} {{products.productPriceCompare}})</strike></span></h5>
                                  
								  <p>
                                 
                                 <form name="addtoCart" ng-submit="addToCart(products.id,products);">
                                      <input ng-show="ThemeSettings.theme_settings.display_quantity_dropdown" class="input input-small"  min='1' ng-model="products.productQuantity" type="number" >
                                      <div ng-if="products.productMultiOptions">
                                      	<a ng-click="products.productVarientModel = {};" onclick="$('.attributes_{{products.Index}}').removeAttr('checked');" href="javascript:void(0)">Reset All</a>
                                          <div class="section_attribute"  ng-repeat="valueSize in products.productMultiOptionsList"> 
                                                <div>
                                                 <h4 style="font-size: 14px;font-weight: bold;text-align: left;margin: 17px;margin-bottom: 0;margin-left: 0;color: rgb(156, 156, 156);">Select {{valueSize.name}}</h4>
                                                  <hr style="margin:0; margin-bottom:20px;" />
                                                   <span ng-repeat="parms in valueSize.value" class="radio">
                                                        <label ng-class="{'deactivate':RenderOnDemand(products.productVarientModel,products,parms)}">
                                                       
                                                        <input ng-checked="products.productVarientModel[valueSize.name] && products.productVarientModel[valueSize.name] == parms"  ng-click="ResetVariendsModelBase(valueSize.name,parms,products.productVarientModel,products.Index)" class="attributes_{{products.Index}}" name="attributes_{{products.Index}}"   ng-disabled="RenderOnDemand(products.productVarientModel,products,parms)" type="checkbox" value="{{parms}}"  required  >
                                                        {{parms}}
                                                         </label>
                                                   </span>
                                               </div>
                                               <!--<div ng-if="!products.productVarientModelParent || products.productVarientModelParent == valueSize.name">
                                                 <h4 style="font-size: 14px;font-weight: bold;text-align: left;margin: 17px;margin-bottom: 0;margin-left: 0;color: rgb(156, 156, 156);">Select {{valueSize.name}}</h4>
                                                  <hr style="margin:0; margin-bottom:20px;" />
                                                   <span ng-repeat="parms in valueSize.value" class="radio">
                                                        <label>
                                                        <input ng-click="ResetVariendsModelBase(valueSize.name,parms,prodID)"    type="radio" value="{{parms}}"  required ng-model="products.productVarientModel[valueSize.name]" name="{{products.id}}{{valueSize.name}}" >
                                                        {{parms}}
                                                         </label>
                                                   </span>
                                               </div>-->
                                               
                                               
                                               
                                               <div class="clearfix"></div>
                                           </div>
                                           <div class="clearfix"></div>
                                      </div>
                                      <div  ng-if="products.productMultiOptions && selectedVarients(products.productVarientModel)">
                                   		 <h4 ng-if="!returnPrice(products)" class="label label-danger">Not Avalible</h4>
                                   	 </div>
                                      <div ng-if="!products.productMultiOptions">
                                    		  <input class="btn"  type="submit" value="Add" name="submit" />
                                      </div>
                                      <div ng-if="products.productMultiOptions && selectedVarients(products.productVarientModel) && returnPrice(products) && returnPrice(products) >= 0">
                                    		  <input class="btn"  type="submit" value="Add" name="submit" />
                                      </div>
                                  </form>
								  </p>
								</div>
							  </div>
                              <div class="clearfix"></div>
							</div>
                             <div class="clearfix"></div>
                             
                             
                             </div>
                             
						  </div>
                          
                           
						</div>
                        
                        <div class="col-md-4 column" ng-if="ThemeSettings.theme_settings.enable_featuredproduct">
                        	<h1>Featured Products</h1>
                                <div ng-repeat="(ThemeId,ThemeFeature) in ThemeSettings.theme_settings.featuredproduct track by $index">
                              		<div ng-if="ThemeFeature">
                                    			<div class="row" ng-repeat="collection in ListCollection | filter:{collectionName:SearchCollection}">
                                                     <div ng-show="(collection.id == ThemeId)">
                                                      <div>
                                                            <h1>{{collection.collectionName}}</h1>
                                                            <hr />
                                                      </div>
                                                        <div class="col-md-12" ng-animate="'animate'"  ng-repeat="(prodID,products) in ListProduct | CustomFilter:{collection:collection.collectionName}   | limitTo:5">
                                                         <div class="thumbnail">
                                                            <a href="./products/{{products.productUrl}}">
                                                                    
                                                                    <img ng-if="products.productImage[0].Image" alt="{{products.productName}}" src="{{products.productImage[0].Image}}">
                                                                    <span class="no-image-span"  ng-if="!products.productImage[0].Image"><i  class="glyphicon glyphicon-camera"></i></span>
                                                            </a>
                                                            
                                                            <div class="caption">
                                                              <h4>
                                                                <a href="./products/{{products.productUrl}}">
                                                                            {{products.productName}}
                                                                </a>
                                                              </h4>                                   
                                                              <h5 ng-if="!products.productMultiOptions">({{SettingGeneral.settings.currencies_format}} {{products.productPrice}}) <span  ng-if="products.productPriceCompare"><strike>({{SettingGeneral.settings.currencies_format}} {{products.productPriceCompare}})</strike></span></h5>
                                                              <h5 ng-if="products.productMultiOptions && selectedVarients(products.productVarientModel) && returnPrice(products) && returnPrice(products) >= 0 ">({{SettingGeneral.settings.currencies_format}} {{returnPrice(products)}}) <span ng-if="products.productPriceCompare"><strike>({{SettingGeneral.settings.currencies_format}} {{products.productPriceCompare}})</strike></span></h5>
                                                              
                                                              <p>
                                                             
                                                             <form name="addtoCart" ng-submit="addToCart(products.id,products);">
                                                                  <input class="input input-small"  min='1' ng-model="products.productQuantity" type="number" >
                                                                  <div ng-if="products.productMultiOptions">
                                                                    <a ng-click="products.productVarientModel = {};" onclick="$('.attributes_{{products.Index}}').removeAttr('checked');" href="javascript:void(0)">Reset All</a>
                                                                      <div class="section_attribute"  ng-repeat="valueSize in products.productMultiOptionsList"> 
                                                                            <div>
                                                                             <h4 style="font-size: 14px;font-weight: bold;text-align: left;margin: 17px;margin-bottom: 0;margin-left: 0;color: rgb(156, 156, 156);">Select {{valueSize.name}}</h4>
                                                                              <hr style="margin:0; margin-bottom:20px;" />
                                                                               <span ng-repeat="parms in valueSize.value" class="radio">
                                                                                    <label ng-class="{'deactivate':RenderOnDemand(products.productVarientModel,products,parms)}">
                                                                                   
                                                                                    <input ng-checked="products.productVarientModel[valueSize.name] && products.productVarientModel[valueSize.name] == parms"  ng-click="ResetVariendsModelBase(valueSize.name,parms,products.productVarientModel,products.Index)" class="attributes_{{products.Index}}" name="attributes_{{products.Index}}"   ng-disabled="RenderOnDemand(products.productVarientModel,products,parms)" type="checkbox" value="{{parms}}"  required  >
                                                                                    {{parms}}
                                                                                     </label>
                                                                               </span>
                                                                           </div>
                                                                           <!--<div ng-if="!products.productVarientModelParent || products.productVarientModelParent == valueSize.name">
                                                                             <h4 style="font-size: 14px;font-weight: bold;text-align: left;margin: 17px;margin-bottom: 0;margin-left: 0;color: rgb(156, 156, 156);">Select {{valueSize.name}}</h4>
                                                                              <hr style="margin:0; margin-bottom:20px;" />
                                                                               <span ng-repeat="parms in valueSize.value" class="radio">
                                                                                    <label>
                                                                                    <input ng-click="ResetVariendsModelBase(valueSize.name,parms,prodID)"    type="radio" value="{{parms}}"  required ng-model="products.productVarientModel[valueSize.name]" name="{{products.id}}{{valueSize.name}}" >
                                                                                    {{parms}}
                                                                                     </label>
                                                                               </span>
                                                                           </div>-->
                                                                           
                                                                           
                                                                           
                                                                           <div class="clearfix"></div>
                                                                       </div>
                                                                       <div class="clearfix"></div>
                                                                  </div>
                                                                  <div  ng-if="products.productMultiOptions && selectedVarients(products.productVarientModel)">
                                                                     <h4 ng-if="!returnPrice(products)" class="label label-danger">Not Avalible</h4>
                                                                 </div>
                                                                  <div ng-if="!products.productMultiOptions">
                                                                          <input class="btn"  type="submit" value="Add" name="submit" />
                                                                  </div>
                                                                  <div ng-if="products.productMultiOptions && selectedVarients(products.productVarientModel) && returnPrice(products) && returnPrice(products) >= 0">
                                                                          <input class="btn"  type="submit" value="Add" name="submit" />
                                                                  </div>
                                                              </form>
                                                              </p>
                                                            </div>
                                                          </div>
                                                          <div class="clearfix"></div>
                                                        </div>
                                                         <div class="clearfix"></div>
                                                         
                                                         
                                                         </div>
                                                         
                                                      </div>
                                    </div>
                                        
                               </div>
                        </div>
					  </div>
                      <hr />
                      <div class="row clearfix" ng-if="ThemeSettings.theme_settings.homepage_page">
                        <div class="col-md-12 column" ng-animate="'animate'" ng-repeat="page in ListPage | CustomFilter:{pageId : ThemeSettings.theme_settings.homepage_page}">
                            <div class="jumbotron">
                                <h1>
                                    {{page.pageName}}
                                </h1>
                                <p ng-bind-html="page.pageDescription"></p>
                            </div>
                        </div>
                     
                      
                    