<div class="content_bg">
	<div id="columns" class="container ">
		<div class="row ">
			<div class="loader_page">
				<div id="center_column" class="center_column span9 clearfix">
					<!-- Breadcrumb -->
					<div class="breadcrumb">
						<div class="breadcrumb_inset">
							<a class="breadcrumb-home" href="/" title="Return to Home"><i class="icon-home"></i></a>
							<span class="navigation-pipe">&gt;</span>
							<span class="navigation_page">Login</span>
						</div>
					</div>
					<!-- /Breadcrumb -->


					<h1 ng-if="!User.info.CustomerEmail && ListPaymentGateways.accountsDisabled != 'disabled'">
						<span>Log in</span>
					</h1>

					<!---->
					<div class="row-fluid" ng-if="!User.info.CustomerEmail && ListPaymentGateways.accountsDisabled != 'disabled'">
						<form role="form" ng-submit="CheckLogin('cart')" id="login_form" class="std span6">
							<fieldset class="titled_box">
								<h2>
									<span>Already registered?</span>
								</h2>
								<div class="form_content clearfix">
									<p class="text">
										<label for="email">Email address</label>
										<span>
											<input type="email" id="email" name="email" value="" class="account_input" ng-model="Customer.email" required="required">
										</span>
									</p>
									<p class="text">
										<label for="passwd">Password</label>
										<span>
											<input type="password" id="passwd" name="passwd" value="" class="account_input" ng-model="Customer.password" required="required">
										</span>
									</p>
									<p class="lost_password"><a href="#">Forgot your password?</a>
									</p>
									<p class="submit">
										<input type="submit" id="SubmitLogin" name="SubmitLogin" class="button" value="Log in">
									</p>

								</div>
							</fieldset>
						</form>

						<form action="#" method="post" id="create-account_form" class="std span6">
							<fieldset class="titled_box">
								<h2>
									<span>Create an account</span>
								</h2>
								<div class="form_content clearfix">

									<p class="submit">
										<a href="./signup">
											<input type="submit" id="SubmitCreate" name="SubmitCreate" class="button_large" value="Create an account">
										</a>
									</p>
								</div>
							</fieldset>
						</form>

						<div class="form_content clearfix">
							<p class="submit">
								<a href="javascript:void(0)" ng-click="GuestLogin('cart')" style="margin-left:22px;">

									<input type="submit" id="SubmitCreate" name="SubmitCreate" class="button_large" value="Continue as Guest login">
								</a>
							</p>
						</div>

					</div>

					<div class="row-fluid" ng-if="User.info.CustomerEmail || ListPaymentGateways.accountsDisabled == 'disabled'">
						<div class="span6 column" ng-if="User.info.CustomerEmail && ListPaymentGateways.accountsDisabled != 'disabled'">
							<!-- <h1>{{User.info.CustomerFirstName}}</h1>, <h4>you are already logged in</h4> -->
						</div>
						<div class="span6 column" ng-if="!User.info.CustomerEmail && ListPaymentGateways.accountsDisabled == 'disabled'">
							<h4>Login is disabled</h4>
						</div>
						<div class="span6 column" ng-if="User.info.CustomerEmail && ListPaymentGateways.accountsDisabled == 'disabled'">
							<h4>Login is disabled</h4>
						</div>
					</div>

					<p class="cart_navigation  clearfix inner-top" ng-if="User.info.CustomerEmail || ListPaymentGateways.accountsDisabled == 'disabled'">
						<a href="/confirm" class="exclusive standard-checkout" title="Next">Checkout »</a>
						<a href="/" class="button_large" title="Continue shopping">« Continue shopping</a>
					</p>

				</div>

				<!-- Right -->
				<aside id="right_column" class="span3 column right_home">
					<section id="manufacturers_block_left" class="block blockmanufacturer column_box" ng-include src="'partials/sidebar.html'">
					</section>

				</aside>
			</div>
		</div>
	</div>
</div>
