<div class="row clearfix"  ng-if="!User.info.CustomerEmail && ListPaymentGateways.accountsDisabled != 'disabled'">
		<div class="col-md-6 column">
			<form role="form" ng-submit="CheckLogin('cart')">
				<div class="form-group">
					 <label for="exampleInputEmail1">Email address</label>
                     <input required="required" type="email" class="form-control" ng-model="Customer.email" />
				</div>
				<div class="form-group">
					 <label for="exampleInputPassword1">Password</label>
                     <input  required="required" type="password" class="form-control" ng-model="Customer.password"  />
				</div>
                <h4 id="error" style="display:none; color:red;">Please enter valid login info</h4>
				<div class="checkbox">
				</div> <button type="submit" class="btn btn-default">Login</button>
                <div class="col-md-4 pull-right">
            		<a class="btn btn-info" ng-click="GuestLogin('confirm')">Continue as Guest login</a>
           		</div>
			</form>
		</div>
        <div class="col-md-6 column">
            <div class="col-md-6">
            		<a href="./signup" class="btn btn-info">Sign Up</a>
            </div>
		</div>
	</div>
   
   
   <div class="row clearfix"  ng-if="User.info.CustomerEmail || ListPaymentGateways.accountsDisabled == 'disabled'">
        <div class="col-md-6 column" ng-if="User.info.CustomerEmail && ListPaymentGateways.accountsDisabled != 'disabled'">
           <h4>You are already logged in</h4>
		</div>
        <div class="col-md-6 column" ng-if="!User.info.CustomerEmail && ListPaymentGateways.accountsDisabled == 'disabled'">
           <h4>Login is disabled</h4>
		</div>
        <div class="col-md-6 column" ng-if="User.info.CustomerEmail && ListPaymentGateways.accountsDisabled == 'disabled'">
           <h4>Login is disabled</h4>
		</div>
	</div>
