<div id="pageFrame">
    <div id="genericheader">
        <div class="subNavigation">

            <div id="notch">
                <img ng-src="https://cache.dominos.com/nolo/us/en/013167/assets/build/images/img/logoNotch.gif" alt="Domino's Pizza"/>
            </div>

            <a href="/" class="logo">Domino's Pizza</a>

        </div>
    </div>
    <div id="pageBody">
        <div id="pageContent">
            <div id="js-customerPage" class="w100">
                <div id="customerLoginPage" class="w100">
                    <p class="profileMsg">Have a Domino's Pizza Profile? Sign-in now or <a class="createAccount" href="/signup">create one</a> 
                    </p>
                    <h1 class="sectionHeading">Forgot Password</h1>
                    <div class="pageBox" ng-if="!User.info.CustomerEmail && ListPaymentGateways.accountsDisabled != 'disabled'">
                        <div class="leftContainer" style="border-right:none;">
                            <form role="form" ng-submit="ForgotPassword('login')">
                                <div class="formArea horizontal">
                                    <div class="formEntry">
                                        <label for="Email" class="entryLabel">
                                            <strong>*</strong>Email Address:</label>
                                            <div class="entryGroup">
                                                <input type="text" placeholder="Enter Email Address" id="Email" name="Email" maxlength="100" class="medium js-email" value="" ng-model="Customer.forgotEmail" required style="width: 268px;height: 24px;">
                                            </div>
                                        </div>

                                        <h4 ng-show="invalidEmail" style="display:none; color:red;font-weight: bolder;text-align: center;margin-left: 62px;">Please enter valid Email address</h4>
                                        <h4  ng-show="ResetPasswordEmail == true" class="label  label-success ng-scope" style="font-weight: bold;padding-left: 81px;padding-top: 20px;margin-left: 82px;">Email sent. Please check your email for password reset instructions.</h4>
                                        <div class="formEntry actions js-formActions">
                                            <div>
                                                <button class="btn btnSmall js-loginSubmit" type="submit" title="Click to Sign in" style="width: 94px;float: right;">
                                                    <span>Send</span>
                                                </button>
                                            </div>

                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div class="clr">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix" ng-if="User.info.CustomerEmail || ListPaymentGateways.accountsDisabled == 'disabled'">
                    <div class="col-md-6 login-signup" ng-if="User.info.CustomerEmail && ListPaymentGateways.accountsDisabled != 'disabled'">
                        <h4>You are already logged in</h4>
                    </div>
                    <div class="col-md-6 login-signup" ng-if="!User.info.CustomerEmail && ListPaymentGateways.accountsDisabled == 'disabled'">
                        <h4>Login is disabled</h4>
                    </div>
                    <div class="col-md-6 login-signup" ng-if="User.info.CustomerEmail && ListPaymentGateways.accountsDisabled == 'disabled'">
                        <h4>Login is disabled</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

