<!-- ///// Forgot Password ///// -->

<div id="pageFrame">
    <div id="genericheader">
        <div class="subNavigation">

            <div id="notch">
                <img ng-src="https://cache.dominos.com/nolo/us/en/013167/assets/build/images/img/logoNotch.gif" alt="Domino's Pizza" />
            </div>

            <a href="/" class="logo">Domino's Pizza</a>

        </div>
    </div>
    <div id="pageBody">
        <div id="pageContent" ng-init="checkResetPasswordFlag()" ng-if="issetPasswordResetFlag == false">
            <div id="js-customerPage" class="w100" ng-if="!User.info.CustomerEmail && ListPaymentGateways.accountsDisabled == 'optional' && ResetPasswordMessage!= true && issetPasswordResetFlag!= true">
                <div id="customerLoginPage" class="w100" >
                    
                    <h1 class="sectionHeading">Reset Password</h1>
                    <div class="pageBox">
                        <div class="clr">
                            <!-- -->
                        </div>
                        <div class="pageBox" >
                        <div class="leftContainer" style="border-right:none;" >
                            <form role="form" ng-submit="ResetPasswordEmail('login')">
                                <div class="formArea horizontal">
                                
                                    <div class="formEntry">
                                        <label for="Password" class="entryLabel">
                                            <strong>*</strong>New Password:</label>
                                        <div class="entryGroup">
                                            <input type="password" id="Password" placeholder="Enter Password" name="Password" maxlength="40" class="medium js-password" ng-model="Customer.NewPassword" required style="width: 268px;height: 24px;">
                                        </div>
                                    </div>
                                     <div class="formEntry">
                                        <label for="Email" class="entryLabel">
                                            <strong>*</strong>Confirm Password:</label>
                                        <div class="entryGroup">
                                            <input type="password" placeholder="Enter Email Address" id="Email" name="Email" maxlength="100" class="medium js-email" value="" oninput="check(this)"  ng-model="Customer.ConfirmNewPassword"  required style="width: 268px;height: 24px;">
                                        </div>
                                    </div>
                                    
                                    <h4 ng-show="issetPasswordResetFlag == true" class="label  label-success"> Your password reset link has been expired. Please send another request for password recovery.</h4>
                                    <div class="formEntry actions js-formActions">
                                        <div>
                                            <button class="btn btnSmall js-loginSubmit" type="submit" title="Click to Sign in" style="float:right;">
                                                <span>Update</span>
                                            </button> 
                                        </div>
                                        
                                    </div>
                                </div>
                            </form>
                        </div>
                        
                        <div class="clr">
                            <!-- -->
                        </div>
                        <div class="col-md-6 column" ng-if="!User.info.CustomerEmail && ListPaymentGateways.accountsDisabled == 'disabled'">
           <h4>Login is disabled</h4>
        </div>
        <div class="col-md-6 column" ng-if="User.info.CustomerEmail && ListPaymentGateways.accountsDisabled == 'disabled'">
           <h4>Login is disabled</h4>
        </div>
                    </div>
                    <div ng-if="issetPasswordResetFlag != false">
                    	<h4>Link Expired</h4>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    <div id="pageContent" ng-if="User.info.CustomerEmail && !User.info.GuestAuth  && !ResetPasswordDone">
            <div id="js-customerPage" class="w100">
                <div id="customerLoginPage" class="w100" >
                    
                    <h1 class="sectionHeading">Reset Password</h1>
                    <div class="pageBox">
                        <div class="clr">
                            <!-- -->
                        </div>
                        <div class="pageBox">
                        <div class="leftContainer" style="border-right:none;">
                            <form role="form" ng-submit="ResetPassword('/')">
                                <div class="formArea horizontal">
                                     <div class="formEntry">
                                        <label for="Password" class="entryLabel">
                                            <strong>*</strong>Old Password:</label>
                                        <div class="entryGroup">
                                            <input type="password" placeholder="Enter Password" name="Password" maxlength="40" class="medium js-password" ng-model="Customer.OldPassword" required style="width: 268px;height: 24px;">
                                        </div>
                                    </div>
                                    <div class="formEntry">
                                        <label for="Password" class="entryLabel">
                                            <strong>*</strong>New Password:</label>
                                        <div class="entryGroup">
                                            <input type="password" id="Password" placeholder="Enter Password" name="Password" maxlength="40" class="medium js-password" ng-model="Customer.NewPassword" required style="width: 268px;height: 24px;">
                                        </div>
                                    </div>
                                     <div class="formEntry">
                                        <label for="Email" class="entryLabel">
                                            <strong>*</strong>Confirm Password:</label>
                                        <div class="entryGroup">
                                            <input type="password" placeholder="Enter Email Address" id="Email" name="Email" maxlength="100" class="medium js-email" value="" oninput="check(this)"  ng-model="Customer.ConfirmNewPassword"  required style="width: 268px;height: 24px;">
                                        </div>
                                    </div>
                                    
                                   
                                    <div class="formEntry actions js-formActions">
                                        <div>
                                            <button class="btn btnSmall js-loginSubmit" type="submit" title="Click to Sign in" style="float:right;">
                                                <span>Update</span>
                                            </button> 
                                        </div>
                                        
                                    </div>
                                </div>
                            </form>
                        </div>
                        
                        <div class="clr">
                            <!-- -->
                        </div>
                        
                    </div>
                    <div ng-if="issetPasswordResetFlag != false">
                        <h4>Link Expired</h4>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>



