<div class="content_bg">
    <div id="columns" class="container ">
        <div class="row ">
            <div class="loader_page">
                <div id="center_column" class="center_column span9 clearfix">
                    <div id="noSlide" style="display: block;">

                        <!-- Breadcrumb -->
                        <div class="breadcrumb">
                            <div class="breadcrumb_inset">
                                <a class="breadcrumb-home" href="/" title="Return to Home"><i class="icon-home"></i></a>
                                <span class="navigation-pipe">&gt;</span>
                                <span class="navigation_page">Change Passowrd</span>
                            </div>
                        </div>
                        <!-- /Breadcrumb -->
                        <h1>
                            <span>Change Password</span>
                        </h1>
                        <div class="block-center" ng-if="!User.info.CustomerEmail">
                          <p class="warning">You are not logged in. Please click <a href="/login">Login</a></p>
                        </div>

                        <!---->
                        <div ng-if="User.info.CustomerEmail">
                          <form role="form" ng-submit="ResetPassword('/')" id="reset_password_form" class="std">
                            <fieldset>
                            <div class="row-fluid">
                                <div class="span9">
                                    <p>Fill out the following form in order to update your password.<br />
                                    We will save the details you provid in order facilitate your purchases on our website.
                                    </p>
                                </div>
                                <div class="span3">
                                    <p class="required" style="padding:10px 0 10px 0; margin:0;"><sup>*</sup> Required field</p>
                                </div>
                            </div>
                            </fieldset>
                            <fieldset class="account_creation titled_box">
                                    <div class="row-fluid">
                                        <div class="span6">
                                            <h3>
                                                <span>User Account</span>
                                            </h3>
                                            <p class="required text">
                                                <label for="passwd">Old Password <sup>*</sup>
                                                    <span class="form_info">(Five characters minimum)</span>
                                                </label>
                     							<input required="required" min="5" type="password" class="form-control" ng-model="Customer.OldPassword" />
                     						</p>
                                            <p class="required text">
                                                <label for="passwd">New Password <sup>*</sup></label>
                                               <input required="required" min="5" id="Password" type="password" class="form-control" ng-model="Customer.NewPassword" />
                                            </p>
                                            <p class="required text">
                                               <label for="passwd">Confirm Password <sup>*</sup></label>
                                               <input required="required" min="5" type="password" id="confirmPassword"  oninput="check(this)" class="form-control" ng-model="Customer.ConfirmNewPassword" />
                                            </p>

                                            <p class="cart_navigation required submit">
                                                <div id="actionLoader" ng-show="StartSignup">&nbsp;&nbsp;</div>
                                                <input style="float:left;" type="submit" name="submitAccount" id="submitAccount" value="Update" class="exclusive">
                                            </p>

                                        </div>
                                       
                                    </div>
                            </fieldset>
                          </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


  <!--  <div class="row clearfix"  ng-if="User.info.CustomerEmail || ListPaymentGateways.accountsDisabled == 'disabled'">
        <div class="col-md-6 column" ng-if="User.info.CustomerEmail && ListPaymentGateways.accountsDisabled != 'disabled'">
          <form role="form" ng-submit="ResetPassword('login')">
				<div class="form-group">
					 <label for="exampleInputEmail1">Old Password</label>
                     <input required="required" type="password" class="form-control" ng-model="Customer.OldPassword" />
				</div>
                <div class="form-group">
					 <label for="exampleInputEmail1">New Password</label>
                     <input required="required" id="Password" type="password" class="form-control" ng-model="Customer.NewPassword" />
				</div>
                 <div class="form-group">
					 <label for="exampleInputEmail1">Confirm Password</label>
                     <input required="required" type="password" id="confirmPassword"  oninput="check(this)" class="form-control" ng-model="Customer.ConfirmNewPassword" />
				</div>
                <h4 ng-show="invalidPassword" class="label  label-warning">Please enter valid password</h4>
				<div class="checkbox">
				</div> <button type="submit" class="btn btn-default">Update</button>
			</form>
		</div>
        <div class="col-md-6 column" ng-if="!User.info.CustomerEmail && ListPaymentGateways.accountsDisabled == 'disabled'">
           <h4>Login is disabled</h4>
		</div>
        <div class="col-md-6 column" ng-if="User.info.CustomerEmail && ListPaymentGateways.accountsDisabled == 'disabled'">
           <h4>Login is disabled</h4>
		</div>
	</div>
 -->