<div class="content_bg">
    <div id="columns" class="container ">
        <div class="row ">
            <div class="loader_page">
                <div id="center_column" class="center_column span9 clearfix">
                    <!-- Breadcrumb -->
                    <div class="breadcrumb">
                        <div class="breadcrumb_inset">
                            <a class="breadcrumb-home" href="/" title="Return to Home"><i class="icon-home"></i></a>
                            <span class="navigation-pipe">&gt;</span>
                            <span class="navigation_page">Thank You</span>
                        </div>
                    </div>
                    <!-- /Breadcrumb -->


                    <h1>
                        <span>Thanks for Order</span>
                    </h1>

                    <h1>Order ID: {{SettingGeneral.settings.order_number_format}}{{OrderInfo.orderid}}</h1>
                </div>

                <!-- Right -->
                <aside id="right_column" class="span3 column right_home">
                </aside>
            </div>
        </div>
