#genericHeader .subNavigation {
    background:0;
    min-height:0;
    z-index:10
}
#genericHeader .mainNavigation span a:hover {
    color:#f9022d;
    background:#fff
}
#pageFrame {
    width:930px;
    padding-left:10px
}
#pageBody {
    border:0
}
#pageContent {
    padding:0
}
#pageFooter {
    margin-left:15px
}
#genericHeader .subNavigation .logo {
    width:100px;
    height:100px;
    top:-34px;
    background:transparent url(../../img/theme/img-logo-home.png) no-repeat 0 0 scroll;
    text-indent:-99999px
}
#homeWrapper {
    overflow:hidden;
    min-height:400px
}
#homePage .button {
    box-shadow:2px 2px 6px #737373;
    cursor:pointer;
    display:block;
    outline:1px solid transparent;
    text-decoration:none;
    z-index:1;
    background:#e3193b;
    background:-moz-linear-gradient(bottom, #e3193b 70%, #f08796 100%);
    background:-webkit-linear-gradient(bottom, #e3193b 70%, #f08796 100%);
    background:linear-gradient(bottom, #e3193b 70%, #f08796 100%);
    -ms-filter:"progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#737373')";
    -ms-font-smoothing:subpixel-antialiased;
    backface-visibility:hidden;
    transform-style:preserve-3d;
    transform:translate3d(0, 0, 0)
}
#homePage p {
    line-height:1
}
#homePage #sectionMain {
    float:left;
    width:696px;
    text-transform:uppercase
}
#homePage #sectionMain .hero {
    height:525px;
    overflow:hidden;
    position:relative;
    text-indent:-9999em
}
#homePage #sectionMain .hero .btn, #homePage #footerMain .btn {
    text-indent:0;
    font-size:1.8em;
    letter-spacing:-1px
}
#homePage #asideMain {
    float:left;
    margin-left:17px;
    position:relative;
    text-indent:-9999em;
    width:214px
}
#homePage #asideMain .btn {
    text-indent:0
}
#homePage #asideMain h2 {
    position:absolute;
    top:-9999em
}
#homePage #asideMain li {
    display:block;
    height:250px;
    margin:0;
    padding:0;
    vertical-align:bottom
}
#homePage #asideMain li a {
    display:block;
    height:250px;
    overflow:hidden;
    position:relative
}
#homePage #asideMain li p {
    color:#0078ae;
    font-size:7px;
    margin:-22px 0 0 10px;
    position:relative;
    text-indent:0
}
#homePage #asideMain li#profileCreate p {
    margin-top:-20px
}
#homePage #asideMain li a.secondaryLink {
    height:auto;
    text-decoration:underline;
    display:inline
}
#homePage #asideMain li.top {
    margin-top:17px
}
#homePage #footerMain {
    float:left;
    width:927px;
    text-transform:uppercase
}
#homePage #footerMain .footerTile {
    width:927px;
    position:relative;
    text-indent:-9999em;
    margin-top:9px
}
#homePage #footerMain .footerTile a {
    display:block
}
#homePage #footerMain .footerTile h2, #homePage #footerMain .footerTile h3, #homePage #footerMain .footerTile p {
    text-indent:-9999em
}
#homePage.generalMarket #sectionMain .hero.panPizza-hero {
    background:url('../../img/theme/noimage.png') no-repeat 0 0;
    display: block;
    background-size: cover;
}
#homePage.generalMarket #sectionMain .hero.panPizza-hero.noPrice {
    background:url('../images/promo/DPZ_N1_GM_HP_hero_panPizza_noprice.jpg') no-repeat 0 0
}
#homePage.generalMarket #sectionMain .hero.panPizza-hero .buttonContainer {
    left:0;
    height:515px;
    position:absolute;
    text-decoration:none;
    top:0;
    width:696px
}
#homePage.generalMarket #sectionMain .hero.panPizza-hero .buttonContainer #heroCTA {
    font-size:1.5em;
    height:32px;
    left:284px;
    position:absolute;
    top:193px;
    width:117px;
    padding:5px
}
#homePage.generalMarket #sectionMain .hero.mixmatch-hero {
    background:url('../images/promo/DPZ_N5_GM_HP_hero_solidred.jpg') no-repeat 0 0
}
#homePage.generalMarket #sectionMain .hero.mixmatch-hero .buttonContainer {
    left:0;
    height:515px;
    position:absolute;
    text-decoration:none;
    top:0;
    width:696px
}
#homePage.generalMarket #sectionMain .hero.mixmatch-hero .buttonContainer .button {
    border:2px solid #fff;
    border-radius:4px
}
#homePage.generalMarket #sectionMain .hero.mixmatch-hero .buttonContainer #heroCTA {
    height:38px;
    left:288px;
    position:absolute;
    top:166px;
    width:139px;
    padding:3px
}
#homePage.generalMarket #asideMain #mixnMatch a {
    background:url('../../img/theme/noimage.png') no-repeat 0 0;
    text-decoration:none;;
    background-size: cover;
    background-size: cover;
}
#homePage.generalMarket #asideMain #mixnMatch.noPrice a {
    background:url('../images/promo/DPZ_N1_GM_HP_mixnmatch_599_noprice.jpg') no-repeat 0 0
}
#homePage.generalMarket #asideMain #mixnMatch #mixnMatchCTA {
    border:2px solid #fff;
    border-radius:4px;
    height:22px;
    left:60px;
    position:absolute;
    top:204px;
    width:87px;
    padding:0;
    font-size:1.2em
}
#homePage.generalMarket #asideMain #panPizza a {
    background:url('../images/promo/DPZ_N5_GM_HP_pan_799_solidred.jpg') no-repeat 0 0;
    text-decoration:none
}
#homePage.generalMarket #asideMain #panPizza.noPrice a {
    background:url('../images/promo/DPZ_N1_GM_HP_pan_799_noprice.jpg') no-repeat 0 0
}
#homePage.generalMarket #asideMain #panPizza #panPizzaCTA {
    border:2px solid #fff;
    border-radius:4px;
    height:30px;
    left:54px;
    position:absolute;
    top:117px;
    padding:2px 6px;
    width:110px;
    font-size:1.4em
}
#homePage.generalMarket #asideMain #carryoutSpecial a {
    background:url('../images/promo/DPZ_N5_GM_HP_carryoutspecial.jpg') no-repeat 0 0;
    text-decoration:none
}
#homePage.generalMarket #asideMain #carryoutSpecial #carryoutSpecialCTA {
    border:2px solid #fff;
    border-radius:4px;
    height:32px;
    left:54px;
    position:absolute;
    top:175px;
    width:100px
}
#homePage.generalMarket #asideMain #carryoutDeal a {
    background:url('../images/promo/DPZ_N5_GM_HP_carryout_799_solidred.jpg') no-repeat 0 0;
    text-decoration:none
}
#homePage.generalMarket #asideMain #carryoutDeal.noPrice a {
    background:url('../images/promo/DPZ_N1_GM_HP_carryout_799_noprice.jpg') no-repeat 0 0
}
#homePage.generalMarket #asideMain #carryoutDeal.noPrice #carryoutCTA {
    left:60px;
    top:157px
}
#homePage.generalMarket #asideMain #carryoutDeal #carryoutCTA {
    border:2px solid #fff;
    border-radius:4px;
    height:27px;
    left:109px;
    position:absolute;
    padding:3px;
    top:196px;
    width:92px;
    font-size:1.2em
}
#homePage.generalMarket #asideMain #stJudeBundle a {
    background:url('../images/promo/DPZ_N5_GM_HP_stjude.jpg') no-repeat 0 0;
    text-decoration:none
}
#homePage.generalMarket #asideMain #stJudeBundle #stJudeBundleCTA {
    border:2px solid #fff;
    border-radius:4px;
    height:27px;
    left:112px;
    position:absolute;
    padding:3px;
    top:211px;
    width:92px;
    font-size:1.2em
}
#homePage.generalMarket #asideMain #mobileApps a {
    background:url('../images/promo/DPZ_N4_GM_HP_mobile.jpg') no-repeat 0 0;
    text-decoration:none
}
#homePage.generalMarket #asideMain #mobileApps #mobileAppsCTA {
    border:2px solid #fff;
    border-radius:4px;
    height:30px;
    left:50px;
    position:absolute;
    top:197px;
    width:112px;
    font-size:1.4em;
    padding:2px 0 0
}
#homePage.generalMarket #asideMain #fiftyPercentOff a {
    background:url('../../img/theme/noimage.png') no-repeat 0 0;
    text-decoration:none;
    background-size: cover;
}
#homePage.generalMarket #asideMain #fiftyPercentOff #fiftyPercentOffCTA {
    border:2px solid #fff;
    border-radius:4px;
    height:30px;
    left:52px;
    position:absolute;
    top:210px;
    width:110px;
    font-size:1.4em;
    padding:2px 6px
}
#homePage.generalMarket #asideMain #orderOnline a {
    background:url('../images/promo/DPZ_N4_GM_HP_OO.jpg') no-repeat 0 0;
    text-decoration:none
}
#homePage.generalMarket #asideMain #orderOnline #orderOnlineCTA {
    border:2px solid #fff;
    border-radius:4px;
    height:27px;
    left:57px;
    position:absolute;
    padding:3px;
    top:177px;
    width:100px;
    font-size:1.2em
}
#homePage.generalMarket #asideMain #pizzaMakers a {
    background:url('../images/promo/DPZ_N1_GM_HP_pizzamakers.jpg') no-repeat 0 0;
    text-decoration:none
}
#homePage.generalMarket #asideMain #pizzaMakers #pizzaMakersCTA {
    position:absolute;
    top:203px;
    left:117px
}
#homePage.generalMarket #asideMain #newprofile a {
    background:url('../images/promo/DPZ_N1_GM_HP_profiles.jpg') no-repeat 0 0;
    text-decoration:none
}
#homePage.generalMarket #asideMain #newprofile #newprofileCTA {
    left:82px;
    top:184px;
    position:absolute
}
#homePage.generalMarket #asideMain #addCoke a {
    background:url('../images/promo/DPZ_N1_GM_HP_addcoke.jpg') no-repeat 0 0;
    text-decoration:none
}
#homePage.generalMarket #asideMain #addCoke #addCokeCTA {
    border:0;
    border-radius:20px;
    height:27px;
    left:16px;
    position:absolute;
    padding:4px 3px 0;
    top:198px;
    width:100px;
    font-size:1.3em;
    background-image:none;
    box-shadow:none
}
#homePage.generalMarket #footerMain #profileCreateBottom a {
    background:url('../images/promo/DPZ_N5_GM_HP_profile_bottom_seconds.jpg') no-repeat 0 0;
    text-decoration:none;
    height:141px
}
#homePage.generalMarket #footerMain #profileCreateBottom #profileCreateBottomCTA {
    padding:3px;
    border:2px solid #fff;
    border-radius:4px;
    height:38px;
    left:526px;
    position:absolute;
    top:88px;
    width:139px
}
#homePage.generalMarket #footerMain #pizzaMakersBottom a {
    background:url('../../img/theme/DPZ_N1_GM_HP_pizzamakers_bottom.jpg') no-repeat 0 0;
    text-decoration:none;
    height:141px
}
#homePage.generalMarket #footerMain #pizzaMakersBottom #pizzaMakersBottomCTA {
    position:absolute;
    top:96px;
    left:823px;
    font-size:1.4em;
    padding:3px 15px
}
#homePage.generalMarket #footerMain #mixnMatchBottom a {
    background:url('../images/promo/DPZ_N5_GM_HP_mixnmatch_599_bottom.jpg') no-repeat 0 0;
    text-decoration:none;
    height:256px
}
#homePage.generalMarket #footerMain #mixnMatchBottom #mixnMatchBottomCTA {
    padding:3px;
    border:2px solid #fff;
    border-radius:4px;
    height:38px;
    left:700px;
    position:absolute;
    top:198px;
    width:139px
}
#homePage.generalMarket #footerMain #stJudeBottom a {
    background:url('../images/promo/DPZ_N5_GM_HP_stjude_bottom.jpg') no-repeat 0 0;
    text-decoration:none;
    height:141px
}
#homePage.generalMarket #footerMain #stJudeBottom #stJudeBottomCTA {
    padding:1px 3px;
    border:2px solid #fff;
    border-radius:4px;
    height:34px;
    left:619px;
    position:absolute;
    top:87px;
    width:128px
}
.hideTout {
    z-index:0
}
.showTout {
    z-index:1
}
#homePage.hispanicMarket #sectionMain .hero.panPizza-hero {
    background:url('../images/promo/DPZ_N1_HM_HP_hero_panPizza.jpg') no-repeat 0 0
}
#homePage.hispanicMarket #sectionMain .hero.panPizza-hero .buttonContainer {
    left:0;
    height:515px;
    position:absolute;
    text-decoration:none;
    top:0;
    width:696px
}
#homePage.hispanicMarket #sectionMain .hero.panPizza-hero .buttonContainer #heroCTA {
    font-size:1.5em;
    height:32px;
    left:277px;
    position:absolute;
    top:193px;
    width:139px;
    padding:5px
}
#homePage.hispanicMarket #sectionMain .hero.mixmatch-hero {
    background:url('../images/promo/DPZ_N5_HM_HP_hero_solidred.jpg') no-repeat 0 0
}
#homePage.hispanicMarket #sectionMain .hero.mixmatch-hero .buttonContainer {
    left:0;
    height:515px;
    position:absolute;
    text-decoration:none;
    top:0;
    width:696px
}
#homePage.hispanicMarket #sectionMain .hero.mixmatch-hero .buttonContainer .button {
    border:2px solid #fff;
    border-radius:4px
}
#homePage.hispanicMarket #sectionMain .hero.mixmatch-hero .buttonContainer #heroCTA {
    height:38px;
    left:288px;
    position:absolute;
    top:166px;
    width:139px;
    padding:3px
}
#homePage.hispanicMarket #asideMain #fiftyPercentOff a {
    background:url('../images/promo/DPZ_N1_HM_HP_50off.jpg') no-repeat 0 0;
    text-decoration:none
}
#homePage.hispanicMarket #asideMain #fiftyPercentOff #fiftyPercentOffCTA {
    border:2px solid #fff;
    border-radius:4px;
    height:30px;
    left:52px;
    position:absolute;
    top:210px;
    width:110px;
    font-size:1.4em;
    padding:2px 6px
}
#homePage.hispanicMarket #asideMain #mixnMatch a {
    background:url('../images/promo/DPZ_N5_HM_HP_mixnmatch_599.jpg') no-repeat 0 0;
    text-decoration:none
}
#homePage.hispanicMarket #asideMain #mixnMatch #mixnMatchCTA {
    border:2px solid #fff;
    border-radius:4px;
    height:22px;
    left:62px;
    position:absolute;
    top:208px;
    width:87px;
    padding:0;
    font-size:1.2em
}
#homePage.hispanicMarket #asideMain #panPizza a {
    background:url('../images/promo/DPZ_N5_HM_HP_pan_799.jpg') no-repeat 0 0;
    text-decoration:none
}
#homePage.hispanicMarket #asideMain #panPizza #panPizzaCTA {
    border:2px solid #fff;
    border-radius:4px;
    height:26px;
    left:62px;
    position:absolute;
    top:117px;
    width:84px;
    padding:1px
}
#homePage.hispanicMarket #asideMain #carryoutSpecial a {
    background:url('../images/promo/DPZ_N5_HM_HP_carryoutspecial.jpg') no-repeat 0 0;
    text-decoration:none
}
#homePage.hispanicMarket #asideMain #carryoutSpecial #carryoutSpecialCTA {
    border:2px solid #fff;
    border-radius:4px;
    height:32px;
    left:54px;
    position:absolute;
    top:205px;
    width:100px
}
#homePage.hispanicMarket #asideMain #carryoutDeal a {
    background:url('../images/promo/DPZ_N5_HM_HP_carryout_799.jpg') no-repeat 0 0;
    text-decoration:none
}
#homePage.hispanicMarket #asideMain #carryoutDeal #carryoutCTA {
    border:2px solid #fff;
    border-radius:4px;
    height:22px;
    left:111px;
    position:absolute;
    top:197px;
    width:87px;
    padding:0;
    font-size:1.2em
}
#homePage.hispanicMarket #asideMain #stJudeBundle a {
    background:url('../images/promo/DPZ_N5_HM_HP_stjude.jpg') no-repeat 0 0;
    text-decoration:none
}
#homePage.hispanicMarket #asideMain #stJudeBundle #stJudeBundleCTA {
    border:2px solid #fff;
    border-radius:4px;
    height:27px;
    left:112px;
    position:absolute;
    padding:3px;
    top:211px;
    width:92px;
    font-size:1.2em
}
#homePage.hispanicMarket #asideMain #mobileApps a {
    background:url('../images/promo/DPZ_N4_HM_HP_mobile.jpg') no-repeat 0 0;
    text-decoration:none
}
#homePage.hispanicMarket #asideMain #mobileApps #mobileAppsCTA {
    border:2px solid #fff;
    border-radius:4px;
    height:30px;
    left:30px;
    position:absolute;
    top:202px;
    width:156px;
    font-size:1.4em;
    padding:2px 0 0
}
#homePage.hispanicMarket #asideMain #pizzaMakers a {
    background:url('../images/promo/DPZ_N1_HM_HP_pizzamakers.jpg') no-repeat 0 0;
    text-decoration:none
}
#homePage.hispanicMarket #asideMain #pizzaMakers #pizzaMakersCTA {
    position:absolute;
    top:203px;
    left:117px
}
#homePage.hispanicMarket #footerMain #profileCreateBottom a {
    background:url('../images/promo/DPZ_N5_HM_HP_profile_bottom_seconds.jpg') no-repeat 0 0;
    text-decoration:none;
    height:141px
}
#homePage.hispanicMarket #footerMain #profileCreateBottom #profileCreateBottomCTA {
    padding:3px;
    border:2px solid #fff;
    border-radius:4px;
    height:38px;
    left:526px;
    position:absolute;
    top:88px;
    width:139px
}
#homePage.hispanicMarket #footerMain #mixnMatchBottom a {
    background:url('../images/promo/DPZ_N5_HM_HP_mixnmatch_599_bottom.jpg') no-repeat 0 0;
    text-decoration:none;
    height:256px
}
#homePage.hispanicMarket #footerMain #mixnMatchBottom #mixnMatchBottomCTA {
    padding:3px;
    border:2px solid #fff;
    border-radius:4px;
    height:38px;
    left:700px;
    position:absolute;
    top:198px;
    width:139px
}
#homePage.hispanicMarket #footerMain #stJudeBottom a {
    background:url('../images/promo/DPZ_N5_HM_HP_stjude_bottom.jpg') no-repeat 0 0;
    text-decoration:none;
    height:141px
}
#homePage.hispanicMarket #footerMain #stJudeBottom #stJudeBottomCTA {
    padding:1px 3px;
    border:2px solid #fff;
    border-radius:4px;
    height:34px;
    left:619px;
    position:absolute;
    top:87px;
    width:128px
}
#homePage.hispanicMarket #footerMain #pizzaMakersBottom a {
    background:url('../images/promo/DPZ_N1_HM_HP_pizzamakers_bottom.jpg') no-repeat 0 0;
    text-decoration:none;
    height:141px
}
#homePage.hispanicMarket #footerMain #pizzaMakersBottom #pizzaMakersBottomCTA {
    position:absolute;
    top:96px;
    left:825px;
    font-size:1.4em;
    padding:3px 15px
}
#homePage.hispanicMarket #asideMain #newprofile a {
    background:url('../images/promo/DPZ_N1_HM_HP_profiles.jpg') no-repeat 0 0;
    text-decoration:none
}
#homePage.hispanicMarket #asideMain #newprofile #newprofileCTA {
    left:82px;
    top:184px;
    position:absolute
}
#homePage.hispanicMarket #asideMain #addCoke a {
    background:url('../images/promo/DPZ_N1_HM_HP_addcoke.jpg') no-repeat 0 0;
    text-decoration:none
}
#homePage.hispanicMarket #asideMain #addCoke #addCokeCTA {
    border:0;
    border-radius:20px;
    height:27px;
    left:16px;
    position:absolute;
    padding:4px 3px 0;
    top:198px;
    width:100px;
    font-size:1.3em;
    background-image:none;
    box-shadow:none
}
#homePage #asideMain #rotationTout>a {
    position:absolute;
    top:0;
    width:100%
}
#homePage #sectionMain {
    min-height:525px
}
#orderHistoryContainer {
    border:3px solid #0078ae;
    position:relative;
    border-radius:10px;
    padding:10px;
    text-transform:none
}
#orderHistoryContainer p, #orderHistoryContainer ul li {
    color:#006491
}
#orderHistory #welcomeMsg {
    background:url('../images/homepage/profile-banner.jpg') no-repeat 0 0;
    height:72px;
    margin-left:10px;
    overflow:hidden
}
#orderHistory #welcomeMsg h1 {
    font-size:46px;
    font-family:DominosFont, Arial;
    color:#fff;
    text-transform:uppercase;
    text-shadow:2px 2px 2px #333;
    background:0;
    display:inline-block;
    height:100%;
    line-height:1.5;
    white-space:nowrap
}
#orderHistory #welcomeMsg h1.small {
    font-size:24px;
    padding-top:20px
}
#orderHistory #welcomeMsg h1.medium {
    font-size:36px;
    padding-top:10px
}
#orderHistory #welcomeMsg h1:before, #orderHistory #welcomeMsg h1:after {
    content:"o";
    font-family:PizzaPressOrnaments;
    text-transform:lowercase
}
#orderHistory #welcomeMsg h1:after {
    content:"p"
}
#orderHistory .notch {
    position:absolute;
    top:-3px;
    left:-3px
}
#orderHistoryContainer .btn {
    float:none;
    display:inline-block
}
#orderHistoryContainer .subBanner {
    font-size:10px;
    text-align:center
}
#orderHistoryContainer .pageBox {
    margin:10px 0;
    background-color:#eee;
    border-radius:5px 5px 5px 5px;
    font-family:DominosFont, Arial;
    overflow:hidden
}
#orderHistoryContainer .settingHeader {
    font-size:14px;
    padding:4px 0;
    text-transform:uppercase;
    font-weight:normal
}
#orderHistoryContainer .centerText {
    text-align:center
}
#orderHistoryContainer .settingDescription {
    font-family:DominosFont, Arial, sans-serif;
    font-size:11px;
    text-align:left;
    width:280px
}
#orderHistoryContainer .stackAttack {
    font-size:28px;
    color:#fff;
    text-transform:uppercase
}
#orderHistoryContainer .centeringContainer h1 {
    background-color:#006491;
    display:inline-block;
    position:relative;
    line-height:36px
}
#orderHistoryContainer .easyOrderContainer .centeringContainer {
    overflow:visible
}
#orderHistoryContainer .easyOrderContainer .centeringContainer h1 {
    height:33px;
    line-height:33px;
    margin-left:20px
}
#orderHistoryContainer .localStore .centeringContainer h1 {
    height:36px;
    line-height:36px;
    margin-top:-15px
}
#orderHistoryContainer .easyOrderContainer h1:before {
    content:"";
    background:url("../images/homepage/easyOrderBannerLeft.png") no-repeat 100% 0;
    height:39px;
    width:232px;
    display:inline-block;
    position:absolute;
    right:100%
}
#orderHistoryContainer .easyOrderContainer h1:after {
    content:"";
    background:url("../images/homepage/easyOrderBannerRight.png") no-repeat 0 0;
    height:39px;
    width:232px;
    left:100%;
    display:inline-block;
    position:absolute
}
#orderHistoryContainer .recentOrders h1:before {
    content:"";
    background:url("../images/homepage/recentOrderBannerLeft.png") no-repeat 100% 0;
    height:37px;
    width:204px;
    display:inline-block;
    position:absolute;
    right:100%
}
#orderHistoryContainer .recentOrders h1:after {
    content:"";
    background:url("../images/homepage/recentOrderBannerRight.png") no-repeat 0 0;
    height:37px;
    width:204px;
    left:100%;
    display:inline-block;
    position:absolute
}
#orderHistoryContainer .localStore h1:before {
    content:"";
    background:url("../images/homepage/localStoreBannerLeft.png") no-repeat 100% 0;
    height:37px;
    width:204px;
    display:inline-block;
    position:absolute;
    right:100%
}
#orderHistoryContainer .localStore h1:after {
    content:"";
    background:url("../images/homepage/localStoreBannerRight.png") no-repeat 0 0;
    height:37px;
    width:204px;
    left:100%;
    display:inline-block;
    position:absolute
}
#orderHistoryContainer .stackAttack .sa2 {
    opacity:.6
}
#orderHistory .renameEasyOrder {
    text-indent:-9999px;
    text-transform:uppercase;
    font-size:10px;
    color:#999;
    background:url("../images/homepage/icons/edit.png") no-repeat 0 0;
    height:20px;
    margin-top:10px;
    width:75px
}
#orderHistory .renameEasyOrder:hover {
    text-indent:20px
}
.easyOrderNickname input {
    font-family:DominosFont, Arial, sans-serif
}
#orderHistory .qtyLabel {
    margin-right:16px;
    text-align:right
}
#orderHistory .orderDetails {
    margin-top:10px
}
#orderHistoryContainer .firstColumn {
    border-right:1px solid #006491;
    padding-right:12px;
    float:left;
    width:400px;
    margin-bottom:10px
}
#orderHistoryContainer .localStore .firstColumn {
    width:380px;
    padding:12px
}
#orderHistoryContainer .secondColumn {
    float:right;
    width:220px
}
#orderHistoryContainer .localStore .secondColumn {
    width:170px;
    padding:12px;
    margin-right:10px
}
#orderHistory .orderHistoryProduct:first-child, #orderHistory .orderSettings li:first-child, #localStore .orderSettings.firstColumn li:first-child {
    border-top-style:solid
}
#orderHistory .orderHistoryProduct:last-child, #orderHistory .orderSettings li:last-child {
    border-bottom:1px solid
}
#orderHistory .orderHistoryProduct div {
    display:inline-block;
    vertical-align:middle
}
#orderHistory .productQuantity {
    font-size:18px;
    padding-right:20px
}
#orderHistory .orderHistoryProduct .productDescription {
    width:270px
}
#orderHistory .orderDetails .showProducts {
    text-align:left;
    padding-left:0
}
#orderHistory .orderDetails .js-showAllProducts:before {
    content:"\25B6";
    padding-right:6px
}
#orderHistory .orderDetails .js-showLessProducts:before {
    content:"\25B2";
    padding-right:6px
}
#orderHistory .orderDetails .showProducts a {
    clear:none;
    float:none
}
#orderHistory .orderDetails a.removeEasyOrder {
    padding-bottom:0
}
#orderHistoryContainer .productIcon, #orderHistoryContainer .productIcon {
    height:25px;
    padding:10px;
    width:40px;
    position:relative;
    top:10px
}
#orderHistory .productIcon {
    background:url("../images/homepage/icons/misc.png") no-repeat 0 0
}
#orderHistory .productIcon.Pizza, #orderHistory .productIcon.Artisan {
    background:url("../images/homepage/icons/pizza.png") no-repeat 0 0;
    top:2px
}
#orderHistory .productIcon.Wings {
    background:url("../images/homepage/icons/wing.png") no-repeat 0 0
}
#orderHistory .productIcon.Wings.W08PBNLW, #orderHistory .productIcon.Wings.W14PBNLW, #orderHistory .productIcon.Wings.W40PBNLW {
    background:url("../images/homepage/icons/boneless.png") no-repeat 0 0
}
#orderHistory .productIcon.Dessert {
    background:url("../images/homepage/icons/cinnastix.png") no-repeat 0 0
}
#orderHistory .productIcon.Dessert.B2PCLAVA, #orderHistory .productIcon.Dessert.B1PCLAVA {
    background:url("../images/homepage/icons/lava.png") no-repeat 0 0
}
#orderHistory .productIcon.Drinks {
    background:url("../images/homepage/icons/drink.png") no-repeat 0 0;
    left:16px;
    top:2px
}
#orderHistory .productIcon.Bread {
    background:url("../images/homepage/icons/breadsticks.png") no-repeat 0 0
}
#orderHistory .productIcon.Bread.B8PCSSF, #orderHistory .productIcon.Bread.B8PCSCB, #orderHistory .productIcon.Bread.B8PCSBJ {
    background:url("../images/homepage/icons/stuffedBread.png") no-repeat 0 0;
    top:18px
}
#orderHistory .productIcon.Bread.B16PBIT, #orderHistory .productIcon.Bread.B32PBIT {
    background:url("../images/homepage/icons/parmBites.png") no-repeat 0 0;
    top:2px
}
#orderHistory .productIcon.Sandwich, #orderHistory .productIcon.Hoagies {
    background:url("../images/homepage/icons/sandwich.png") no-repeat 0 0;
    top:15px
}
#orderHistory .productIcon.Pasta {
    background:url("../images/homepage/icons/pasta.png") no-repeat 0 0
}
#orderHistory .productIcon.GSalad {
    background:url("../images/homepage/icons/salad.png") no-repeat 0 0
}
#orderHistory .productIcon.Chips {
    background:url("../images/homepage/icons/chips.png") no-repeat 0 0;
    top:2px;
    left:6px
}
#orderHistory .productIcon.Sides {
    background:url("../images/homepage/icons/sauce.png") no-repeat 0 0
}
.orderSetting.settingsLocation {
    overflow:hidden
}
.orderSetting.settingsLocation div {
    float:left;
    width:140px
}
#localStore .orderSetting.settingsLocation div {
    width:105px
}
#orderHistoryContainer .orderSettings .productIcon {
    top:5px;
    float:left;
    height:30px;
    width:30px;
    padding:6px
}
#orderHistoryContainer .productIcon.storeIcon {
    background:url("../images/homepage/icons/store.png") no-repeat 0 0;
    top:12px
}
#orderHistoryContainer .storeHours {
    background:url("../images/homepage/icons/storeHours.png") no-repeat 0 0
}
#orderHistoryContainer .orderSettings .settingsLocation {
    background:url("../images/homepage/icons/location.png") no-repeat 0 0;
    left:6px
}
#orderHistoryContainer .orderSettings .settingsServiceMethod {
    background:url("../images/homepage/icons/carryout.png") no-repeat 0 0
}
#orderHistoryContainer .orderSettings .settingsServiceMethod.Delivery {
    background:url("../images/homepage/icons/delivery.png") no-repeat 0 0
}
#orderHistoryContainer .orderSettings .settingsPayment {
    background:url("../images/homepage/icons/miscPayment.png") no-repeat 0 0
}
#orderHistoryContainer .orderSettings .settingsPayment.Cash {
    background:url("../images/homepage/icons/cash.png") no-repeat 0 0
}
#orderHistoryContainer .orderSettings .settingsPayment.CreditCard {
    background:url("../images/homepage/icons/creditCard.png") no-repeat 0 0
}
#orderHistoryContainer .orderSettings .settingsPayment.PayAtStore {
    background:url("../images/homepage/icons/store.png") no-repeat 0 0
}
#orderHistory .easyOrderContainer .btn {
    float:right;
    margin:6px 0 0 0
}
#orderHistory .easyOrderNickname {
    padding:10px;
    height:40px;
    float:left
}
#orderHistory .easyOrderNickname p {
    max-width:360px;
    overflow:hidden
}
.easyOrderNickname p, .easyOrderNickname a {
    display:inline-block
}
#orderHistory .easyOrderNickname p, #orderHistory .easyOrderNickname input {
    font-family:"DominosFont""Arial" sans-serif;
    font-size:40px;
    color:#e31837;
    text-transform:uppercase;
    text-align:left;
    height:45px
}
#orderHistory .easyOrderNickname p {
    margin:6px 3px
}
.easyOrderNickname a {
    vertical-align:top
}
#orderHistory .pageBox.pizzaBox {
    background:url("../images/homepage/pizzaBox.jpg") 0 0;
    margin-bottom:0
}
#orderHistory .pizzaBoxBottom {
    background:url("../images/homepage/pizzaBoxBottom.jpg") no-repeat 0 0;
    height:8px;
    margin:-2px 0 0 -3px
}
#recentOrdersNav {
    position:relative
}
.orderNavBar {
    width:550px;
    margin:0 auto
}
.orderNavBar li {
    width:85px;
    height:35px;
    float:left;
    margin:10px 5px 10px 0;
    border:0
}
#orderHistory ul.orderNavBar li {
    background:#dcdcdc;
    -ms-transform:skew(-18deg, 0deg);
    -webkit-transform:skew(-18deg, 0deg);
    transform:skew(-18deg, 0deg);
    box-shadow:2px 2px 2px rgba(0, 0, 0, 0.4) inset
}
#orderHistory ul.orderNavDates {
    position:absolute;
    left:48px;
    top:0
}
#orderHistory ul.orderNavDates li {
    background:0
}
#orderHistory ul.orderNavBar li p {
    color:#fff;
    -ms-transform:skew(18deg, 0deg);
    -webkit-transform:skew(18deg, 0deg);
    transform:skew(18deg, 0deg)
}
#orderHistory ul.orderNavBar li .navBarDay, #orderHistory ul.orderNavBar li .navBarDate {
    text-align:center
}
#orderHistory ul.orderNavBar li .navBarDay {
    font-size:24px;
    text-transform:uppercase
}
#orderHistory ul.orderNavBar li .navBarDate {
    font-size:12px
}
#orderHistory .orderNavBar li.inactive {
    background-color:#c3c1c1
}
#orderHistory .orderNavBar li.active {
    background-color:#0066a0
}
#orderHistory .orderNavBar li.pointer {
    cursor:pointer
}
.localStore .centeringContainer {
    background:url("../images/homepage/localStoreTop.png") no-repeat 50% 0;
    height:40px;
    margin:10px 0 0 0;
    overflow:visible
}
#localStore .localStoreContent {
    border-left:4px solid #006491;
    border-right:4px solid #006491;
    border-bottom:4px solid #006491;
    overflow:hidden;
    margin:0 13px 13px
}
#localStore h2 {
    font-size:20px;
    color:#e31837;
    text-transform:uppercase;
    display:inline-block;
    padding:8px 0 0 16px
}
#localStore img {
    border:3px solid #006491;
    padding:2px;
    margin-left:50px
}
#localStore .couponDescription {
    font-family:DominosFont;
    font-size:14px;
    text-align:left;
    width:230px;
    margin:0 12px
}
#localStore .couponPrice {
    font-size:36px;
    text-align:center;
    height:36px;
    margin-bottom:10px
}
.localCoupon img, .localCoupon .couponDescription, .localCoupon div {
    float:left
}
.localCoupon div {
    margin:40px 10px 0 0
}
.localCoupon a.btn {
    margin:10px 0
}
#orderHistory ul li, #localStore ul.firstColumn li {
    border-top:1px dotted #006491;
    padding:10px
}
#localStore ul.secondColumn {
    border-top:1px solid #006491;
    margin-top:11px
}
#localStore ul.secondColumn li:first-child {
    border-bottom:1px dotted #006491;
    padding-bottom:10px
}
#localStore ul.secondColumn li:last-child {
    padding-top:10px
}
#localStore li:last-child {
    border-bottom:0
}
#orderHistoryContainer .buttonContainer {
    display:inline-block;
    background:#eee;
    padding:0 8px
}
#orderHistory .centeringContainer.doubleLines {
    margin-top:10px;
    background:url("../images/homepage/doubleLinesBottom.png") repeat-x 0 15px;
    min-height:25px
}
#orderHistory .easyOrderDesc {
    width:350px;
    margin:0 auto;
    font-size:12px
}
#orderHistory .orderDetails a {
    clear:both;
    float:right;
    padding:10px;
    text-transform:uppercase
}
#orderHistory .saveEasyOrder {
    margin-bottom:10px
}
.trademark {
    color:#fff;
    display:inline-block;
    margin:6px;
    position:relative;
    vertical-align:top
}
.panRollOvers ul, .panRollOvers ul li {
    list-style:none;
    padding:0;
    margin:0;
    width:20px;
    height:20px
}
.panRollOvers ul li {
    position:absolute
}
.panRollOvers ul li .popUpContent {
    position:absolute;
    width:153px;
    height:72px;
    top:-51px;
    left:-63px;
    display:none
}
.panRollOvers ul li .rollBtn {
    width:20px;
    height:20px;
    background:url('../images/promo/DPZ_N1_HP_hero_button.png') no-repeat 0 0
}
.panRollOvers ul li.isActive .rollBtn, .panRollOvers ul li .rollBtn:hover {
    background:url('../images/promo/DPZ_N1_HP_hero_button.png') no-repeat 0 -21px
}
#homePage.generalMarket .panRollOvers ul li .popUpContent {
    background-image:url('../images/promo/DPZ_N1_GM_HP_hero_panPizza_popup_sprite.png');
    background-repeat:no-repeat
}
#homePage.generalMarket .panRollOvers ul li.two_layers {
    top:269px;
    left:175px
}
#homePage.generalMarket .panRollOvers ul li.made_fresh {
    top:381px;
    left:182px
}
#homePage.generalMarket .panRollOvers ul li.golden {
    top:378px;
    left:361px
}
#homePage.generalMarket .panRollOvers ul li.toppings_edge {
    top:239px;
    left:517px
}
#homePage.generalMarket .panRollOvers ul li.two_layers .popUpContent {
    background-position:0 -219px
}
#homePage.generalMarket .panRollOvers ul li.made_fresh .popUpContent {
    background-position:0 -72px
}
#homePage.generalMarket .panRollOvers ul li.golden .popUpContent {
    background-position:0 -146px
}
#homePage.generalMarket .panRollOvers ul li.toppings_edge .popUpContent {
    background-position:0 0
}
#homePage.hispanicMarket .panRollOvers ul li .popUpContent {
    background-image:url('../images/promo/DPZ_N1_HM_HP_hero_panPizza_popup_sprite.png');
    background-repeat:no-repeat
}
#homePage.hispanicMarket .panRollOvers ul li.two_layers {
    top:269px;
    left:175px
}
#homePage.hispanicMarket .panRollOvers ul li.made_fresh {
    top:381px;
    left:182px
}
#homePage.hispanicMarket .panRollOvers ul li.golden {
    top:378px;
    left:361px
}
#homePage.hispanicMarket .panRollOvers ul li.toppings_edge {
    top:239px;
    left:517px
}
#homePage.hispanicMarket .panRollOvers ul li.two_layers .popUpContent {
    background-position:0 -219px
}
#homePage.hispanicMarket .panRollOvers ul li.made_fresh .popUpContent {
    background-position:0 -146px
}
#homePage.hispanicMarket .panRollOvers ul li.golden .popUpContent {
    background-position:0 -72px
}
#homePage.hispanicMarket .panRollOvers ul li.toppings_edge .popUpContent {
    background-position:0 0
}
