

 #container {
    float: left;
    width: 100%;
}






-------------------------------------------------------------- */

/* The main theme structure */
 #access .menu-header, div.menu, #colophon, #branding, #main, #wrapper {
    margin: 0 auto;
    width: 100%;
}
#wrapper {
    position: relative;
    margin-top: 24px;
}


.sotrefinder {
    margin: 0 auto;
    overflow: hidden;
    width: 942px;
}
#finder_right {
    float: left;
    position: relative;
    margin-top: 36px;
}
#finder_left {
    float: left;
width: 403px;
margin-top: 2px;
}
.areamap {
 padding: 10px;
background: #0e6291;
overflow: hidden;
width: 384px;
}
.areamap img {
    float:left;
    border:1px solid #fff;
}
.isb_flag {
cursor: pointer;
position: absolute;
right: 12px;
top: 67px;
width: 120px;
}
.lhr_flag {
cursor: pointer;
position: absolute;
right: 16px;
top: 128px;
width: 90px;
}
.khi_flag {
bottom: 56px;
cursor: pointer;
position: absolute;
right: 156px;
width: 100px;
}
.rwl_flag {
bottom: 246px;
cursor: pointer;
position: absolute;
right: 123px;
width: 122px;
}
#brancheslist {
    float: left;
    margin-left: 30px;
    margin-top: 50px;
}
#brancheslist ul {
    list-style: none outside none;
}
#brancheslist ul li {
    margin-bottom:10px;
}
#brancheslist ul li h4 {
    color: #086190;
    margin: 0 0 5px;
}
#brancheslist ul li h3 {
    color: #D71D24;
    margin: 0;
    text-transform: uppercase;
}
#brancheslist ul li a {
}
#islamabad {
    float:left;
}
#lahore {
    float:left;
}
#karachi {
    float:left;
}
#islamabad, #karachi, #lahore {
    display:none;
}
#islamabad.active {
    display:block !important;
}
#karachi.active {
    display:block !important;
}
#lahore.active {
    display:block !important;
}
#reglogin {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    top:0;
    bottom: 0;
    display: table-cell;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    width: 100%;
    display:none;
    z-index: 1111;
}
#innerbox {
    height: 500px;
    margin: 200px auto 0;
    width: 1190px;
}
#reglogform {
    background: url("images/signup.jpg") repeat scroll 0 0 white;
    border: 5px solid #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    float: left;
    height: 293px;
    padding: 5px;
    position: relative;
    width: 452px;
}
#reglogform.registers {
    background: url("images/celebrate_pizza.jpg") repeat scroll 0 0 white !important;
}
.shoarea #areascoverdwrap {
    display: block !important;
}
.forsigntitle {
    color: #FFFFFF;
    float: right;
    font-size: 34px;
    line-height: normal;
    padding-bottom: 8px;
    padding-left: 30px;
    padding-top: 20px;
    text-align: left;
    text-transform: uppercase;
    width: 222px;
}
.forsigntitle span {
    float: left;
    width: 200px;
}
.forsigntitle span.sign {
    float: left;
    margin-left: 20px;
    width: 185px;
}
#loginform {
    border-right: 2px solid #007DAD;
    float: left;
    height: 195px;
    margin-top: 20px;
    padding: 0 20px;
    width: 195px;
}
#loginform .textfield {
    background: none repeat scroll 0 0 transparent;
    border:none;
    border-bottom: 1px solid #8C9092;
    box-shadow: none;
    color: #FFFFFF;
    font-size: 20px;
    padding: 5px 5px;
    text-transform: capitalize;
    width: 190px;
}
#regform {
    float: right;
    height: 235px;
    margin-right: 24px;
    margin-top: -10px;
    position: absolute;
    right: 0;
    top: 75px;
    width: 195px;
    z-index: 99999;
}
.clasdob {
}
#regform .clasdob label {
    float: left;
    font: 16px/24px'Open Sans Condensed', Arial, Helvetica, sans-serif;
    margin-left: 6px;
    margin-right: 2px;
    margin-top: 6px;
}
#regform .clasdob .textfield {
    float: left;
    width: 110px !important;
}
#wrapper #regform .textfield {
    background: none repeat scroll 0 0 transparent;
    border:none;
    border-bottom: 1px solid #8C9092;
    box-shadow: none;
    color: #FFFFFF;
    font-size: 20px;
    padding: 3px 5px;
    width: 190px;
    font:16px/24px'Open Sans Condensed', Arial, Helvetica, sans-serif;
}
#extra_address {
    background: url("images/addressarea.jpg") no-repeat scroll 0 bottom #FFFFFF;
    border: 5px solid #FFFFFF;
    height: 270px;
    left: 205px;
    position: absolute;
    top: -54px;
    width: 733px;
}
.formcols {
    border-right: 2px solid #B8BCBD;
    float: left;
    margin-right: 20px;
    margin-top: 10px;
    min-height: 145px;
    padding-right: 20px;
}
.lstcol {
    border: medium none;
    margin-right: 0;
    position: relative;
}
.seccol {
}
.fstcol {
    margin-left: 23px;
}
#titlepart {
    background: url("images/title_bgfor-address.jpg") repeat scroll 0 0 transparent;
    color: #FFFFFF;
    float: left;
    font-size: 34px;
    line-height: normal;
    padding-bottom: 10px;
    padding-left: 28px;
    padding-top: 10px;
    text-transform: uppercase;
    width: 703px;
}
#titlepart span {
    float: left;
    text-align: left;
}
#titlepart span.home {
    float: left;
    width: 240px;
}
#titlepart span.business {
    float: left;
    width: 240px;
}
#titlepart span.other {
    float:left;
}
#titlepart span.closebtn {
    float: right;
    margin-right: -23px;
    margin-top: -24px;
}
#wrapper p.login.button #loginsubmit {
    background: url("images/login.png") no-repeat scroll right 0 transparent;
    border: medium none;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 3px #FFFFFF;
    cursor: pointer;
    float: right;
    height: 30px;
    margin-bottom: 24px;
    margin-top: 4px;
    text-indent: -9999px;
    width: 155px;
}
#regsubmit {
    background: url("images/loginsignup.png") no-repeat scroll right 0 transparent;
    border: medium none;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 3px #FFFFFF;
    cursor: pointer;
    float: right;
    height: 30px;
    margin-top: 50px;
    text-indent: -9999px;
    width: 187px;
}
.logedin_name {
    color: #ED1C24;
    float: left;
    overflow: hidden;
    text-align: center;
    width: 125px;
}
.logedin_name a {
    color: #ED1C24 !important;
}
#menudetailboxwrap {
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}
#areascoverdwrap {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}
#areascoverdwrap .areacoverdpiv {
    margin: 70px auto 0;
    width: 1024px;
    position:relative;
}
#areascoverdwrap .areacoverdpiv img {
    position:absolute;
    z-index:111
}
#content #tabs {
    float: left;
    list-style: none outside none;
    margin: 0;
    width: 275px;
}
#content #contentt {
    background: url("images/about_bg.jpg") repeat scroll 0 0 #2B6795;
    float: right;
    min-height: 495px;
    padding: 12px 30px;
    width: 855px;
}
#content .tabswrappers h2 {
    color: #FFFFFF;
    font-size: 50px;
    text-transform: uppercase;
}
#content .tabswrappers h3 {
    color: #FFFFFF;
    margin-top: 34px;
    text-transform: uppercase;
}
#content #contentt p {
    color: #FFFFFF;
    font-family: helvetica-condensedlightRg;
    line-height: normal;
}
#content #tabs li {
    background: url("images/side_menubg.png") no-repeat scroll right bottom transparent;
    clear: both;
    float: left;
    margin-bottom: 20px;
    padding-bottom: 15px;
    padding-right: 10px;
}

#leftdiv {
    color: #4D4D4F !important;
    float: left;
    font-family: helvetica-condensedlightRg;
    font-size: 15px;
    line-height: 20px;
    text-align: justify;
    width: 300px;
}
#leftdiv p {
}
#content #leftdiv h3 {
    border-bottom: 1px solid #ED1C24;
    color: #007DAD;
    font-family: helvetica-condensedboldRg;
    font-size: 28px;
    margin: 20px 0 0;
    text-align: left;
    text-transform: uppercase;
}
#rightdiv {
    color: #4D4D4F !important;
    float: right;
    font-family: helvetica-condensedlightRg;
    font-size: 15px;
    line-height: 20px;
    margin-top: -50px;
    text-align: justify;
    width: 550px;
}
#rightdiv ul li {
    background: url("images/circle.png") no-repeat scroll 0 0 transparent;
    color: #007DAD;
    float: left;
    font-family: helvetica-condensedboldRg;
    font-size: 22px;
    min-height: 33px;
    padding-left: 11px;
    padding-top: 3px;
    text-transform: uppercase;
    width: 100%;
}
#rightdiv ul li span {
}
#content #rightdiv p.applynow {
    color: #007DAD;
    cursor: pointer;
    float: left;
    font-size: 28px;
    margin-left: 59px;
    text-decoration: underline;
    text-transform: uppercase;
}
#formwrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: none;
}
.closeapplywrap {
    background: none repeat scroll 0 0 #007DAD;
    border-radius: 15px 15px 15px 15px;
    cursor: pointer;
    height: 20px;
    position: absolute;
    right: 15px;
    width: 20px;
}
#innerform {
    margin: 50px auto 0;
    width: 440px;
}
#applynow {
}
#wrapper #applynow label {
    color: #007DAD;
    float: left;
    font-size: 14px;
    text-transform: uppercase;
    width: 100px;
}
#wrapper #applynow p {
}
#wrapper #applynow div.inputs {
    float: left;
    margin-bottom: 10px;
}
#wrapper #applynow .nic span {
    float: left;
    margin-right: 2px;
}
#wrapper #applynow {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 10px 10px 10px 10px;
    float: left;
    padding: 15px;
    position: relative;
}
#wrapper #applynow span {
    float: left;
    margin-right: 2px;
}
#wrapper #applynow .nic span .wpcf7-text {
    float: left;
    padding-left: 5px;
    width: 10px;
}
#wrapper #applynow .dob span .wpcf7-text {
    float: left;
    padding-left: 5px;
    width: 86px;
}
#wrapper #applynow .dob span {
    float: left;
    margin-right: 2px;
}
#wrapper #applynow .long span .wpcf7-text {
    float: left;
    padding-left: 5px;
    width: 390px;
}
#wrapper #applynow .long label {
    float: left;
    padding-left: 0;
    width: 100%;
    color: #007DAD;
}
#wrapper #applynow .wpcf7-text {
    border: 1px solid;
    float: left;
    margin: 0;
    padding: 2px;
    width: 297px;
}
#wrapper #applynow .wpcf7-textarea {
    height: 100px;
    width: 380px;
}
#wrapper #applynow .wpcf7-submit {
    float: left;
    width: 245px;
}
#content #rightdiv ul li p {
    color: #4D4D4F;
    float: left;
    font-family: helvetica-condensedlightRg;
    font-size: 16px;
    margin-bottom: 30px;
    margin-left: 27px;
    width: 430px;
}
#rightdiv ul {
    float: left;
    list-style: decimal inside none;
}
#rightdiv br:first-child, #leftdiv br:first-child {
    display: none;
}
#content #rightdiv h3 {
    border-bottom: 1px solid #ED1C24;
    color: #007DAD;
    font-family: helvetica-condensedboldRg;
    font-size: 28px;
    margin: 0;
    text-align: left;
    text-transform: uppercase;
}
#content #rightdiv p {
    margin-bottom: 20px;
}
#errormesg {
    border: 1px solid white;
    bottom: 80px;
    color: white;
    display: none;
    padding: 2px 5px;
    position: absolute;
    right: 65px;
}
#successsign {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    color: #007DAD;
    display: none;
    font-size: 16px;
    margin: 0 auto;
    padding: 20px;
    width: 400px;
}
.onlineOrderimg {
    position: relative;
}
.onlineOrderimg span {
    color: #FFFFFF;
    font-family: kavaler_kursiveregular;
    font-size: 50px;
    left: 0;
    line-height: normal;
    padding-top: 30px;
    position: absolute;
    width: 398px;
    top: 0;
}
.onlineOrderimg span:hover {
    text-decoration: none;
}
.onlineOrderimg a {
}
#normalcontent {
    font-family: helvetica-condensedlightRg;
    margin: 0 auto;
    width: 1000px;
}
#normalcontent .leftarea {
    float: left;
    margin-top: 20px;
    position: relative;
    width: 315px;
}
#normalcontent .classlong {
    min-height: 670px;
    width: 272px;
}
#content #normalcontent .entry-title {
    padding: 0 10px 18px 0;
    text-align: left;
    width: 100%;
}
.rightarea {
    float: right;
    margin-top: 50px;
    width: 692px;
}
.toparea {
    float: left;
    margin-top: 15px;
    width: 100%;
}
#normalcontent .leftarea ul {
    color: #007DAD;
    font-size: 17px;
    font-weight: bold;
    list-style: none outside none;
    margin: 0;
    text-transform: uppercase;
    width: 270px;
}
#normalcontent .classterms {
    float: left;
    margin-top: 20px;
    min-height: 800px;
    position: relative;
    width: 315px;
}
#normalcontent .bogleftarea {
    min-height: 2400px !important;
}
.active .fulldetail p {
    font-size: 12px !important;
    letter-spacing: 0.5px;
    line-height: normal;
}
.classterms .fulldetail h3 {
    margin-bottom: 0 !important;
    color: #007DAD !important;
    text-transform: uppercase;
}
.classterms .fulldetail {
    font-size: 12px !important;
    text-transform: none !important;
}
#normalcontent .leftarea ul li {
    letter-spacing: 0.5px;
    margin: 5px 0 6px;
    cursor: pointer;
}
#normalcontent .classterms ul {
    width: 290px;
}
#normalcontent .classterms ul li {
    border-bottom: medium none !important;
}
#rightdiv {
    color: #4D4D4F !important;
    float: right;
    font-family: helvetica-condensedlightRg;
    font-size: 15px;
    line-height: 20px;
    margin-top: -50px;
    text-align: justify;
    width: 550px;
}
#normalcontent .classterms ul li strong {
    color: #636467;
    font-size: 14px;
    line-height: 10px !important;
}
#normalcontent .classterms ul li:hover {
    text-decoration: none !important;
}
#rightdiv {
    color: #4D4D4F !important;
    float: right;
    font-family: helvetica-condensedlightRg;
    font-size: 15px;
    line-height: 20px;
    margin-top: -50px;
    text-align: justify;
    width: 550px;
}
#normalcontent .classterms ul li.active span {
    border-bottom: 1px solid #ED1C24;
    float: left;
    margin-bottom: 5px;
    width: 100%;
}
#normalcontent .classterms ul span {
    border-bottom:none;
    float: left;
    margin-bottom: 6px;
    width: 100%;
}
#normalcontent .leftarea ul li.active {
    border-bottom: 1px solid #ED1C24;
    margin: 5px 0;
    position: relative;
    text-decoration: none !important;
}
#normalcontent .leftarea ul li.active:hover {
    text-decoration: none;
}
#normalcontent .leftarea ul li a {
    color: #007DAD;
}
#normalcontent .leftarea ul li:hover {
    text-decoration: underline;
}
.leftarea .fulldetail {
    background: url("images/red_errow.png") no-repeat scroll -2px 0 transparent;
    border: 1px solid #ED1C24;
    color: #4D4D4F;
    display: none;
    font-family: helvetica-condensedlightRg;
    font-size: 15px;
    font-weight: normal;
    left: 310px;
    letter-spacing: 0.4px;
    line-height: 20px;
    padding: 17px 20px;
    position: absolute;
    text-transform: none;
    top: 25px;
    width: 650px;
}
.leftarea .active .fulldetail {
    cursor: auto;
    display: block;
}
span.bluetext {
    color: #007DAD;
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
}
.classlarge {
    min-height: 630px;
}
#right_bottom {
    float: left;
    width: 100%;
}
#right_bottom .dominoskids {
    float: left;
    height: 323px;
    margin-top: 7px;
}
.dominoskids img {
    height: 325px;
}
#sliderhome {
    float: right;
    margin-top: 7px;
}
#sliderhome .advanced-slider .caption-container {
    bottom: 30px !important;
    height: 72px !important;
    overflow: hidden;
    position: absolute;
}
#sliderhome .advanced-slider .caption-container .wrapper {
    height: 72px !important;
    position: absolute;
    width: 98% !important;
}
#flashcontent {
    height: 261px;
    width:529px
}
/* end hide */
 #right_top {
    height: 332px;
    margin-top: 13px;
    overflow: hidden;
}
.classlarge .active .fulldetail {
    background: none repeat scroll 0 0 transparent;
    left: 300px;
    top: 24px;
}
.note {
    border-top: 1px solid #007DAD;
    font-size: 14px;
    margin-top: 260px;
    text-align: justify;
    width: 260px;
}
.note span {
    color: #ed1c24;
}
#franchiseForm {
    float: left;
    position: relative;
}
#franchiseForm h2 {
    background: url("images/footer_03.png") no-repeat scroll right 0 transparent;
    clear: both;
    color: #FFFFFF !important;
    float: left;
    margin-bottom: 5px !important;
    margin-top: 10px !important;
    padding-right: 26px;
}
#franchiseForm h2 span {
    background: none repeat scroll 0 0 #ED1C24;
    float: left;
    font-weight: bold;
    padding-bottom: 13px;
    padding-top: 14px;
}
.margins {
    float: left;
    margin: 10px;
}
#franchiseForm .leftform {
    float: left;
    width: 48%;
}
#franchiseForm .rightform {
    float: right;
    width: 48%;
}
div.fields {
    float: left;
    padding: 10px;
    width: 630px;
}
#content div.fields h3 {
    color: #007DAD;
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 5px;
}
.applynow .fulldetail {
    padding: 0;
}
.location {
    border-bottom: 1px solid #ed1c24;
}
#content div.wpcf7 .wpcf7-text {
    border: 1px solid transparent;
    font-size: 20px;
    height: 20px;
    line-height: normal;
    margin-bottom: 0;
    margin-top: 0;
    padding: 5px;
}
#content div.wpcf7 .wpcf7-select {
    margin-bottom: 0;
    padding: 4px 5px;
}
#content div.wpcf7 div.wpcf7-response-output {
    bottom: 4px !important;
    float: left;
    margin: -4px 0 0 143px;
    padding: 5px;
    position: absolute;
}
#content span.wpcf7-not-valid-tip {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #FF0000;
    display: none;
    font-size: 10pt;
    left: 20%;
    padding: 2px;
    position: absolute;
    top: 20%;
    width: 280px;
    z-index: 100;
}
small {
    float: left;
    color: red;
    text-transform: none;
    font-family: arial;
}
#normalcontent .leftarea ul li.applynow {
    position: inherit;
    text-decoration: blink;
}
span.dobtext {
    color: #007DAD;
    float: left;
    font-family:'Open Sans Condensed', Arial, Helvetica, sans-serif;
    font-size: 19px;
    font-weight: normal;
    margin-left: 8px;
    text-transform: none;
    width: 70px;
}
#content div.wpcf7 p {
    margin: 0 0 5px;
}
#content div.wpcf7-validation-errors {
    border: 2px solid #F7E700;
    bottom: -5px;
    float: left;
    position: absolute;
}
#content div.wpcf7 .wpcf7-submit {
    background: none repeat scroll 0 0 #007DAD;
    color: #FFFFFF;
    float: right;
    margin: 0;
    padding: 4px 0;
    width: 30%;
}
#container_demo #wrapper input:not([type="checkbox"]) {
    color: #fff;
}
.input label {
}
.input .techi_select {
    background: none repeat scroll 0 0 #6c6c6c;
    border-color: none none #8C9092 !important;
    border-style: none none solid;
    border-width: 0 0 1px !important;
    color: #FFFFFF;
    margin-top: 10px;
    width: 100%;
}
.input .techi_select option {
    background: none repeat scroll 0 0 #6E6E6E;
    border: medium none;
}
#proceed {
    background: url("images/bigCloud.png") repeat scroll 0 0 transparent;
    display: none;
    height: 249px;
    margin: 190px auto 0;
    position: relative;
    width: 431px;
}
#proceed .proceedclose {
    left: 150px;
    position: absolute;
    top: 90px;
}
#proceed .gotoOrder {
    color: #FFFFFF;
    float: left;
    font-size: 22px;
    margin-left: 30px;
    margin-top: 140px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}
#proceed .gotoOrder a {
    color: #fff;
}
#profilePage {
    color: #007DAD;
    margin: 0 auto;
    overflow: hidden;
    width: 910px;
}
.profTitle {
    margin-bottom: 20px;
}
#profiledetail {
    float: left;
    margin-left: 20px;
    min-height: 200px;
    width: 890px;
}
.topheadtitle {
    border-bottom: 1px solid #ED1C24;
    float: left;
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    text-transform: uppercase;
    width: 840px;
}
.topheadtitle span small {
    color: #007DAD;
    float: left;
    font-size: 12px;
    font-weight: bold;
    margin-right: 2px;
    text-transform: uppercase;
}
.topheadtitle span {
    float: left;
    font-size: 24px;
    width: 210px;
}
#detaiswaper {
    float: left;
    font-family: helvetica-condensedlightRg;
    padding-left: 50px;
    width: 840px;
}
#detaiswaper .columnss {
    float: left;
    width: 210px;
}
#wrapper #detaiswaper .columnss p {
    color: #007DAD;
    margin: 0;
}
#orderHistory {
    float: left;
    margin-top: 20px;
    padding-top: 10px;
    width: 100%;
}
span.cancilorder {
}
#content #orderHistory ul {
    list-style: none outside none;
    margin: 0;
}
#content #orderHistory ul li {
    border-bottom: 1px dashed;
    float: left;
    margin-bottom: 5px;
    padding-bottom: 10px;
    padding-top: 3px;
    width: 100%;
}
#content #orderHistory ul li span input:not([type="checkbox"]) {
    background: none repeat scroll 0 0 #007DAD;
    color: #FFFFFF;
    margin: 0;
    padding: 2px 5px;
    text-transform: uppercase;
    width: 80px;
}
#content #orderHistory ul li span {
    float: left;
    width: 227px;
}
.totleotrderHistory {
    float: left;
    margin-bottom: 10px;
    width: 100%;
}
.historytops {
    text-transform: uppercase;
}
#content #orderHistory ul li a {
}
#content #orderHistory ul li.historytops {
    border-bottom: 1px solid #ED1C24;
}
#orderHistory ul span.status {
    float: right !important;
    width: 100px !important;
}
#orderHistory ul span.detail {
    float: right !important;
    width: 100px !important;
}
#orderHistory ul li span.orderdetailspan {
    width: 390px !important;
}
#orderHistory ul li span.totaltag {
    width: 50px !important;
}
/* =Menu



-------------------------------------------------------------- */
 #access {
    display: block;
    margin: 0 auto;
    overflow: hidden;
    width: 1200px;
}
#access .menu-header, div.menu {
    font-size: 13px;
    margin-top: 10px;
    width: 1200px;
}
#access .menu-header ul, div.menu ul {
    list-style: none outside none;
    margin: 0;
    text-align: center;
}
#access .menu-header li, div.menu li {
    border-left: 1px solid #007DAD;
    display: inline-block;
    position: relative;
}
#access .menu-header li:first-child, div.menu li:first-child {
    border-left: none;
}
#access li, #access a {
    color: #007DAD;
    display: block;
    font-size: 16px;
    line-height: 34px;
    padding: 0 4px;
    text-decoration: none;
    text-transform: uppercase;
}
#access ul li.dimm {
    opacity: 0.5;
}
#access ul ul {
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
    display: none;
    position: absolute;
    top: 38px;
    left: 0;
    float: left;
    width: 180px;
    z-index: 99999;
}
#access ul ul li {
    min-width: 180px;
}
#access ul ul ul {
    left: 100%;
    top: 0;
}
#access ul ul a {
    background: #333;
    line-height: 1em;
    padding: 10px;
    width: 160px;
    height: auto;
}
#access li:hover > a, #access ul ul :hover > a {
    color: #ED1C24;
}
#access ul li:hover > ul {
    display: block;
}
#access ul li.current_page_item > a, #access ul li.current-menu-ancestor > a, #access ul li.current-menu-item > a, #access ul li.current-menu-parent > a {
    color: #007DAD;
}
* html #access ul li.current_page_item a, * html #access ul li.current-menu-ancestor a, * html #access ul li.current-menu-item a, * html #access ul li.current-menu-parent a, * html #access ul li a:hover {
    color: #007DAD;
}
/* =Content



-------------------------------------------------------------- */
 #main {
    clear: both;
    overflow: hidden;
    width: 810px;
    margin-top: 30px;
    margin: 0 auto;
}
.page-template-template-withtitle-php #main {
    clear: both;
    overflow: hidden;
    width: 870px;
}
#content {
    margin-bottom: 36px;
    overflow: hidden;
}
#content, #content input, #content textarea {
    color: #333;
    font-size: 16px;
    line-height: 24px;
}
#content p, #content ul, #content ol, #content dd, #content pre, #content hr {
    margin-bottom: 5px;
}
#content ul ul, #content ol ol, #content ul ol, #content ol ul {
    margin-bottom: 0;
}
#content pre, #content kbd, #content tt, #content var {
    font-size: 15px;
    line-height: 21px;
}
#content code {
    font-size: 13px;
}
#content dt, #content th {
    color: #000;
}
#content h1, #content h2, #content h3, #content h4, #content h5, #content h6 {
    color: #000;
    line-height: normal;
    margin: 0 0 20px 0;
}
#content table {
    border: 1px solid #e7e7e7;
    margin: 0 -1px 24px 0;
    text-align: left;
    width: 100%;
}
#content tr th, #content thead th {
    color: #888;
    font-size: 12px;
    font-weight: bold;
    line-height: 18px;
    padding: 9px 24px;
}
#content tr td {
    border-top: 1px solid #e7e7e7;
    padding: 6px 24px;
}
#content tr.odd td {
    background: #f2f7fc;
}
.hentry {
    margin: 0 0 48px 0;
}
.home .sticky {
    background: #f2f7fc;
    border-top: 4px solid #000;
    margin-left: -20px;
    margin-right: -20px;
    padding: 18px 20px;
}
.single .hentry {
    margin: 0 0 36px 0;
}
.page-title {
    color: #000;
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 36px 0;
}
.page-title span {
    color: #333;
    font-size: 16px;
    font-style: italic;
    font-weight: normal;
}
.page-title a:link, .page-title a:visited {
    color: #888;
    text-decoration: none;
}
.page-title a:active, .page-title a:hover {
    color: #ff4b33;
}
#content .entry-title {
    border-bottom: 1px solid #ED1C24;
    color: #ED1C24;
    float: left;
    font-size: 34px;
    line-height: normal;
    margin-bottom: 0;
    padding-left: 20px;
    padding-top: 11px;
    text-align: left;
    text-transform: uppercase;
    width: 280px;
}
#content .entry-title span {
    float: left;
    font-family: kavaler_kursiveregular;
    line-height: 25px;
    padding-left: 15px;
    text-transform: lowercase;
    width: 100%;
}
.entry-title a:link, .entry-title a:visited {
    color: #000;
    text-decoration: none;
}
.entry-title a:active, .entry-title a:hover {
    color: #ff4b33;
}
.entry-meta {
    color: #888;
    font-size: 12px;
}
.entry-meta abbr, .entry-utility abbr {
    border: none;
}
.entry-meta abbr:hover, .entry-utility abbr:hover {
    border-bottom: 1px dotted #666;
}
.entry-content, .entry-summary {
    clear: both;
    padding: 12px 0 0 0;
}
#content .entry-summary p:last-child {
    margin-bottom: 12px;
}
.entry-content fieldset {
    border: 1px solid #e7e7e7;
    margin: 0 0 24px 0;
    padding: 24px;
}
.entry-content fieldset legend {
    background: #fff;
    color: #000;
    font-weight: bold;
    padding: 0 24px;
}
.entry-content input {
    margin: 0 0 24px 0;
}
.entry-content input.file, .entry-content input.button {
    margin-right: 24px;
}
.entry-content label {
    color: #888;
    font-size: 12px;
}
.entry-content select {
    margin: 0 0 24px 0;
}
.entry-content sup, .entry-content sub {
    font-size: 10px;
}
.entry-content blockquote.left {
    float: left;
    margin-left: 0;
    margin-right: 24px;
    text-align: right;
    width: 33%;
}
.entry-content blockquote.right {
    float: right;
    margin-left: 24px;
    margin-right: 0;
    text-align: left;
    width: 33%;
}
.page-link {
    clear: both;
    color: #000;
    font-weight: bold;
    margin: 0 0 22px 0;
    word-spacing: 0.5em;
}
.page-link a:link, .page-link a:visited {
    background: #f1f1f1;
    color: #333;
    font-weight: normal;
    padding: 0.5em 0.75em;
    text-decoration: none;
}
.home .sticky .page-link a {
    background: #d9e8f7;
}
.page-link a:active, .page-link a:hover {
    color: #ff4b33;
}
body.page .edit-link {
    clear: both;
    display: block;
}
#entry-author-info {
    background: #f2f7fc;
    border-top: 4px solid #000;
    clear: both;
    font-size: 14px;
    line-height: 20px;
    margin: 24px 0;
    overflow: hidden;
    padding: 18px 20px;
}
#entry-author-info #author-avatar {
    background: #fff;
    border: 1px solid #e7e7e7;
    float: left;
    height: 60px;
    margin: 0 -104px 0 0;
    padding: 11px;
}
#entry-author-info #author-description {
    float: left;
    margin: 0 0 0 104px;
}
#entry-author-info h2 {
    color: #000;
    font-size: 100%;
    font-weight: bold;
    margin-bottom: 0;
}
.entry-utility {
    clear: both;
    color: #888;
    font-size: 12px;
    line-height: 18px;
}
.entry-meta a, .entry-utility a {
    color: #888;
}
.entry-meta a:hover, .entry-utility a:hover {
    color: #ff4b33;
}
#content .video-player {
    padding: 0;
}
/* =Asides



-------------------------------------------------------------- */
 .home #content .format-aside p, .home #content .category-asides p {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
    margin-top: 0;
}
.home .hentry.format-aside, .home .hentry.category-asides {
    padding: 0;
}
.home #content .format-aside .entry-content, .home #content .category-asides .entry-content {
    padding-top: 0;
}
/* =Gallery listing



-------------------------------------------------------------- */
 .format-gallery .size-thumbnail img, .category-gallery .size-thumbnail img {
    border: 10px solid #f1f1f1;
    margin-bottom: 0;
}
.format-gallery .gallery-thumb, .category-gallery .gallery-thumb {
    float: left;
    margin-right: 20px;
    margin-top: -4px;
}
.home #content .format-gallery .entry-utility, .home #content .category-gallery .entry-utility {
    padding-top: 4px;
}
/* =Attachment pages



-------------------------------------------------------------- */
 .attachment .entry-content .entry-caption {
    font-size: 140%;
    margin-top: 24px;
}
.attachment .entry-content .nav-previous a:before {
    content:'\2190\00a0';
}
.attachment .entry-content .nav-next a:after {
    content:'\00a0\2192';
}
/* =Images



-------------------------------------------------------------- */

/*



Resize images to fit the main content area.



- Applies only to images uploaded via WordPress by targeting size-* classes.



- Other images will be left alone. Use "size-auto" class to apply to other images.



*/
 img.size-auto, img.size-full, img.size-large, img.size-medium, .attachment img {
    max-width: 100%;
    /* When images are too wide for containing element, force them to fit. */
    height: auto;
    /* Override height to match resized width for correct aspect ratio. */
}
.alignleft, img.alignleft {
    display: inline;
    float: left;
    margin-right: 5px;
    margin-top: 4px;
}
.alignright, img.alignright {
    display: inline;
    float: right;
    margin-left: 24px;
    margin-top: 4px;
}
.aligncenter, img.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
img.alignleft, img.alignright, img.aligncenter {
    margin-bottom: 0px;
}
.wp-caption {
    background: #f1f1f1;
    line-height: 18px;
    margin-bottom: 20px;
    max-width: 632px !important;
    /* prevent too-wide images from breaking layout */
    padding: 4px;
    text-align: center;
}
.wp-caption img {
    margin: 5px 5px 0;
}
.wp-caption p.wp-caption-text {
    color: #888;
    font-size: 12px;
    margin: 5px;
}
.wp-smiley {
    margin: 0;
}
.gallery {
    margin: 0 auto 18px;
}
.gallery .gallery-item {
    float: left;
    margin-top: 0;
    text-align: center;
    width: 33%;
}
.gallery-columns-2 .gallery-item {
    width: 50%;
}
.gallery-columns-4 .gallery-item {
    width: 25%;
}
.gallery img {
    border: 2px solid #cfcfcf;
}
.gallery-columns-2 .attachment-medium {
    max-width: 92%;
    height: auto;
}
.gallery-columns-4 .attachment-thumbnail {
    max-width: 84%;
    height: auto;
}
.gallery .gallery-caption {
    color: #888;
    font-size: 12px;
    margin: 0 0 12px;
}
.gallery dl {
    margin: 0;
}
.gallery img {
    border: 10px solid #f1f1f1;
}
.gallery br+br {
    display: none;
}
#content .attachment img {
    /* single attachment images should be centered */
    display: block;
    margin: 0 auto;
}
/* =Navigation



-------------------------------------------------------------- */
 .navigation {
    color: #888;
    font-size: 12px;
    line-height: 18px;
    overflow: hidden;
}
.navigation a:active, .navigation a:hover {
    color: #ff4b33;
}
.nav-previous {
    float: left;
    width: 50%;
}
.nav-next {
    float: right;
    text-align: right;
    width: 50%;
}
#nav-above {
    margin: 0 0 18px 0;
}
#nav-above {
    display: none;
}
.paged #nav-above, .single #nav-above {
    display: block;
}
#nav-below {
    margin: -18px 0 0 0;
}
/* =Comments



-------------------------------------------------------------- */
 #comments {
    clear: both;
}
#comments .navigation {
    padding: 0 0 18px 0;
}
h3#comments-title, h3#reply-title {
    color: #000;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0;
}
h3#comments-title {
    padding: 24px 0;
}
.commentlist {
    list-style: none;
    margin: 0;
}
.commentlist li.comment {
    border-bottom: 1px solid #e7e7e7;
    line-height: 24px;
    margin: 0 0 24px 0;
    padding: 0 0 0 56px;
    position: relative;
}
.commentlist li:last-child {
    border-bottom: none;
    margin-bottom: 0;
}
#comments .comment-body ul, #comments .comment-body ol {
    margin-bottom: 18px;
}
#comments .comment-body p:last-child {
    margin-bottom: 6px;
}
#comments .comment-body blockquote p:last-child {
    margin-bottom: 24px;
}
.commentlist ol {
    list-style: decimal;
}
.commentlist .avatar {
    position: absolute;
    top: 4px;
    left: 0;
}
.comment-author {
}
.comment-author cite {
    color: #000;
    font-style: normal;
    font-weight: bold;
}
.comment-author .says {
    font-style: italic;
}
.comment-meta {
    font-size: 12px;
    margin: 0 0 18px 0;
}
.comment-meta a:link, .comment-meta a:visited {
    color: #888;
    text-decoration: none;
}
.comment-meta a:active, .comment-meta a:hover {
    color: #ff4b33;
}
.commentlist .even {
}
.commentlist .bypostauthor {
}
.reply {
    font-size: 12px;
    padding: 0 0 24px 0;
}
.reply a, a.comment-edit-link {
    color: #888;
}
.reply a:hover, a.comment-edit-link:hover {
    color: #ff4b33;
}
.commentlist .children {
    list-style: none;
    margin: 0;
}
.commentlist .children li {
    border: none;
    margin: 0;
}
.nopassword, .nocomments {
    display: none;
}
#comments .pingback {
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 18px;
    padding-bottom: 18px;
}
.commentlist li.comment+li.pingback {
    margin-top: -6px;
}
#comments .pingback p {
    color: #888;
    display: block;
    font-size: 12px;
    line-height: 18px;
    margin: 0;
}
#comments .pingback .url {
    font-size: 13px;
    font-style: italic;
}
/* Comments form */
 input[type=submit] {
    color: #333;
}
#respond {
    border-top: 1px solid #e7e7e7;
    margin: 24px 0;
    overflow: hidden;
    position: relative;
}
#respond p {
    margin: 0;
}
#respond .comment-notes {
    margin-bottom: 1em;
}
.form-allowed-tags {
    line-height: 1em;
}
.children #respond {
    margin: 0 48px 0 0;
}
h3#reply-title {
    margin: 18px 0;
}
#comments-list #respond {
    margin: 0 0 18px 0;
}
#comments-list ul #respond {
    margin: 0;
}
#cancel-comment-reply-link {
    font-size: 12px;
    font-weight: normal;
    line-height: 18px;
}
#respond .required {
    color: #ff4b33;
    font-weight: bold;
}
#respond label {
    color: #888;
    font-size: 12px;
}
#respond input {
    margin: 0 0 9px;
    width: 98%;
}
#respond textarea {
    width: 98%;
}
#respond .form-allowed-tags {
    color: #888;
    font-size: 12px;
    line-height: 18px;
}
#respond .form-allowed-tags code {
    font-size: 11px;
}
#respond .form-submit {
    margin: 12px 0;
}
#respond .form-submit input {
    font-size: 14px;
    width: auto;
}
/* =Widget Areas



-------------------------------------------------------------- */
 .widget-area ul {
    list-style: none;
    margin-left: 0;
}
.widget-area ul ul {
    list-style: square;
    margin-left: 1.3em;
}
.widget-area select {
    max-width: 100%;
}
.widget_search #s {
    /* This keeps the search inputs in line */
    width: 60%;
}
.widget_search label {
    display: none;
}
.widget-container {
    margin: 0 0 18px 0;
}
.widget-title {
    color: #222;
    font-weight: bold;
}
.widget-area a:link, .widget-area a:visited {
    text-decoration: none;
}
.widget-area a:active, .widget-area a:hover {
    text-decoration: underline;
}
.widget-area .entry-meta {
    font-size: 11px;
}
#wp_tag_cloud div {
    line-height: 1.6em;
}
#wp-calendar {
    width: 100%;
}
#wp-calendar caption {
    color: #222;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 4px;
    text-align: left;
}
#wp-calendar thead {
    font-size: 11px;
}
#wp-calendar thead th {
}
#wp-calendar tbody {
    color: #aaa;
}
#wp-calendar tbody td {
    background: #f5f5f5;
    border: 1px solid #fff;
    padding: 3px 0 2px;
    text-align: center;
}
#wp-calendar tbody .pad {
    background: none;
}
#wp-calendar tfoot #next {
    text-align: right;
}
.widget_rss a.rsswidget {
    color: #000;
}
.widget_rss a.rsswidget:hover {
    color: #ff4b33;
}
.widget_rss .widget-title img {
    width: 11px;
    height: 11px;
}
/* Main sidebars */
 #main .widget-area ul {
    margin-left: 0;
    padding: 0 20px 0 0;
}
#main .widget-area ul ul {
    border: none;
    margin-left: 1.3em;
    padding: 0;
}
#primary {
}
#secondary {
}
/* Footer widget areas */
 #footer-widget-area {
}
/* =Footer



-------------------------------------------------------------- */
 #footer {
    background: url("images/buildings.png") repeat-x scroll 0 0 transparent;
    padding-top: 57px;
}
#footer ul {
    margin: 0;
    text-align: center;
}
#footer ul li {
    display: inline-block;
    font-size: 16px;
    padding: 0 9px;
    text-transform: uppercase;
}
#footer ul li.bigorders a {
    color: red;
}
#colophon {
    border-bottom: 1px solid #007DAD;
    border-top: 1px solid #007DAD;
    overflow: hidden;
    padding: 10px 0;
}
#site-info {
}
#site-info a {
    color: #4D4D4F;
    font-family: helvetica-condensedlightRg;
}
#site-generator {
    font-style: italic;
    position: relative;
}
#site-generator a {
    background: url(images/wordpress.png) center left no-repeat;
    color: #666;
    display: inline-block;
    line-height: 16px;
    padding-left: 20px;
    text-decoration: none;
}
#site-generator a:hover {
    text-decoration: underline;
}
img#wpstats {
    display: block;
    margin: 0 auto 10px;
}
/* =Mobile Safari ( iPad, iPhone and iPod Touch )



-------------------------------------------------------------- */
 pre {
    -webkit-text-size-adjust: 140%;
}
code {
    -webkit-text-size-adjust: 160%;
}
#access, .entry-meta, .entry-utility, .navigation, .widget-area {
    -webkit-text-size-adjust: 120%;
}
#site-description {
    -webkit-text-size-adjust: none;
}
/* =Print Style



-------------------------------------------------------------- */
 @media print {
    body {
        background: none !important;
    }
    #wrapper {
        clear: both !important;
        display: block !important;
        float: none !important;
        position: relative !important;
    }
    #header {
        border-bottom: 2pt solid #000;
        padding-bottom: 18pt;
    }
    #colophon {
        border-top: 2pt solid #000;
    }
    #site-title, #site-description {
        float: none;
        line-height: 1.4em;
        margin: 0;
        padding: 0;
    }
    #site-title {
        font-size: 13pt;
    }
    .entry-content {
        font-size: 14pt;
        line-height: 1.6em;
    }
    .entry-title {
        font-size: 21pt;
    }
    #access, #branding img, #respond, .comment-edit-link, .edit-link, .navigation, .page-link, .widget-area {
        display: none !important;
    }
    #container, #header, #footer {
        margin: 0;
        width: 100%;
    }
    #content, .one-column #content {
        margin: 24pt 0 0;
        width: 100%;
    }
    .wp-caption p {
        font-size: 11pt;
    }
    #site-info, #site-generator {
        float: none;
        width: auto;
    }
    #colophon {
        width: auto;
    }
    img#wpstats {
        display: none;
    }
    #site-generator a {
        margin: 0;
        padding: 0;
    }
    #entry-author-info {
        border: 1px solid #e7e7e7;
    }
    #main {
        display: inline;
    }
    .home .sticky {
        border: none;
    }
}
.map-pic{
width: 380px;
height: 396px;
}
