<div class="content_bg">
    <div id="columns" class="container" ng-init="Customer.ShippingCountry = 'Pakistan'">
        <div class="row ">
            <div class="loader_page">
                <div id="center_column" class="center_column span12 clearfix">
                    <div id="noSlide" style="display: block;">

                        <!-- Breadcrumb -->
                        <div class="breadcrumb">
                            <div class="breadcrumb_inset">
                                <a class="breadcrumb-home" href="/" title="Return to Home"><i class="icon-home"></i></a>
                                <span class="navigation-pipe">&gt;</span>
                                <span class="navigation_page">Update Account</span>
                            </div>
                        </div>
                        <!-- /Breadcrumb -->

                        <h1>
                            <span>Update account information</span>
                            
                        </h1>


                        <div class="block-center" ng-if="!User.info.CustomerEmail || User.info.GuestAuth">
                          <p class="warning">You are not logged in as a registered user. Please <a href="/login">Login</a></p>
                        </div>

                        <!---->
                        <div ng-if="User.info.CustomerEmail && !User.info.GuestAuth">
                          <form role="form" ng-submit="UpdateUserInfo('cart')" id="account-creation_form" class="std">
                            <fieldset>
                            <div class="row-fluid">
                                <div class="span9">
                                    <p>Fill out the following form in order to update your account information.<br />
                                    We will save the details you provide in order to facilitate your purchases on our website.
                                    </p>
                                </div>
                                <div class="span3">
                                    <p class="required" style="padding:10px 0 10px 0; margin:0;"><sup>*</sup> Required field</p>
                                </div>
                            </div>
                            </fieldset>
                            <fieldset class="account_creation titled_box">
                                    <div class="row-fluid">
                                       <!--  <div class="span6">
                                            <h3>
                                                <span>User Account</span>
                                            </h3>
                                            <p class="required text">
                                                <label for="email">Email <sup>*</sup>
                                                </label>
                                                <input ng-model="Customer.Email" required="required" readonly type="text" class="form-control" />

                                            </p>
                                            <p class="required text">
                                                <label for="passwd">Password <sup>*</sup>
                                                    <span class="form_info">(Five characters minimum)</span>
                                                </label>
                                                <input ng-model="Customer.Password" id="Password" required="required" type="password" class="form-control" />
                                            </p>
                                            <p class="required text">
                                                <label for="passwd">Repeat Password <sup>*</sup>
                                                </label>
                                                <input ng-model="Customer.RepeatPassword" id="RepeatPassword" required="required" type="password" class="form-control" />
                                            </p>
                                        </div> -->
                                        <div class="span6">
                                            <h3>
                                                <span>Contact Details</span>
                                            </h3>
                                            <p class="required text">
                                                <label for="customer_firstname">First Name <sup>*</sup>
                                                </label>
                                                <input ng-model="Customer.FirstName" required="required" type="text" class="form-control" />

                                                <!-- <input onkeyup="$('#firstname').val(this.value);" type="text" class="text" id="customer_firstname" name="customer_firstname" value=""> -->
                                            </p>
                                            <p class="required text">
                                                <label for="customer_lastname">Last Name <sup>*</sup>
                                                </label>
                                                <input ng-model="Customer.LastName" required="required" type="text" class="form-control" />
                                            </p>

                                        
                                            <p class="required text">
                                                <label for="Phone">Phone<sup>*</sup>
                                                </label>
                                                <input ng-model="Customer.Phone" id="Phone" required="required" type="text" class="form-control" />
                                            </p>

                                            <p class="required text">
                                                <label for="address">Address<sup>*</sup>
                                                </label>
                                                <input ng-model="Customer.Address" required="required" id="address" name="address" type="text" class="form-control" />
                                            </p>

                                            <p class="text">
                                                <label for="AddressContinue">Address Continue</label>
                                                <input ng-model="Customer.AddressContinue" type="text" class="form-control" id="AddressContinue" />
                                            </p>

                                            <p class="required text">
                                                <label for="City">City<sup>*</sup>
                                                </label>
                                                <input ng-model="Customer.City" required type="text" class="form-control" id="City" />
                                            </p>

                                            

                                            <p class="required text">
                                                <label for="Country">Country<sub>*</sub></label>
                                                <select style="width: 400px;" ng-model="Customer.ShippingCountry" required id="customer-address-province-0" class="form-control" data-event-change="resetProvince" data-addclass-error="customer.errors.addresses.first.country_code.length">
                                                    <option value="">
                                                        Please Select
                                                    </option>
                                                    <option value="Pakistan">
                                                      Pakistan
                                                    </option>
                                                    
                                                    <!--batman-iterator-key="sortedCountries"-->
                                                </select>
                                            </p>

                                            <div class="clearBoth"></div>
                                            <p class="cart_navigation required submit">
                                                <div id="actionLoader" ng-show="StartSignup">&nbsp;&nbsp;</div>
                                                <input style="float:left;" type="submit" name="submitAccount" id="submitAccount" value="Update" class="exclusive">
                                                <div ng-show="invalidPassword">
                                                  <p  class="label warning">Please enter valid password</p>
                                                </div>
                                            </p>

                                        </div>
                                    </div>
                            </fieldset>
                          </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>