<div class="content_bg">
  <div id="columns" class="container" ng-init="Customer.ShippingCountry = 'Pakistan'">
    <div class="row ">
      <div class="loader_page">

        <div id="center_column" class="center_column span12 clearfix">
          <!-- Breadcrumb -->
          <div class="breadcrumb">
            <div class="breadcrumb_inset">
              <a class="breadcrumb-home" href="/" title="Return to Home"><i class="icon-home"></i></a>
              <span class="navigation-pipe">&gt;</span>
              <span class="navigation_page">Your addresses</span>
            </div>
          </div>
          <!-- /Breadcrumb -->

          <h1 id="cart_title">
            <span>Your order summary</span>
          </h1>

         <p ng-hide="IfCart()" id="emptyCartWarning" class="warning">Your shopping cart is empty.</p>
          <div ng-show="IfCart()">
            <p class="ordercart-title">Your shopping cart contains
              <span id="summary_products_quantity">{{ReturnItems()}} products</span>
            </p>
            <div id="order-detail-content" class="table_block">
              <table id="cart_summary" class="std">
                <thead>
                </thead>
                <tfoot>
                  <tr class="cart_total_price ">
                    <td class="price" id="total_product">Total products: &nbsp;&nbsp;{{ReturnItems()}}</td>
                  </tr>


                  <tr class="cart_total_price" ng-if="ReturnShipping()">
                    <td class="price" id="total_product">Subtotal: &nbsp;&nbsp;{{ReturnTotal()- ReturnShipping() -ReturnTaxPrice() | nfcurrency:SettingGeneral.settings.currencies_format+' '}}</td>
                  </tr>

                  <tr class="cart_total_price" ng-if="ReturnShipping()">
                    <td class="price" id="total_product">Shipping Cost: {{ReturnShipping()| nfcurrency:SettingGeneral.settings.currencies_format+' '}}</td>
                  </tr>

                  <tr class="cart_total_price " ng-if="ReturnTax()">
                    <td class="price" id="total_product">Tax: &nbsp;&nbsp;{{ReturnTaxPrice() | nfcurrency:SettingGeneral.settings.currencies_format+' '}}</td>
                  </tr>

                  <tr class="cart_total_price ">
                    <td class="price" id="total_product">Total Amount: &nbsp;&nbsp;{{ReturnTotal() | nfcurrency:SettingGeneral.settings.currencies_format+' '}}</td>
                  </tr>

                 </tfoot>
                <tbody ng-repeat="(keyMain,Items) in Cart track by $index">
                  <tr ng-show="Items.productID" id="product_1_0_0_0" class="bordercolor cart_item address_0 odd">
                    <td class="cart_product">
                      <a href="/product/{{Items.productInfo.productUrl}}">
                        <img ng-if="Items.productInfo.productImage[0].Image" src="{{Items.productInfo.productImage[0].Image}}" alt="{{Items.productInfo.productName}}">

                        <img ng-if="Items.productInfo.productImage[0].Image == undefined" ng-src="{{BaseUrl}}img/theme/default.jpg" alt="{{Items.productInfo.productName}}">
                      </a>
                    </td>
                    <td class="cart">
                      <div class="productInfo clearfix insset-bottom">
                        <h5><a class="product_link" href="/product/{{Items.productInfo.productUrl}}">{{Items.productInfo.productName}}</a>
                        </h5>
                        <div class="insset-bottom">
                          <span class="title-th cart_quantity_title">Qty:</span>

                          <div class="cart_quantity">
                            <div id="cart_quantity_button" class="cart_quantity_button" style="float:left;" ng-controller="CartCtrl">

                              <a rel="nofollow" class="cart_quantity_down" href="javascript:void(0)" title="Subtract" ng-click="Items.quantity = limitCartProductQuantity(Items)">
                                <img src="http://livedemo00.template-help.com/prestashop_44889/themes/theme686/img/icon/quantity_down.gif" alt="Subtract" width="23" height="24">
                              </a>
                              <input size="2" type="text" autocomplete="off" class="cart_quantity_input" value="{{Items.quantity}}" ng-model="Items.quantity" name="quantity_1_0_0_0" min="1">

                              <a rel="nofollow" class="cart_quantity_up" id="cart_quantity_up_1_0_0_0" href="javascript:void(0)" title="Add" ng-click="Items.quantity = Items.quantity+1">
                                <img src="http://livedemo00.template-help.com/prestashop_44889/themes/theme686/img/icon/quantity_up.gif" alt="Add" width="23" height="24">
                              </a>

                            </div>

                            <div class="div_cart_quantity_delete">
                              <!-- <a rel="nofollow" class="cart_quantity_delete" href="javascript:void(0)" ng-click="RemoveCartItem(itm.productID,false)"></a> -->

                              <a class="ajax_cart_block_remove_link" rel="nofollow" href="javascript:void(0)" ng-click="RemoveCartItem(Items.productID,false)"></a>
                            </div>

                          </div>
                        </div>
                      </div>
                      <div class="priceBlock clearfix insset-bottom">
                        <div class="clearfix insset-bottom" >
                          <span class="title-th">Unit price:</span>
                          <span class="price" id="product_price_1_0_0">
                            <span style="text-decoration:line-through; display:inline-block; padding-right:5px;" ng-if="Items.productInfo.comparePrice">{{Items.productInfo.comparePrice | nfcurrency:SettingGeneral.settings.currencies_format+' '}}</span>
                            {{Items.productInfo.productPrice | nfcurrency:SettingGeneral.settings.currencies_format+' '}}
                          </span>
                        </div>
                        <span class="title-th">Total:</span>
                        <span class="price total-pr">
                        {{Items.productInfo.productPrice * Items.quantity | nfcurrency:SettingGeneral.settings.currencies_format+' '}}
                        </span>
                      </div>
                    </td>
                  </tr>
                  <tr ng-hide="Items.productID" class="bordercolor cart_item address_0 odd" ng-repeat="(key,itm) in Items track by $index">

                    <td class="cart_product">
                      <a href="/product/{{itm.productInfo.productUrl}}">

                        <img ng-if="itm.productInfo.productImage[0].Image" src="{{itm.productInfo.productImage[0].Image}}" alt="{{itm.productInfo.productName}}">

                        <img ng-if="itm.productInfo.productImage[0].Image == undefined" ng-src="{{BaseUrl}}img/theme/default.jpg" alt="{{itm.productInfo.productName}}">
                      </a>
                    </td>
                    <td class="cart">
                      <div class="productInfo">
                        <h5><a class="product_link" href="/product/{{itm.productInfo.productUrl}}">{{itm.productInfo.productName}}</a>
                        </h5>
                        
                        <div class="insset-bottom">
                        <span class="title-th cart_quantity_title">Qty:</span>

                        <div class="cart_quantity">
                          <div id="cart_quantity_button" class="cart_quantity_button" style="float:left;" ng-controller="CartCtrl">

                            <a rel="nofollow" class="cart_quantity_down" href="javascript:void(0)" title="Subtract" ng-click="itm.quantity = limitCartProductQuantity(itm.quantity)">
                              <img src="http://livedemo00.template-help.com/prestashop_44889/themes/theme686/img/icon/quantity_down.gif" alt="Subtract" width="23" height="24">
                            </a>
                            <input size="2" type="text" autocomplete="off" class="cart_quantity_input" value="{{itm.quantity}}" ng-model="itm.quantity" name="quantity_1_0_0_0" min="1">

                            <a rel="nofollow" class="cart_quantity_up" href="javascript:void(0)" title="Add" ng-click="itm.quantity = itm.quantity+1">
                              <img src="http://livedemo00.template-help.com/prestashop_44889/themes/theme686/img/icon/quantity_up.gif" alt="Add" width="23" height="24">
                            </a>

                          </div>

                          <div class="div_cart_quantity_delete">
                            <!-- <a rel="nofollow" class="cart_quantity_delete" href="javascript:void(0)" ng-click="RemoveCartItem(itm.productID,key)"></a> -->
                            <a class="ajax_cart_block_remove_link" rel="nofollow" href="javascript:void(0)" ng-click="RemoveCartItem(itm.productID,key)"></a>
                          </div>

                        </div>
                        </div>
                      </div>
                      <div class="priceBlock">
                        <div class="insset-bottom">
                          <span class="title-th">Unit price:</span>
                          <span class="price">
                            <span style="text-decoration:line-through; display:inline-block; padding-right:5px;" ng-if="itm.productInfo.comparePrice">{{itm.productInfo.comparePrice | nfcurrency:SettingGeneral.settings.currencies_format+' '}}</span>
                            {{itm.productInfo.newPrice | nfcurrency:SettingGeneral.settings.currencies_format+' '}}
                          </span>
                        </div>
                        <span class="title-th">Total:</span>
                        <span class="price total-pr" id="total_product_price_1_0_0">
                        {{itm.productInfo.newPrice * itm.quantity | nfcurrency:SettingGeneral.settings.currencies_format+' '}}
                        </span>
                      </div>
                    
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

            <h1>
              <span>Contact Details</span>
            </h1>

            <p class="required" style="padding:10px 0 10px 0; margin:0;"><sup>*</sup> Required field</p>

            <form role="form" ng-submit="SubmitOrder(PaymentMethod,'/thankyou')" class="std titled_box" id="add_address">
              <fieldset>
                 <div class="row-fluid">
                  <div class="span6">
                    <p class="required text">
                      <label for="firstname">First name <sup>*</sup>
                      </label>
                      <input required ng-model="Customer.FirstName" ng-readonly="User.info.CustomerEmail && !User.info.GuestAuth" ng-value="Customer.FirstName" type="text" name="firstname" id="firstname">
                    </p>

                    <p class="required  text">
                      <label for="lastname">Last name <sup>*</sup>
                      </label>
                      <input required ng-model="Customer.LastName" ng-readonly="User.info.CustomerEmail && !User.info.GuestAuth" ng-value="Customer.LastName" type="text" id="lastname" name="lastname">
                    </p>

                  </div>
                  <div class="span6">
                    <p class="required text">
                      <label for="email">Email <sup>*</sup>
                      </label>
                      <input required ng-model="Customer.Email" ng-readonly="User.info.CustomerEmail && !User.info.GuestAuth" ng-value="Customer.Email" type="email" name="email" id="email">
                    </p>

                    <p class="required  text">
                      <label for="phone">Phone <sup>*</sup>
                      </label>
                      <input required ng-model="Customer.Phone" ng-readonly="User.info.CustomerEmail && !User.info.GuestAuth" ng-value="Customer.Phone" type="text" id="phone" name="phone">
                    </p>
                  </div>

                </div>
              
              </fieldset>

              <h1>
                <span>Delivery Details</span>

                <span style="margin: 10px 0;" ng-if="User.info.CustomerFirstName != 'Guest'">
                  <input style="margin:0; margin-top: 13px;" type="checkbox" ng-model="Customer.SameBilling" id="sameAddress" name="sameAddress" /> <label for="sameAddress" style="cursor: pointer">add new Delivery Details</label>
                </span>

              </h1>

              <fieldset ng-if="!Customer.SameBilling && !User.info.GuestAuth">
                 <div class="row-fluid">
                    <div class="span6">
                      <p class="required text">
                        <label for="firstname">First name <sup>*</sup>
                        </label>
                        <input required ng-readonly="User.info.CustomerEmail && !User.info.GuestAuth" ng-model="Customer.FirstName" ng-value="Customer.FirstName" type="text" name="firstname" id="firstname">
                      </p>
                       <p class="required text">
                      <label for="address1">Address <sup>*</sup>
                      </label>
                      <input required ng-model="Customer.Address" ng-value="Customer.Address" type="text" id="address1" name="address1" >
                    </p>

                      <p class="required text">
                      <label for="city">City <sup>*</sup>
                      </label>
                      <input required type="text" name="city" id="city" ng-value="Customer.City" maxlength="64" ng-model="Customer.City">
                    </p>
                     
                    </div>
                    <div class="span6">
                     <p class="required  text">
                        <label for="lastname">Last name <sup>*</sup>
                        </label>
                        <input required ng-readonly="User.info.CustomerEmail && !User.info.GuestAuth" ng-model="Customer.LastName" ng-value="Customer.LastName" type="text" id="lastname" name="lastname">
                      </p>
                   

                   <p class="required text">
                      <label for="address2">Address (Line 2)</label>
                      <input ng-model="Customer.AddressContinue" ng-value="Customer.AddressContinue" type="text" id="address2" name="address2">
                    </p>

                  

                   

                    <p class="required select">
                      <label for="id_country">Country <sup>*</sup>
                      </label>
                      <!-- <h1>{{Customer.Country}}</h1> -->
                      <select required ng-model="Customer.ShippingCountry" id="id_country" name="id_country">
                        <option value="">
                          Please Select
                        </option>
                        <option value="Pakistan">
                          Pakistan
                        </option>
                      </select>
                    </p>

                    </div>
                </div>
              
              </fieldset>

              <fieldset ng-if="Customer.SameBilling || User.info.GuestAuth">
                <!-- <h1>Billing Address</h1> -->
                 <div class="row-fluid">
                  <div class="span6">
                    <p class="required text">
                      <label for="firstname">First name <sup>*</sup>
                      </label>
                      <input required ng-model="Customer.FirstNameBilling" ng-value="Customer.FirstNameBilling" type="text" name="firstname" id="firstname">
                    </p>

                    <p class="required  text">
                      <label for="lastname">Last name <sup>*</sup>
                      </label>
                      <input required ng-model="Customer.LastNameBilling" ng-value="Customer.LastNameBilling" type="text" id="lastname" name="lastname">
                    </p>

                    <p class="required  text">
                      <label for="phone">Phone <sup>*</sup>
                      </label>
                      <input required ng-model="Customer.PhoneBilling" ng-value="Customer.PhoneBilling" type="text" id="phoneBilling" name="phoneBilling">
                    </p>

                  </div>
                  <div class="span6">
                    
                    <p class="required text">
                      <label for="address1">Address <sup>*</sup>
                      </label>
                      <input required ng-model="Customer.AddressBilling" ng-value="Customer.AddressBilling" type="text" id="address1" name="address1" >
                    </p>



                    <p class="required text">
                      <label for="address2">Address (Line 2)</label>
                      <input ng-model="Customer.AddressContinueBilling" ng-value="Customer.AddressContinueBilling" type="text" id="address2" name="address2">
                    </p>




                    <p class="required text">
                      <label for="city">City <sup>*</sup>
                      </label>
                      <input required type="text" name="city" id="city" ng-value="Customer.CityBilling" maxlength="64" ng-model="Customer.CityBilling">
                    </p>



                    <!-- <p class="required postcode text" style="">
                      <label for="postcode">Zip / Postal Code <sup>*</sup>
                      </label>
                      <input type="tel" id="postcode" name="postcode" ng-value="Customer.PostCodeBilling" ng-model="Customer.PostCodeBilling">
                    </p> -->

                    <p class="required select">
                      <label for="id_country">Country <sup>*</sup>
                      </label>
                      <select required ng-model="Customer.ShippingCountry" id="id_country" name="id_country">
                        <option value="">
                          Please Select
                        </option>
                        <option value="Pakistan">
                          Pakistan
                        </option>
                      </select>
                    </p>

                  </div>

                </div>             
              </fieldset>

              <fieldset>
                <div class="row-fluid">
                  <h1>
                        <span>Payment Method</span>
                    </h1>

                  <div class="span4" style="margin-left: 0;">
                    <label for="id_country">Payment Method <sup>*</sup></label>
                    <select class="form-control" ng-change="UpdatePaymentMethod(PaymentMethod)"  required ng-model="PaymentMethod">
                      <option value="">
                        Please Select
                      </option>
                      <option ng-repeat="payment in ListPaymentMethod" value="{{payment.name}}">{{payment.name}}</option>
                    </select>
                  </div>
                  <div class="span8" style="margin-top: 23px;">
                    <p ng-repeat="paymentArray in ListPaymentMethod" ng-hide="paymentArray.name != PaymentMethod"><span ng-bind-html="paymentArray.payInstruction"></span></p>
                  </div>
                </div>

              </fieldset>
                <p></p>
                <div id="actionLoader" ng-show="StartSubmitOrder">&nbsp;&nbsp;</div>
                <input  ng-if="IfCart()" type="submit" name="submitAddress" id="submitAddress" value="Submit Order" class="button">
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
