<div class="row clearfix"  ng-if="!User.info.CustomerEmail && ListPaymentGateways.accountsDisabled != 'disabled'">
		<div class="col-md-6 column">
			<form role="form" ng-submit="ForgotPassword('login')">
				<div class="form-group">
					 <label for="exampleInputEmail1">Email address</label>
                     <input required="required" type="email" class="form-control" ng-model="Customer.forgotEmail" />
				</div>
                <h4 ng-show="invalidEmail" class="label  label-warning">Please enter valid Email address</h4>
				<div class="checkbox">
				</div> <button type="submit" class="btn btn-default">Send</button>
			</form>
		</div>
	</div>
   <div class="row clearfix"  ng-if="User.info.CustomerEmail || ListPaymentGateways.accountsDisabled == 'disabled'">
        <div class="col-md-6 column" ng-if="User.info.CustomerEmail && ListPaymentGateways.accountsDisabled != 'disabled'">
           <h4>You are already logged in</h4>
		</div>
        <div class="col-md-6 column" ng-if="!User.info.CustomerEmail && ListPaymentGateways.accountsDisabled == 'disabled'">
           <h4>Login is disabled</h4>
		</div>
        <div class="col-md-6 column" ng-if="User.info.CustomerEmail && ListPaymentGateways.accountsDisabled == 'disabled'">
           <h4>Login is disabled</h4>
		</div>
	</div>
