<div class="content_bg">
    <div id="columns" class="container ">
        <div class="row ">
            <div class="loader_page">
                <div id="center_column" class="center_column span9 clearfix">
                    <div id="noSlide" style="display: block;">

                        <!-- Breadcrumb -->
                        <div class="breadcrumb">
                            <div class="breadcrumb_inset">
                                <a class="breadcrumb-home" href="/" title="Return to Home"><i class="icon-home"></i></a>
                                <span class="navigation-pipe">&gt;</span>
                                <span class="navigation_page">Forgot Passowrd</span>
                            </div>
                        </div>
                        <!-- /Breadcrumb -->
                        <h1>
                            <span>Forgot Password</span>
                        </h1>
                        <div  ng-show="invalidEmail" class="block-center">
                          <p class="warning">Please enter valid Email address</p>
                        </div>

                        <div  ng-show="ResetPasswordEmail == true" class="block-center">
                          <p class="warning">Your reset password request has been sent to that email. Please do check your inbox and follow the instructions.</p>
                        </div>

                       
                        <!---->
                        <div>
                          <form role="form" ng-submit="ForgotPassword('login')" id="reset_password_form" class="std">
                           
                            <fieldset class="account_creation titled_box">
                                    <div class="row-fluid">
                                        <div class="span6">
                                           
                                            
                                          
                                            <p class="required text">
                                               <label for="passwd">Email<sup>*</sup></label>
                                               <input required="required" min="5" type="email" id="confirmPassword"   class="form-control" ng-model="Customer.forgotEmail"  />
                                            </p>

                                            <p class="cart_navigation required submit">
                                                <div id="actionLoader" ng-show="StartReset">&nbsp;&nbsp;</div>
                                                <input style="float:left;" type="submit" name="submitAccount" id="submitAccount" value="Submit" class="exclusive">
                                            </p>
                                        </div>
                                    </div>
                            </fieldset>
                          </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>