 <!-- //////// Reset Password ////////// -->

  <div id="columns" class="container">
  <div class="block-center" ng-if="!User.info.CustomerEmail || User.info.GuestAuth">
                          <p class="warning">You are not logged in as a registered user. Please <a href="/login">Login</a></p>
                        </div>
                        </div>
               
<div class="content_bg"  ng-if="User.info.CustomerEmail && !User.info.GuestAuth  && !ResetPasswordDone">
    <div id="columns" class="container" ng-init="Customer.OldPassword = ''">
        <div class="row">
            <div class="loader_page">
                <div id="center_column" class="center_column span9 clearfix">
                    <div id="noSlide" style="display: block;">

                        <!-- Breadcrumb -->
                        <div class="breadcrumb">
                            <div class="breadcrumb_inset">
                                <a class="breadcrumb-home" href="/" title="Return to Home"><i class="icon-home"></i></a>
                                <span class="navigation-pipe">&gt;</span>
                                <span class="navigation_page">Change Passowrd</span>
                            </div>
                        </div>
                        <!-- /Breadcrumb -->
                        <h1>
                            <span>Change Password</span>
                        </h1>
                       

                        <div ng-show="invalidPassword" class="block-center">
                          <p class="warning">Please enter valid password</p>
                        </div>

                       
                       
                          <form role="form" ng-submit="ResetPassword('login')" id="reset_password_form" class="std">
                            <fieldset>
                                <div class="row-fluid">
                                    <div class="span9">
                                        <p>We highly recommend you create a unique password - one that you don't use for any other websites.<br />
                                        Note: You can't reuse your old password once you change it.
                                        </p>
                                    </div>
                                    <div class="span3">
                                        <p class="required" style="padding:10px 0 10px 0; margin:0;"><sup>*</sup> Required field</p>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset class="account_creation titled_box">
                                    <div class="row-fluid">
                                        <div class="span6">
                                            <h3>
                                                <span>User Account</span>
                                            </h3>
                                             <p class="required text">
                                                <label for="passwd">Old Password <sup>*</sup></label>
                                               <input required="required" min="5" id="Password" type="password" class="form-control" ng-model="Customer.OldPassword" />
                                            </p>
                                            <p class="required text">
                                                <label for="passwd">New Password <sup>*</sup></label>
                                               <input required="required" min="5" id="Password" type="password" class="form-control" ng-model="Customer.NewPassword" />
                                            </p>
                                            <p class="required text">
                                               <label for="passwd">Confirm Password <sup>*</sup></label>
                                               <input required="required" min="5" type="password" id="confirmPassword"  oninput="check(this)" class="form-control" ng-model="Customer.ConfirmNewPassword" />
                                            </p>

                                            <p class="cart_navigation required submit">
                                                <div id="actionLoader" ng-show="StartReset">&nbsp;&nbsp;</div>
                                                <input style="float:left;" type="submit" name="submitAccount" id="submitAccount" value="Update" class="exclusive">
                                            </p>
                                        </div>
                                    </div>
                            </fieldset>
                          </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

 <!-- //////// Forgot Password ////////// -->

<div class="content_bg" ng-init="checkResetPasswordFlag()" ng-if="issetPasswordResetFlag == false">
    <div id="columns" class="container" ng-if="!User.info.CustomerEmail && ListPaymentGateways.accountsDisabled == 'optional' && ResetPasswordMessage != true && issetPasswordResetFlag != true">
        <div class="row">
            <div class="loader_page">
                <div id="center_column" class="center_column span9 clearfix">
                    <div id="noSlide" style="display: block;">

                        <!-- Breadcrumb -->
                        <div class="breadcrumb">
                            <div class="breadcrumb_inset">
                                <a class="breadcrumb-home" href="/" title="Return to Home"><i class="icon-home"></i></a>
                                <span class="navigation-pipe">&gt;</span>
                                <span class="navigation_page">Change Passowrd</span>
                            </div>
                        </div>
                        <!-- /Breadcrumb -->
                        <h1>
                            <span>Change Password</span>
                        </h1>
                       

                        <div class="row-fluid" ng-show="issetPasswordResetFlag == true">
                            <div class="span9">
                                <div class="span6">
                                    <p>
                                       Your password reset link has been expired. Please send another request for password recovery.
                                    </p>                                           
                                </div>
                            </div>
                        </div>

                        <div class="row-fluid" ng-show="invalidPassword">
                            <div class="span9">
                                <div class="span6">
                                    <p>
                                       Please enter valid password.
                                    </p>                                           
                                </div>
                            </div>
                        </div>
                        <!---->
                        <div >
                          <form role="form" ng-submit="ResetPasswordEmail('login')" id="reset_password_form" class="std">
                            <fieldset>
                                <div class="row-fluid">
                                    <div class="span9">
                                        <p>We highly recommend you create a unique password - one that you don't use for any other websites.<br />
                                        Note: You can't reuse your old password once you change it.
                                        </p>
                                    </div>
                                    <div class="span3">
                                        <p class="required" style="padding:10px 0 10px 0; margin:0;"><sup>*</sup> Required field</p>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset class="account_creation titled_box">
                                    <div class="row-fluid">
                                        <div class="span6">
                                            <h3>
                                                <span>User Account</span>
                                            </h3>
                                          
                                            <p class="required text">
                                                <label for="passwd">New Password <sup>*</sup></label>
                                               <input required="required" min="5" id="Password" type="password" class="form-control" ng-model="Customer.NewPassword" />
                                            </p>
                                            <p class="required text">
                                               <label for="passwd">Confirm Password <sup>*</sup></label>
                                               <input required="required" min="5" type="password" id="confirmPassword"  oninput="check(this)" class="form-control" ng-model="Customer.ConfirmNewPassword" />
                                            </p>

                                            <p class="cart_navigation required submit">
                                                <div id="actionLoader" ng-show="StartReset">&nbsp;&nbsp;</div>
                                                <input style="float:left;" type="submit" name="submitAccount" id="submitAccount" value="Update" class="exclusive">
                                            </p>
                                        </div>
                                    </div>
                            </fieldset>
                          </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>