<div class="footer-bg-mob">
	<footer class="container ">
		<div class="row modules">
			<!-- Block categories module -->
			<section class="block block_category_footer span3">
				<h4>Categories</h4>
				<ul class="toggle_content list-footer tree dhtml" ng-repeat="Navigation in ListNavigation | filter : 'main-menu'">

					<li ng-repeat="Nav in Navigation.link_list" ng-class="{sfHoverForce:  $location.path().indexOf('{{Nav.commaSeprated}}') >= 0}" ng-show="Nav.commaSeprated">
						<a href="{{Nav.commaSeprated}}"><i class="icon-double-angle-right"></i>{{Nav.name}}</a>
					</li>
				</ul>

			</section>
			<!-- /Block categories module -->


			<!-- MODULE Block footer -->
			<section class="block blockcms_footer span3">
				<h4 class="toggle">Information</h4>
				<ul class="list-footer toggle_content clearfix">
					<li class="first_item"><a href="/page/about" title="Specials"><i class="icon-double-angle-right"></i>About Us</a>
					</li>
					<li class="item"><a href="/page/contact" title="New products"><i class="icon-double-angle-right"></i>Contact Us</a></li>
					<li class="item"><a href="/page/terms" title="Best sellers"><i class="icon-double-angle-right"></i>Terms & Conditions</a>
					</li>
				</ul>

			</section>


			<section class="bottom_footer">&copy; 2014 Powered by <a target="_blank" href="http://www.prestashop.com">PrestaShop</a>&trade;</section>
			<!-- /MODULE Block footer -->
			<!-- Block myaccount module -->
			<section class="block blockmyaccountfooter span3">
				<h4>My account</h4>
				<ul class="list-footer toggle_content clearfix">
					<li><a href="javascript:void(0)" title="My orders" rel="nofollow"><i class="icon-double-angle-right"></i>My orders</a>
					</li>
					<li><a href="javascript:void(0)" title="My credit slips" rel="nofollow"><i class="icon-double-angle-right"></i>My credit slips</a>
					</li>
					<li><a href="javascript:void(0)" title="My addresses" rel="nofollow"><i class="icon-double-angle-right"></i>My addresses</a>
					</li>
					<li><a href="javascript:void(0)" title="Manage my personal information" rel="nofollow"><i class="icon-double-angle-right"></i>My personal info</a>
					</li>
					<!--<li><a href="javascript:void(0)" title="My vouchers" rel="nofollow"><i class="icon-double-angle-right"></i>My vouchers</a></li>-->

					<li class="favoriteproducts">
						<a href="javascript:void(0)" title="My favorite products."><i class="icon-double-angle-right"></i>
				My favorite products.
	</a>
					</li>

				</ul>
			</section>
			<!-- /Block myaccount module -->

		</div>
	</footer>
</div>
</div>
</div>

<script type="text/javascript" src="http: