				<div class="footer-bg-mob">
					<footer class="container">
						<div class="row modules">
							<!-- Block categories module -->
							<section class="block block_category_footer span3">
								<h4>Categories</h4>
								<ul class="toggle_content list-footer tree dhtml" ng-repeat="Navigation in ListNavigation | filter : 'main-menu'">

									<li ng-repeat="Nav in Navigation.link_list" ng-class="{sfHoverForce:  $location.path().indexOf('{{Nav.commaSeprated}}') >= 0}" ng-show="Nav.commaSeprated">
										<a href="{{Nav.commaSeprated}}"><i class="icon-double-angle-right"></i>{{Nav.name}}</a>
									</li>
								</ul>

							</section>
							<!-- /Block categories module -->


							<!-- MODULE Block footer -->
							<section class="block blockcms_footer span3">
								<h4 class="toggle">Information</h4>
								<ul class="toggle_content list-footer tree dhtml" ng-repeat="Navigation in ListNavigation | filter : 'static-pages'">

									<li ng-repeat="Nav in Navigation.link_list" ng-class="{sfHoverForce:  $location.path().indexOf('{{Nav.commaSeprated}}') >= 0}">
										<a href="{{Nav.commaSeprated}}"><i class="icon-double-angle-right"></i>{{Nav.name}}</a>
									</li>
								</ul>

							</section>


							<section class="bottom_footer">&copy; 2014 Powered by <a target="_blank" href="www.bramerz.pk">Bramerz</a>&trade;</section>
						</div>
					</footer>
				</div>
			</div>
		</div>
	</body>
</html>