<html ng-app="aeCommerce" ng-controller="AECtrl">
	<head>
		<meta name="fragment" content="!">
		<base href="/">
		<% if (typeof(meta) != "undefined") { %>
		<% for (var metaItem in meta) { %>
		<meta name="
		<%= metaItem %>
		" content="
		<%= meta[metaItem] %>
		" />
		<% } %>
		<% } %>
		<title ng-bind="title">
		<%= title %>
		</title> 
		<script>
			  	var StoreID = '<%= StoreId %>';
			  	var BaseUrl = '/';
			  </script> 
		<% include header_resources %>
		
	</head>
	<body id="index" >
		<div id="Loader" style="position:absolute;z-index:9999;background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);height: 250%;width: 100%;"><img src="/img/theme/bkg-loading.gif" alt="Loader" style="margin: 0 auto;display: block;margin-top: 226px;"></div>
		<div id="pageFrame">
			<div id="pageHeader"><!-- Page Header -->
			<div id="genericHeader">
				<div id="headerProfileContainer">
					<div class="headerProfile">
						<div class="js-changeLoginState" ng-if="User.info.CustomerEmail">Welcome  <a href="/" class="welcomeUser js-userName">{{User.info.CustomerFirstName}}</a>.<a href="/" class="notUser js-notUser" ng-if="User.info.CustomerEmail" href="javascript:void(0)" ng-click="Logout()">Not ? Sign Out</a></div>
						<div class="js-changeLoginState"><a href="./login" class="signInLink" ng-if="!User.info.CustomerEmail">Sign in</a> Don't have a Pizza Profile? <a href="./signup" class="createAccount js-createProfile" ng-if="!User.info.CustomerEmail">Create one</a></div> </div>
						<div class="clr"><!-- --></div></div>

					<div ng-controller="GlobalCtrl" ng-repeat="Navigation in ListNavigation | filter : 'main-menu'">
											<div class="mainNavigation">
						
							<span class="order" ng-repeat="Nav in Navigation.link_list"  ng-show="Nav.commaSeprated">
							<!-- <h1>{{$location.path()}}</h1><br /> -->
							<a ng-class="{active: $location.path().indexOf('{{Nav.commaSeprated}}') >= 0 || ($index == 0 && ($location.path() == '/collections/all' || $location.path() == '/collections/pizza' || $location.path() == '/collections/chicken' || $location.path() == '/collections/pasta' || $location.path() == '/collections/breads' || $location.path() == '/collections/drinks' || $location.path() == '/collections/desserts'  || $location.path() == '/confirm' || $location.path() == '/thankyou'))}" href="{{Nav.commaSeprated}}" class="qa-Cl_order js-mBoxOOSwapHeader">{{Nav.name}}</a></span>
							<!-- <h3>{{$location.path()}}</h3> -->
						</div>
						<!-- <div class="mainNavigation">
							<span class="order"><a href="/cart" class="qa-Cl_order js-mBoxOOSwapHeader">Order Online</a></span>
							<span><a href="/collections" class="qa-Cl_Menu">Menu</a></span>
							<span><a href="coupons.html" class="qa-Cl_Coupons">Coupons</a></span>
							<span><a href="locations.html" class="qa-Cl_Loc">Locations</a></span>
							<span><a href="tracker.html" class="qa-Cl_trac">Tracker</a></span>
							<span class="giftCards"><a class="" href="giftcards.html">Gift Cards</a></span>
							
							<div class="clr"><!--  --></div>
						</div>
						<div class="clr"><!--  --></div>
						
						
					</div>
				</div>
			</div><!-- Closes Page Header -->
		</div>


				