<div id="page">
<!-- FOOTER -->
		<footer>
			
			<!-- CONTAINER -->
			<div class="container" data-animated='fadeInUp'>
				
				<!-- ROW -->
				<div class="row">
					
					<div class="col-lg-2 col-md-2 col-sm-3 col-xs-6 col-ss-12 padbot30" ng-if="SettingGeneral">
						<h4>Contacts</h4>
						<div class="foot_address"><span ng-if="SettingGeneral.name">{{SettingGeneral.name}}</span><span ng-if="SettingGeneral.address1" style="display: inline-block;letter-spacing: 1px;">{{SettingGeneral.address1}},</span><span ng-if="SettingGeneral.city" style="display: inline-block;letter-spacing: 1px;">{{SettingGeneral.city}},</span><span ng-if="SettingGeneral.country" style="display: inline-block;letter-spacing: 1px;">{{SettingGeneral.country}}</span></div>
						<div class="foot_phone" ng-if="SettingGeneral.phone"><a>{{SettingGeneral.phone}}</a></div>
						<div class="foot_mail" ng-if="SettingGeneral.contactEmail"><a href="" >{{SettingGeneral.contactEmail}}</a></div>
						
					</div>
					
					<div class="col-lg-2 col-md-2 col-sm-3 col-xs-6 col-ss-12 padbot30">
						<h4>Information</h4>
						<ul class="foot_menu" ng-repeat="Navigation in ListNavigation | filter : 'footer'">
							<li class="sub-menu first" ng-repeat="Nav in Navigation.link_list"  ng-class="{active:  $location.path() == '/'}" ng-show="Nav.optionSelected == 'frontpage'">
                                <a href="/">
                                    {{Nav.name}}
                                </a>
                             </li>
							<li class="sub-menu first" ng-repeat="Nav in Navigation.link_list"  ng-class="{active:  $location.path().indexOf('{{Nav.commaSeprated}}') >= 0}" ng-show="Nav.commaSeprated">
                                <a href="{{Nav.commaSeprated}}">
                                   {{Nav.name}}
                                </a>
                             </li>
                            <li class="sub-menu first" ng-repeat="Nav in Navigation.link_list"  ng-class="{active:  $location.path().indexOf('{{Nav.http}}') >= 0}" ng-show="Nav.http">
                                <a href="{{Nav.http}}" target="_blank">
                                    {{Nav.name}}
                                </a>
                            </li>
							
						</ul>
					</div>
					
					<div class="respond_clear_480"></div>
					
					<div class="col-lg-4 col-md-4 col-sm-6 padbot30">
						<h4>About shop</h4>
						<p>Mausummery is one of Pakistan's leading lawn brands. In its 17th year, Mausummery enjoys a huge fan following globally & is available all across Pakistan.</p>
						<p>Our CEO, Ayesha Ahmad Mansoor, today represents the 2nd generations calling to carry on our exciting journey! We thank you and hope to take you along on this wonderful voyage!
                        Stay tuned at mausummery.com and Mausummery Pakistan at Facebook!</p>
					</div>
					
					<div class="respond_clear_768"></div>
					
					<div class="col-lg-4 col-md-4 padbot30">
						<!-- <h4>Newsletter</h4>
						<form class="newsletter_form clearfix" action="javascript:void(0);" method="get">
							<input type="text" name="newsletter" value="Enter E-mail & Get 10% off" onFocus="if (this.value == 'Enter E-mail & Get 10% off') this.value = '';" onBlur="if (this.value == '') this.value = 'Enter E-mail & Get 10% off';" />
							<input class="btn newsletter_btn" type="submit" value="SIGN UP">
						</form> -->
						
						<h4>we are in social networks</h4>
						<div class="social">
							<a ng-if="ThemeSettings.theme_settings.twitter_link" href="{{ThemeSettings.theme_settings.twitter_link}}" target="_blank" ><i class="fa fa-twitter"></i></a>
							<a ng-if="ThemeSettings.theme_settings.facebook_link" href="{{ThemeSettings.theme_settings.facebook_link}}" target="_blank" ><i class="fa fa-facebook"></i></a>
							<a ng-if="ThemeSettings.theme_settings.google_link" href="{{ThemeSettings.theme_settings.google_link}}" target="_blank" ><i class="fa fa-google-plus"></i></a>
							<a ng-if="ThemeSettings.theme_settings.pinterest_link" href="{{ThemeSettings.theme_settings.pinterest_link}}" target="_blank" ><i class="fa fa-pinterest-square"></i></a>
							<a ng-if="ThemeSettings.theme_settings.tumblr_link" href="{{ThemeSettings.theme_settings.tumblr_link}}" target="_blank"><i class="fa fa-tumblr"></i></a>
							<a ng-if="ThemeSettings.theme_settings.instagram_link" href="{{ThemeSettings.theme_settings.instagram_link}}" target="_blank" ><i class="fa fa-instagram"></i></a>
						</div>
					</div>
				</div><!-- //ROW -->
			</div><!-- //CONTAINER -->
			
			<!-- COPYRIGHT -->
			<div class="copyright">
				
				<!-- CONTAINER -->
				<div class="container clearfix">
					<div class="foot_logo"><a href="/" ><img src="{{ThemeSettings.theme_settings.logo_img}}" alt="" /></a></div>
					
					<div class="copyright_inf">
						<span>Fishry © 2014</span> |
						<span>Theme by Bramerz</span> |
						<a class="back_top" href="javascript:void(0);" >Back to Top <i class="fa fa-angle-up"></i></a>
					</div>
				</div><!-- //CONTAINER -->
			</div><!-- //COPYRIGHT -->
		</footer><!-- //FOOTER -->
</div>
</div>
</body>
</html>