<div id="page">
    <section class="breadcrumb parallax margbot30"></section>
    <!-- //BREADCRUMBS -->


    <!-- PAGE HEADER -->
    <section class="page_header">

        <!-- CONTAINER -->
        <div class="container border0 margbot0">
            <h3 class="pull-left"><b>Checkout</b>
            </h3>

            <div class="pull-right">
                <a href="shopping-bag.html">Back shopping bag<i class="fa fa-angle-right"></i></a>
            </div>
        </div>
        <!-- //CONTAINER -->
    </section>
    <!-- //PAGE HEADER -->


    <!-- CHECKOUT PAGE -->
    <section class="checkout_page">

        <!-- CONTAINER -->
        <div class="container">

            <!-- CHECKOUT BLOCK -->
            <div class="checkout_block">
                <ul class="checkout_nav">
                    <li class="done_step2">1. Shipping Address</li>
                    <li class="done_step2">2. Delivery</li>
                    <li class="done_step">3. Payment</li>
                    <li class="active_step last">4. Confirm Order</li>
                </ul>
            </div>
            <!-- //CHECKOUT BLOCK -->

            <!-- ROW -->
            <div class="row">
                <div class="col-lg-9 col-md-9 padbot60">
                    <div class="checkout_confirm_orded clearfix">
                        <div class="checkout_confirm_orded_bordright clearfix">
                            <div class="billing_information">
                                <p class="checkout_title margbot10">Billing information</p>

                                <div class="billing_information_content margbot40">
                                    <span>{{Customer.FirstName}}</span>
                                    <span>{{Customer.Address}}</span>
                                    <span>{{Customer.AddressContinue}}</span>
                                    <span>{{Customer.ShippingCountry}}</span>
                                    <span>{{Customer.Email}}</span>
                                </div>

                                <p class="checkout_title margbot10">Shipping address</p>

                                <div class="billing_information_content margbot40">
                                    <span>{{Customer.FirstNameBilling}}</span>
                                    <span>{{Customer.AddressBilling}}</span>
                                    <span>{{Customer.CityBilling}}</span>
                                    <span>{{Customer.ShippingCountry}}</span>
                                    <span>{{Customer.PhoneBilling}}</span>
                                    <span>{{Customer.EmailBilling}}</span>
                                </div>
                            </div>

                            <div class="payment_delivery">
                                <p class="checkout_title margbot10">Payment and delivery</p>

                                <h3 style="font-weight: bold;">{{PaymentMethod}}</h3>
                                <p style="width: 86%;">{{returnpaymentDescription(PaymentMethod)}}</p>


                            </div>
                        </div>

                        <div class="checkout_confirm_orded_products">
                            <p class="checkout_title">Products</p>
                            <ul class="cart-items" ng-repeat="(keyMain,Itemss) in Cart track by $index">
                                <li class="clearfix" ng-show="Itemss.productID">
                                    <img class="cart_item_product" src="{{Itemss.productInfo.productImage[0].Image}}" alt="" />
                                    <a href="product-page.html" class="cart_item_title">{{Itemss.productInfo.productName}}</a>
                                    <span class="cart_item_price">{{SettingGeneral.settings.currencies_format}} {{Itemss.price * Itemss.quantity}}</span>
                                </li>
                                <li class="clearfix" ng-hide="Itemss.productID" ng-repeat="(key,itm) in Itemss track by $index">
                                    <img class="cart_item_product" src="{{itm.productInfo.productImage[0].Image}}" alt="" />
                                    <a href="product-page.html" class="cart_item_title">{{itm.productInfo.productName}}</a>
                                    <span class="cart_item_price">{{SettingGeneral.settings.currencies_format}} {{itm.price}}</span>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>

                <div id="sidebar" class="col-lg-3 col-md-3 padbot50">

                    <!-- BAG TOTALS -->
                    <div class="sidepanel widget_bag_totals">
                        <h3>BAG TOTALS</h3>
                        <table class="bag_total">
                            <tr class="cart-subtotal clearfix">
                                <th>total</th>
                                <td class="right">{{ReturnTotal()- ReturnTaxPrice()| currency:SettingGeneral.settings.currencies_format+' '}}</td>
                            </tr>
                            <tr class="cart-subtotal clearfix">
                                <th>TAX</th>
                                <td class="right">{{ReturnTaxPrice()| currency:SettingGeneral.settings.currencies_format+' '}}</td>
                            </tr>
                            <tr class="total clearfix">
                                <th>Sub Total</th>
                                <td class="right">{{ReturnTotal()| currency:SettingGeneral.settings.currencies_format+' '}}</td>
                            </tr>
                        </table>

                        <a class="btn active" ng-click="SubmitOrder(PaymentMethod,'/thankyou')">Place Order</a>
                        <a class="btn inactive" href="/confirmthree">Go to previous step</a>
                    </div>
                    <!-- //REGISTRATION FORM -->
                </div>
            </div>
            <!-- //ROW -->
        </div>
        <!-- //CONTAINER -->
    </section>
    <!-- //CHECKOUT PAGE -->


</div>

<script>
$(document).ready(function() {

    $('#savedPayment').html(localStorage.getItem('PaymentType'));

    jQuery('.shopping_bag .cart').hide();

});
</script>
