<div ng-if="ThemeSettings.theme_settings.homepage_page_layout == ''" ng-controller="GlobalCtrl">
    <div ng-include src="getHomeTemplatePath()"></div>
</div>
<div ng-if="ThemeSettings.theme_settings.homepage_page_layout == 'Sale'" ng-controller="GlobalCtrl">
    <div ng-include src="getHomeTemplatePath('sale')"></div>
</div>
<div ng-if="ThemeSettings.theme_settings.homepage_page_layout == 'Promo'" ng-controller="GlobalCtrl">
    <div ng-include src="getHomeTemplatePath('promo')"></div>
</div>
<div ng-if="ThemeSettings.theme_settings.homepage_page_layout == 'Products'" ng-controller="GlobalCtrl">
    <div ng-include src="getHomeTemplatePath('kids')"></div>
</div>
<div ng-if="ThemeSettings.theme_settings.homepage_page_layout == 'Video'" ng-controller="GlobalCtrl">
    <div ng-include src="getHomeTemplatePath('video')"></div>
</div>

