
<div class="row clearfix" ng-init="LoadOrders();">
  <div class="col-md-12 column">
    <h1>
      My orders
    </h1>
    <table ng-show="Orders" class="table">
      <thead>
        <tr>
          <th class="col-md-4">
           Order Id
          </th>
           <th class="col-md-4">
           Order Total
          </th>
          <th class="col-md-4">
           Payment Method 
          </th>
          <th class="col-md-4">
            Status
          </th>
        </tr>
      </thead>
      <tbody ng-repeat="(keyMain,Itemss) in Orders track by $index">
        <tr>
          <td class="col-md-4">
            {{Itemss.id}} 
          </td>
          <td class="col-md-4">
            {{SettingGeneral.settings.currencies_format}}. {{Itemss.orderTotal}}
          </td>
           <td class="col-md-4">
            {{SettingGeneral.settings.currencies_format}}. {{Itemss.paymentInfo}}
          </td>
          <td class="col-md-4">
         
          <div ng-hide="Itemss.paymentStatus">
            <span ng-show="Itemss.payment">Fullfilled</span>
            <span ng-hide="Itemss.payment">Not Fullfilled</span>
         </div>
          <div ng-show="Itemss.paymentStatus">
            <span>Canceled</span>
         </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <h6 ng-hide="Orders" align="center">
    No Order Found
  </h6>
</div>
</div>
<script type="text/javascript">
  $('header .navmenu').fadeOut();
</script>
