
<div class="popup-body-product">
<div id="genericOverlay" style="position: absolute; left: 0px; top: 60px;" ng-init="InitProduct();">
 <style>
    .deactivate {
        opacity:0.5;
    }
	
    </style>

    <div class="overlayContentFrame" itemscope itemtype="http://schema.org/Product">
  
        <div  class="overlayContent"> <a class="closeButton js-closeButton" ng-click="postcollection();">×</a> 
            <div id="builderDefaultPage" ng-repeat="(prodID,product) in ListProduct | CustomFilter:{productUrl : routeParam}">
                <h1  class="pageHeading" itemprop="name">{{product.productName}}</h1>
                <div class="visualWrapper">
                    <div class="productImage">
                        <!-- <span>{{product.productImage[0].Image}}</span> -->
                        <a  ng-if="product.productImage[0].Image">
                            <img itemprop="image" ng-src="{{product.productImage[0].Image}}" title="{{product.productName}}" style="background:url(/themes/dominos/active/base/img/theme/load.gif) no-repeat center;z-index: 9999;" >
                        </a>
                        <a  ng-if="!product.productImage[0].Image">
                            <img itemprop="image" ng-src="{{BaseUrl}}img/theme/default.png" alt="abc" style="background-color: rgb(235, 232, 232);" />
                        </a>
                    </div>
                    <p  class="productDescription" ng-bind-html="product.productDescription" itemprop="description"></p>
                </div>
                <div class="builderWrapper">
                    <form  name="addtoCart" ng-init="product.productVarientModel = {};" ng-submit="addToCart(product.id,product);postcollection();cartRedirect();">
                        <h2 class="sectionHeading">Serving Options
                        <a ng-click="product.productVarientModel = {};" onclick="$('.attributes_{{product.Index}}').removeAttr('checked');" href="javascript:void(0)" style="color: white;font-weight: bold;font-size: 16px;text-decoration: underline;float: right;cursor: pointer;">Reset All</a>


                        </h2>

                        <div class="detailsContent detailsServingOptions">

                            <div ng-if="product.productMultiOptions">

                                <div class="tbody variants-border" ng-repeat="valueSize in product.productMultiOptionsList" style="display: inline-block;">
                                    <h4 style="font-size: 14px;font-weight: bold;text-align: left;margin-top: 10px;margin-bottom: 17PX;margin-left: 8px;color: #0078ae;" itemprop="offers">Select {{valueSize.name}}:</h4>

                                    <span ng-repeat="parms in valueSize.value" class="radio" style="width: 150px;display: inline-block;margin-bottom: 20px;margin-left:8px;">
                                     <label ng-class="{'deactivate':RenderOnDemand(product.productVarientModel,product,parms,valueSize.name)}">
                                            <input ng-checked="product.productVarientModel[valueSize.name] == parms" ng-click="ResetVariendsModelBase(valueSize.name,parms,product.productVarientModel,product.Index)" class="attributes_{{product.Index}}" ng-disabled="RenderOnDemand(product.productVarientModel,product,parms,valueSize.name)" type="checkbox" value="{{parms}}" required style="margin-right:4px;">{{parms}}
                                        </label>
                                    </span>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="clearfix"></div>
                            </div>



                        </div>

                        <table cellpadding="0" cellspacing="0" class="buttons">
                            <tbody>
                                <tr>

                                    <td class="cancel"><a ng-click="postcollection();" class="buttonType5 js-cancel">Cancel</a>
                                    </td>

                                    <td class="qty" style="font-weight:bold;">Quantity:

                                        <select class="js-productQuantity" style="width:44px;" min='1' ng-model="product.productQuantity" type="number">
                                            <!-- -->
                                            <option selected="" value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                            <option value="13">13</option>
                                            <option value="14">14</option>
                                            <option value="15">15</option>
                                            <option value="16">16</option>
                                            <option value="17">17</option>
                                            <option value="18">18</option>
                                            <option value="19">19</option>
                                            <option value="20">20</option>
                                            <option value="21">21</option>
                                            <option value="22">22</option>
                                            <option value="23">23</option>
                                            <option value="24">24</option>
                                            <option value="25">25</option>
                                        </select>

                                    </td>


                                    <td ng-if="!product.productMultiOptions">
                                        <input type="submit" value="Add To Order" name="submit" title="Click To Add To Cart" />
                                    </td>
                                    <td ng-if="product.productMultiOptions && selectedVarients(product.productVarientModel) && returnPrice(product) && returnPrice(product) >= 0">
                                        <input type="submit" value="Add To Order" name="submit" title="Click To Add To Cart" />
                                    </td>

                                    <div class="clr">
                                    </div>
                                </tr>
                            </tbody>
                        </table>

                        <h5 ng-if="!product.productMultiOptions" style="color: black;font-weight: bold;font-size: 17px;display: inline-block;padding-top: 20px;padding-left: 4px;">{{product.productPrice | nfcurrency:"PKR "}}</h5>
                        <h5 ng-if="product.productMultiOptions && selectedVarients(product.productVarientModel) && returnPrice(product) && returnPrice(product) >= 0 " style="color: black;font-weight: bold;font-size: 17px;display: inline-block;padding-top: 20px;padding-left: 4px;">{{returnPrice(product) | nfcurrency:"PKR "}}</h5>
                        <div ng-if="product.productMultiOptions && selectedVarients(product.productVarientModel) && returnPrice(product) && returnPrice(product) >= 0 ">
                            <h4 ng-if="!returnPrice(product)" class="label label-danger" style="color: #fa001f;font-weight: bold;font-size: 17px;display: inline-block;padding-top: 20px;padding-left: 4px;">This Combination is Not Available</h4>
                        </div>
                    </form>

                </div>
                <div class="clr">
                    <!-- -->
                </div>
            </div>
        </div>
    </div>
</div>
</div>
