<div id="pageFrame" ng-if="routeParam == 'menu'">
    <div id="genericHeader">
        <div class="subNavigation">

            <div id="notch">
                <img src="https://cache.dominos.com/nolo/us/en/013167/assets/build/images/img/logoNotch.gif" alt="Domino's Pizza">
            </div>
            <a href="/" class="logo">Domino's Pizza</a>
        </div>
    </div>
    <div id="pageBody">
        <div id="pageContent" ng-init="init()">

            <div id="genericMenuPage" ng-if="routeParam != 'all'">
                <div id="js-categoryArea" class="pageLeftColumn">
                    <div class="category" ng-repeat="collection in ListCollection">
                        <div ng-show="(collection.collectionName != 'Frontpage')">

                        <div class="sectionHeading" ng-if="collection.collectionName != 'Menu' && collection.collectionName != 'View All'">
                            <h1>{{collection.collectionName}}</h1>
                            <span>pricing available when ordering</span>
                            <div class="clr">
                                <!--  -->
                            </div>
                        </div>

                        <div class="product" ng-repeat="products in ListProduct | CustomFilter:{collection:collection.collectionName} |  filter:Search">
                            <div class="productImage">
                                <a  ng-click="preproduct(products.productUrl);precollection(collection.collectionUrl);"  ng-if="products.productImage[0].Image">

                                    <img ng-src="{{products.productImage[0].Image}}" title="{{products.productDescription}}" style="background:url({{BaseUrl}}img/theme/load.gif) no-repeat center;z-index: 9999;" />
                                </a>
                                <a  ng-click="preproduct(products.productUrl);precollection(collection.collectionUrl);"  ng-if="!products.productImage[0].Image">

                                    <img src="{{BaseUrl}}img/theme/default.png" alt="abc" style="background-color: rgb(235, 232, 232);" />
                                </a>
                            </div>



                            <a class="btn fullWidth" title="Click Here To Order" ng-click="preproduct(products.productUrl); precollection(collection.collectionUrl);">Order</a>
                            <h3 class="dominosColor1"><a ng-click="preproduct(products.productUrl)" title="{{products.productDescription}}">{{products.productName}}</a>
                            </h3>
                            <div>
                                <p class="description" ng-bind-html="products.productDescription | cut:true:80:' ...'"></p>

                            </div>
                        </div>

                        <div class="clr"></div>
                        </div>
                    </div>
                </div>

                <div id="js-optionsArea" class="pageRightColumn">
                    <div id="layout-availableOptionsComponent" class="layout-component">
                        <div class="sidebarBox options">
                            <h2 class="sectionHeading">Available Options</h2>
                            <div class="content">
                                <h3 class="dominosColor1 ">Pizza Crusts (5)</h3>
                                <ul>
                                    <li>Hand Tossed</li>
                                    <li>Handmade Pan</li>
                                    <li>Crunchy Thin Crust</li>
                                    <li>Brooklyn Style</li>
                                    <li>Gluten Free Crust</li>
                                </ul>
                                <h3 class="dominosColor1 ">Pizza Sizes (4)</h3>
                                <ul>
                                    <li>Small (10")</li>
                                    <li>Medium (12")</li>
                                    <li>Large (14")</li>
                                    <li>X-Large (16")</li>
                                </ul>
                                <h3 class="dominosColor1 ">Sides (8)</h3>
                                <ul>
                                    <li>BBQ Sauce</li>
                                    <li>Blue Cheese</li>
                                    <li>Garlic Dipping Sauce</li>
                                    <li>Icing</li>
                                    <li>Kicker Hot Sauce</li>
                                    <li>Marinara</li>
                                    <li>Ranch</li>
                                    <li>Sweet Mango Habanero Sauce</li>
                                </ul>
                                <h3 class="dominosColor1 ">Sauces (9)</h3>
                                <ul>
                                    <li>Alfredo Pasta Sauce</li>
                                    <li>BBQ Sauce</li>
                                    <li>Blue Cheese Sauce</li>
                                    <li>Hearty Marinara Sauce</li>
                                    <li>Hot Sauce</li>
                                    <li>Mango Habanero Sauce</li>
                                    <li>Ranch Dressing</li>
                                    <li>Robust Inspired Tomato Sauce</li>
                                    <li>White Sauce</li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="clr">
                    <!--  -->
                </div>
            </div>
        </div>
        <!-- Pan Upsell Pop-up for N6 -->
    </div>
</div>




<div id="pageFrame" ng-if="routeParam != 'menu'">
    <div id="genericHeader">
        <div class="subNavigation">

            <div id="notch">
                <img src="https://cache.dominos.com/nolo/us/en/013167/assets/build/images/img/logoNotch.gif" alt="Domino's Pizza">
            </div>
            <a href="/" class="logo">Domino's Pizza</a>
            <div id="js-subNavigationPage" ng-controller="GlobalCtrl" ng-repeat="Navigation in ListNavigation | filter : 'collection-list'">
                <ul ng-repeat="Nav in Navigation.link_list" ng-show="Nav.commaSeprated">
                    <li ng-class="{active:  $location.path().indexOf('{{Nav.commaSeprated}}') >= 0}" ng-show="Nav.commaSeprated"><a href="{{Nav.commaSeprated}}" class="navigation-All ">{{Nav.name}}</a>
                    </li>
                    <li class="divider">|</li>

                </ul>
            </div>
        </div>
    </div>
    <div id="pageBody">
        <div id="pageContent" ng-init="init()">
            <div id="js-splitFrame" class="w100 none" style="display: block;">
                <div id="js-pageSplit" class="pageLeftColumn">
                    <div id="entreesPage">

                        <div ng-if="routeParam == 'all'">
                            <div id="js-entreePromos">
                                <div id="flash-home">
                                    <div id="orderTouts">
                                        <!--mp_trans_remove_start-->
                                        <div id="entreesBanner" class="generalMarket">
                                            <ul class="promotions">
                                                <li id="fiftyPercentOff" style="background: url('{{ThemeSettings.theme_settings.slide_4_img}}') no-repeat 0 0;" alt="ThemeSettings.theme_settings.slide_4_alt">
                                                    <a href="{{ThemeSettings.theme_settings.slide_4_link}}" data-role="wt-event" data-wt-panelname="50off" data-wt-panelnumber="1">
                                                        <h1>Online Only March 17 - March 23</h1>
                                                        <h2>50% Off Any Pizza At Menu Price</h2>
                                                        <p>You must ask for this limited-time offer. Prices, participation, delivery area and charges may vary. Offer applies to the pizza portion of your order only. Minimum purchase required for delivery.</p>
                                                        <div id="fiftyPercentOffCTA" class="btn btnSmall btnShimmer btnBounce">Order Now</div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="clr">
                                    <!-- -->
                                </div>
                            </div>
                            <div  ng-repeat="collection in ListCollection">
                                <div ng-show="(collection.collectionName != 'Frontpage')">
                                <div class="item js-toggle" ng-if="collection.collectionName != 'Menu' && collection.collectionName != 'View All'">
                                    <div class="header" ng-if="routeParam == collection.collectionUrl || routeParam == 'all'">
                                        <a class="dominosColor1 qa-PastPopular" href="collections/{{collection.collectionUrl}}" data-wt-panelname="pastpopularitems">
                                            <img ng-src="http://aecommerce.blob.core.windows.net/collection/{{collection.collectionImage}}" title="{{collection.collectionName}}" style="background:url({{BaseUrl}}img/theme/load.gif) no-repeat center;z-index: 9999;">
                                            <div class="column">
                                                <h2 class="media__title">{{collection.collectionName}}</h2>
                                                <p class="media__description none--handheld" ng-bind-html="collection.collectionDescription | cut:true:80:' ...'"></p>
                                                
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                </div>
                            </div>
                           



                            </div>
                        </div>
                        <div id="genericMenuPage" ng-if="routeParam != 'all'">
                            <div class="clr">
                                <!--  -->
                            </div>
                            <div id="js-categoryArea" class="pageLeftColumn">
                                <div class="category" ng-repeat="collection in ListCollection | CustomFilter:{frontPage:false}">
                                    <div class="sectionHeading" ng-if="routeParam == collection.collectionUrl || routeParam == 'all'">
                                        <h1>{{collection.collectionName}}</h1>
                                        <span>pricing available when ordering</span>
                                        <div class="clr">
                                            <!--  -->
                                        </div>
                                    </div>
                                </div>
                                <div class="product" ng-repeat="products in ListProduct | CustomFilter:{collection:collection.collectionName} | CustomFilter:{collection:routeParam} | filter:Search">
                                    <div class="productImage">
                                        <a ng-if="products.productImage[0].Image"  href="./product/{{products.productUrl}}">

                                            <img ng-src="{{products.productImage[0].Image}}" title="{{products.productName}}" style="background:url({{BaseUrl}}img/theme/load.gif) no-repeat center;z-index: 9999;" />
                                        </a>
                                        <a ng-if="!products.productImage[0].Image"  href="./product/{{products.productUrl}}">

                                            <img src="{{BaseUrl}}img/theme/default.png" alt="abc" style="background-color: rgb(235, 232, 232);" />
                                        </a>
                                    </div>
                                    <a class="btn fullWidth" title="Click Here To Order" href="./product/{{products.productUrl}}">Order</a>
                                    <h3 class="dominosColor1"><a href="./product/{{products.productUrl}}" title="{{products.productName}}">{{products.productName}}</a>
                                    </h3>
                                    <p class="description" ng-bind-html="products.productDescription | cut:true:80:' ...'"></p>

                                </div>

                            </div>
                            <div class="clr">
                                <!--  -->
                            </div>
                        </div>
                    </div>
                    <div class="pageRightColumn" style="margin-top: 0px;">
                        <!--  -->
                        <div id="js-myOrderPage">
                            <div id="orderSummaryInColumn" class="sidebarBox">
                                <h2 class="sectionHeading">
                                    <span>My Order</span>
                                </h2>
                                <div class="content">
                                    <a href="/cart" class="btn btnLarge buttonCheckout qa-AllChek" data-icon="shopping-cart" style="" ng-if="IfCart() != ''" title="Go to Cart Page">
                                        <span>Checkout</span>
                                    </a>

                                    <a href="javascript:void(0)" class="btnDisable btn btnLarge buttonCheckout qa-AllChek" data-icon="shopping-cart" style="background-color: #DF3450;opacity: 0.5;" ng-if="IfCart() == ''" title="Please First Choose the Items you want to Order">
                                        <span>Checkout</span>
                                    </a>

                                    <div class="orderSummaryContent">
                                        <div class="orderSummaryItems">
                                            <div class="miniLineItem" cellspacing="0" cellpadding="0" ng-show="IfCart()" class="table">
                                                <div ng-repeat="(keyMain,Itemss) in Cart track by $index">
                                                    <div ng-show="Itemss.productID" style="margin-bottom: 20px;border-bottom: 1px solid #9bc1d9;padding-bottom: 12px;margin-left: -3px;">
                                                        <div>
                                                            <h3><a href="javascript:void(0)">{{Itemss.productInfo.productName}}</a>
                                                            </h3>

                                                        </div>
                                                    
                                                 
                                                        <div class="qty">
                                                            <select name="6|Quantity" min='1' ng-change="changeQuantity()" ng-model="Itemss.quantity" type="number" style="margin-top: 12px;margin-left: 12px;">
                                                                <!-- -->
                                                                <option selected="" value="1">1</option>
                                                                <option value="2">2</option>
                                                                <option value="3">3</option>
                                                                <option value="4">4</option>
                                                                <option value="5">5</option>
                                                                <option value="6">6</option>
                                                                <option value="7">7</option>
                                                                <option value="8">8</option>
                                                                <option value="9">9</option>
                                                                <option value="10">10</option>
                                                                <option value="11">11</option>
                                                                <option value="12">12</option>
                                                                <option value="13">13</option>
                                                                <option value="14">14</option>
                                                                <option value="15">15</option>
                                                                <option value="16">16</option>
                                                                <option value="17">17</option>
                                                                <option value="18">18</option>
                                                                <option value="19">19</option>
                                                                <option value="20">20</option>
                                                                <option value="21">21</option>
                                                                <option value="22">22</option>
                                                                <option value="23">23</option>
                                                                <option value="24">24</option>
                                                                <option value="25">25</option>
                                                            </select>
                                                            <div class="remove" ng-click="RemoveCartItem(Itemss.productID,false)" style="margin-left: 12px;">Remove</div>
                                                            <div class="price">PKR {{Itemss.price * Itemss.quantity}}</div>
                                                        </div>
                                                    
                                                        

                                                    </div>
                                                    <div ng-hide="Itemss.productID" ng-repeat="(key,itm) in Itemss track by $index" style="margin-bottom: 20px;border-bottom: 1px solid #9bc1d9;padding-bottom: 12px;margin-left: -3px;">
                                                        <div>

                                                            <h3><a href="javascript:void(0)">{{itm.productInfo.productName}} {{key}}</a>
                                                            </h3>

                                                        </div>
                                                    
                                                        <div class="qty">
                                                            <select name="6|Quantity" min='1' ng-change="changeQuantity()" ng-model="itm.quantity" type="number" style="margin-top: 12px;margin-left: 12px;">
                                                                <!-- -->
                                                                <option selected="" value="1">1</option>
                                                                <option value="2">2</option>
                                                                <option value="3">3</option>
                                                                <option value="4">4</option>
                                                                <option value="5">5</option>
                                                                <option value="6">6</option>
                                                                <option value="7">7</option>
                                                                <option value="8">8</option>
                                                                <option value="9">9</option>
                                                                <option value="10">10</option>
                                                                <option value="11">11</option>
                                                                <option value="12">12</option>
                                                                <option value="13">13</option>
                                                                <option value="14">14</option>
                                                                <option value="15">15</option>
                                                                <option value="16">16</option>
                                                                <option value="17">17</option>
                                                                <option value="18">18</option>
                                                                <option value="19">19</option>
                                                                <option value="20">20</option>
                                                                <option value="21">21</option>
                                                                <option value="22">22</option>
                                                                <option value="23">23</option>
                                                                <option value="24">24</option>
                                                                <option value="25">25</option>
                                                            </select>
                                                            <div class="remove" ng-click="RemoveCartItem(itm.productID,key)" style="margin-left: 12px;">Remove</div>
                                                             <div class="price" style="margin-top: -10px;">PKR {{itm.price * itm.quantity}}</div>
                                                        </div>
                                                    
                                                       

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clr">
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="js-hotDeals">
                            <div id="hotDealsInColumn" class="sidebarBox">
                                <div ng-repeat="collection in ListCollection | CustomFilter:{frontPage:false}">
                                   
                                        <h2 class="sectionHeading" ng-if="collection.collectionName == 'Hot-Deals'">
                                            <span>{{collection.collectionName}}</span>
                                        </h2>
                                    
                                </div>
                                <div class="content" >
                                    <ul class="genericList border" ng-repeat="products in ListProduct | CustomFilter:{collection:'Hot-Deals'}">
                                        <li><a href="collections/hot-deals">{{products.productName}}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="clr">
                        
                    </div>
                </div>
            </div>
            <!-- Pan Upsell Pop-up for N6 -->
        </div>
    </div>


