<div class="row clearfix" ng-init="init()">
            <div class="col-md-12 column">
              <div class="row" ng-repeat="collection in ListCollection | CustomFilter:{frontPage:false}">
              <!--ng-show="(collection.collectionName != 'Frontpage') && ListProduct | CustomFilter:{collection:routeParam}"-->
              <div class="col-lg-12" ng-if="routeParam == collection.collectionUrl || routeParam == 'all'">
                    <h3>{{collection.collectionName}}</h3>
                </div>
                <div ng-if="ListProduct">
                <div class="col-md-4"   ng-repeat="products in ListProduct | CustomFilter:{collection:collection.collectionName} | CustomFilter:{collection:routeParam} | filter:Search | startFrom:startFromPage | limitTo:pageSize">
                  <div class="thumbnail">
                    <a href="./product/{{products.productName}}"><img alt="300x200" src="{{products.productImage[0].Image}}"></a>
                    <div class="caption">
                      <h4>
                        <a href="./product/{{products.productName}}">{{products.productName}}</a></h4>
                        <span><strong>Type</strong> : {{products.ProductTypeName}}</span><br />
                       <span><strong>Vendor</strong> : {{products.ProductVendorName}}</span>
                     <h5>(Rs {{products.productPrice}}) <span><strike>(Rs {{products.productPriceCompare}})</strike></span></h5>
                       
                      <p>
                        <a class="btn btn-primary" href="javascript:void(0)" ng-click="addToCart(products.id,products)">
                          Add
                        </a>
                        
                        <a class="btn" href="#"></a>
                      </p>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </div>
                </div>
                 <div class="clearfix"></div>
                 <div style="float:right;" ng-if="$index == 0 && ListProduct && routeParam != 'all'" >
              		<div ng-init="numberOfPages(ListProduct,{collection:routeParam})">
                      <button ng-disabled="startFromPage == 0" ng-click="previousPage()">Previous</button>
                        <button ng-disabled="startFromPage + 1 == returnPages(TotalCounts)" ng-click="nextPage()">Next</button>
                        {{startFromPage + 1}}/{{returnPages(TotalCounts)}}
                    </div>
                </div>
              </div>
            </div>
          </div>