<div id="pageFrame">
    <div id="pageHeader">
        <div id="genericHeader">
            <div class="subNavigation">
                <div id="notch">
                    <img src="https://cache.dominos.com/nolo/us/en/013167/assets/build/images/img/logoNotch.gif" alt="Domino's Pizza">
                </div>
                <a href="/" class="logo">Domino's Pizza</a>
            </div>
        </div>
    </div>
    <div id="pageBody">
        <div id="pageContent">
            <div id="js-pageContent">
                   <div class="popup-body" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none;">
                    <div id="genericOverlay" style="position: absolute; left: 22%; top: 20%;width:55%;">
                        <div class="overlayContent"> <a class="closeButton js-closeButton InfroTextSubmit " data-dismiss="modal" style="top: 43px;right: 45px;">×</a> 

                                            <div id="pageContent">
                                                <form role="form" id="InfroText">
                                                    <div class="formArea horizontal">
                                                        <div class="pageBox border-pop">

                                                            <h3><b>You can Edit your order details Here.</b>
                                                            </h3>
                                                        <div class="formEntry" style="margin-top: 18px;">
                                                                <label for="City" class="entryLabel">
                                                                    <strong>*</strong>Payment Type:</label>
                                                                <div class="entryGroup">
                                        
                                                                    <select ng-change="UpdatePaymentMethod(PaymentMethod);SetLocalStorageGlobal(PaymentMethod,'Payment');" id="paymenttype" 
                                                                     ng-options="payment.name as payment.name for payment in ListPaymentMethod"  style="width:199px;" ng-model="PaymentMethod" required>
                                                                        <option value="">Select Payment Type</option>
                                                                       
                                                                    </select>

                                                                    <span class="hide help-inline" style="display:none;color: #fa001f;font-weight: 700;padding-left: 10px;">Payment Type is required</span>

                                                               </div>
                                                            </div>

                                                            <div class="js-otherAddress none" style="display: block;">


                                                                <div class="formEntry" style="margin-top: 18px;">
                                                                    <label for="City" class="entryLabel">
                                                                        <strong>*</strong>City:</label>
                                                                    <div class="entryGroup">
                                                                        <select  ng-change="UpdateCountryName(User.info.CountryName);SetLocalStorageGlobal(User.info.CountryName,'City');" id="citytype" ng-options="Shipping as Shipping for Shipping in returnShippingCountry()" required name="city" class="mini js-region" style="width: 200px;" ng-model="User.info.CountryName">
                                                                            <option value="">Select City</option>
                                                                            
                                                                        
                                                                        </select>

                                                                        <span class="hide city-inline" style="display:none;color: #fa001f;font-weight: 700;padding-left: 10px;">City is required</span>
                                                                        
                                                                    </div>
                                                                </div>
                                                                <div class="formEntry" style="margin-top: 18px;">
                                                                    <label for="locality" class="entryLabel">
                                                                        <strong>*</strong>Locality:</label>
                                                                    <div class="entryGroup">
                                                                        <select ng-change="UpdateLocalityName(User.info.LocalityName);SetLocalStorageGlobal(User.info.LocalityName,'Locality');" id="localitytype" ng-options="Shipping as Shipping for Shipping in returnShippingLocality()" required name="locality" class="mini js-region" style="width: 200px;" ng-model="User.info.LocalityName">
                                                                            <option value="">Select Locality</option>
                                                                            
                                                                        </select>
                                                                        <span class="hide help-inline" style="display:none;color: #fa001f;font-weight: 700;padding-left: 10px;">Locality is required</span>
                                                                    </div>
                                                                </div>
                                                                <div class="formEntry" style="margin-top: 18px;">
                                                                    <label for="locality" class="entryLabel">
                                                                        <strong>*</strong>Area Name:</label>
                                                                    <div class="entryGroup">
                                                                        <select ng-change="UpdateAreaName(User.info.AreaName);SetLocalStorageGlobal(User.info.AreaName,'Area');" id="areatype" ng-options="Shipping as Shipping for Shipping in returnShippingArea()" required name="locality" class="mini js-region" style="width: 200px;" ng-model="User.info.AreaName">
                                                                            <option value="">Select Area</option>
                                                                           
                                                                        </select>

                                                                        <span class="hide help-inline" style="display:none;color: #fa001f;font-weight: 700;padding-left: 10px;">Area is required</span>
                                                                    </div>
                                                                </div>
                                                                <div class="formEntry" style="margin-top: 18px;">
                                                                    <label for="outlet" class="entryLabel">
                                                                        <strong>*</strong>Outlet Name:</label>
                                                                    <div class="entryGroup">
                                                                        <select ng-change="UpdateoutletName(User.info.outletName);SetLocalStorageGlobal(User.info.outletName,'Outlet');"  id="outlettype" ng-options="Shipping as Shipping for Shipping in returnShippingOutlet()" required name="outlet" class="mini js-region" style="width: 200px;" ng-model="User.info.outletName">
                                                                            <option value="">Select Outlet</option>
                                                                            
                                                                        </select>

                                                                        <span class="hide help-inline" style="display:none;color: #fa001f;font-weight: 700;padding-left: 10px;">Outlet is required</span>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="formEntry actions right">


                                                                <button data-dismiss="modal" class="InfroTextSubmit" class="btn btnLarge" title="Click here to save your order details" style="width:132px;float: right;margin-right: 20px;">Save
                                                                </button>
                                                                
                                                            </div>
                                                        </div>

                                                    </div>
                                                </form>
                                                <div class="clr">
                                                    <!--  -->
                                                </div>
                                            </div>
                                        </div>
                                    </div> 
                                    </div> 
                <div id="orderPaymentPage">

                    <form class="js-paymentForm" role="form" ng-submit="SubmitOrder(PaymentMethod,'/thankyou')">
                        <p class="informationText informationNotification">Please review your order below, choose a payment type, then click "Place Your Order".</p>
                        <div class="detailsSection">
                            <h2 class="sectionHeading">Order Settings</h2>
                            <div class="pageBox detailBox">
                                <div class="detailItems">
                                    <div class="entryGroup iconsTemplate serviceType js-changeServiceType">
                                        <label class="squareIcon Delivery" style="margin-top: 10px;">
                                        </label>
                                    </div>
                        
                                    
                                    <p class="detailItem js-isCarryoutOrder">
                                        <strong style="margin-left: 19px;text-transform:none;">By Domino's</strong><span class="edit" data-toggle="modal" data-target="#myModal">Edit your details</span>
                                        <br>
                                       
                                        <span  style="margin-left: 19px;display:inline-block;margin-top:4px;">{{User.info.outletName}}</span>

                                      
                                        <span style="margin-left: 74px;display: block;margin-top: 4px;color:#fa001f;">{{PaymentMethod}}</span></p>
                                </div>
                            </div>
                            <h2 class="sectionHeading">Your Information</h2>
                            <div class="pageBox">
                                <div class="formArea horizontal personalForm js-personalForm">
                                    <div class="formEntry">
                                        <label for="First_Name" class="entryLabel">
                                            <strong>*</strong>First Name:</label>
                                        <div class="entryGroup">
                                            <input type="text" pattern="^[a-zA-Z]+$"  title="Enter First Name" ng-model="Customer.FirstName" placeholder="Enter First Name" id="First_Name" name="First_Name" maxlength="40" class="medium" required>
                                        </div>

                                    </div>
                                    <div class="formEntry">
                                        <label for="First_Name" class="entryLabel">
                                            <strong>*</strong>Last Name:</label>
                                        <div class="entryGroup">
                                            <input type="text"  pattern="^[a-zA-Z]+$"  title="Enter Last Name" ng-model="Customer.LastName" placeholder="Enter Last Name" id="First_Name" name="First_Name" maxlength="40" class="medium" required>
                                        </div>
                                    </div>
                                    <div class="formEntry">
                                        <label for="Email" class="entryLabel">
                                            <strong>*</strong>Email Address:</label>
                                        <div class="entryGroup">
                                            <input ng-model="Customer.Email" placeholder="Enter Email Address" required type="email" id="Email" name="Email" maxlength="100" class="medium js-email">
                                        </div>
                                    </div>
                                    <div class="formEntry">
                                        <label for="First_Name" class="entryLabel">
                                            <strong>*</strong>Callback Phone #:</label>
                                        <div class="entryGroup">
                                            <input type="tel" pattern="[0-9]{11}" title="Eleven Digit Number" ng-model="Customer.Phone" placeholder="Enter Phone #" id="First_Name" name="First_Name" maxlength="40" class="medium" required>
                                        </div>
                                    </div>
                                    <div class="formEntry" ng-if="PaymentMethod != 'Take Away'">
                                        <label for="Last_Name" class="entryLabel">
                                            <strong>*</strong>Shipping Address</label>
                                        <div class="entryGroup">
                                            <textarea rows="3" cols="26" ng-model="Customer.Address" placeholder="Enter  Address" required>
                                            </textarea>
                                        </div>
                                    </div>
                                    <div class="formEntry"  ng-if="PaymentMethod != 'Take Away'">
                                        <label for="Phone" alt="required" class="entryLabel">
                                            <strong>*</strong>Country:</label>
                                        <div class="entryGroup">
                                            <select ng-model="Customer.Country" id="customer-address-province-0" class="form-control" data-event-change="resetProvince" data-addclass-error="customer.errors.addresses.first.country_code.length"  style="width: 229px;" required>
                                                <option value="">
                                                    Please Select
                                                </option>
                                                <option data-bind="key.name" data-bind-value="key.code" value="PK">
                                                    Pakistan
                                                </option>
                                                
                                            </select>

                                        </div>
                                    </div>
                                    <div class="formEntry"  ng-if="PaymentMethod != 'Take Away'">
                                        <label for="Phone" alt="required" class="entryLabel">
                                            <strong>*</strong>City:</label>
                                        <div class="entryGroup">
                                            
                                            <select ng-model="Customer.City" id="customer-address-province-0" class="form-control" data-event-change="resetProvince" data-addclass-error="customer.errors.addresses.first.country_code.length"  style="width: 229px;" required>
                                                <option value="">
                                                    Please Select
                                                </option>
                                                <option data-bind="key.name" data-bind-value="key.code" value="Lhr">
                                                   Lahore
                                                </option>

                                                <option data-bind="key.name" data-bind-value="key.code" value="Khi">
                                                   Karachi
                                                </option>
                                                <option data-bind="key.name" data-bind-value="key.code" value="Isl">
                                                   Islamabad
                                                </option>
                                                <option data-bind="key.name" data-bind-value="key.code" value="Rwl">
                                                   Rawalpindi
                                                </option>                                                
                                            </select>
                                        </div>
                                    </div>
                                    <div class="formEntry"  ng-if="PaymentMethod != 'Take Away'">
                                        <label for="Phone" alt="required" class="entryLabel">
                                            <strong>*</strong>Postal/Zip Code:</label>
                                        <div class="entryGroup">
                                            <input type="tel" id="Phone" ng-model="Customer.PostCode"  name="Phone" maxlength="40" placeholder="Enter Postal Code" class="small js-phone" value="" required>

                                        </div>
                                    </div>

                                    <div ng-if="!ListPaymentGateways.same_billing_and_shipping_address">
                                        <div class="formEntry" ng-if="PaymentMethod != 'Take Away'">
                                            <label class="entryLabel">
                                                <h1 style="font-weight: bold;margin-top: -2px;">Billing Address</h1>
                                            </label>

                                            <span style="font-weight: bold;display: block;padding-bottom: 6px;">
                                                <input type="checkbox" ng-model="Customer.SameBilling" class="checkbox js-agreeToTerms" />Same as Shipping Address</span>
                                        </div>
                                        <div  class="formEntry" ng-if="!Customer.SameBilling">

                                            <label class="entryLabel" ng-if="PaymentMethod != 'Take Away'">
                                                <strong>*</strong>Phone</label>
                                            <div class="entryGroup" ng-if="PaymentMethod != 'Take Away'">
                                                <input ng-model="Customer.PhoneBilling" placeholder="Enter Phone no" type="tel" pattern="[0-9]{11}" class="small js-phone" required/>
                                            </div>
                                        </div>
                                        <div class="formEntry" ng-if="!Customer.SameBilling">

                                            <label class="entryLabel" ng-if="PaymentMethod != 'Take Away'" >
                                                <strong>*</strong>City</label>
                                            <div class="entryGroup" ng-if="PaymentMethod != 'Take Away'" >
                                                

                                                <select ng-model="Customer.CityBilling" id="customer-address-province-0" class="form-control" data-event-change="resetProvince" data-addclass-error="customer.errors.addresses.first.country_code.length"  style="width: 229px;" required>
                                                <option value="">
                                                    Please Select
                                                </option>
                                                <option data-bind="key.name" data-bind-value="key.code" value="Lhr">
                                                   Lahore
                                                </option>

                                                <option data-bind="key.name" data-bind-value="key.code" value="Khi">
                                                   Karachi
                                                </option>
                                                <option data-bind="key.name" data-bind-value="key.code" value="Isl">
                                                   Islamabad
                                                </option>
                                                <option data-bind="key.name" data-bind-value="key.code" value="Rwl">
                                                   Rawalpindi
                                                </option>                                                
                                            </select>
                                            </div>
                                        </div>
                                        
                                        <div  class="formEntry" ng-if="!Customer.SameBilling">
                                            <label class="entryLabel" ng-if="PaymentMethod != 'Take Away'">
                                                <strong>*</strong>Billing Address</label>
                                            <div class="entryGroup" ng-if="PaymentMethod != 'Take Away'">
                                                <textarea rows="3" cols="26" ng-model="Customer.AddressBilling" placeholder="Enter Shipping Address" required>
                                                </textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="formEntry entryGroup leftAlign">
                                        <label for="Agree_To_Terms_Of_Use" class="entryToggle">
                                            <input type="checkbox" class="checkbox js-agreeToTerms" id="Agree_To_Terms_Of_Use" name="Agree_To_Terms_Of_Use" required>
                                            <strong>*</strong>Yes. I agree to the <a class="js-isContentPopup" href="page/privacy">Terms of Use</a> and I am 13 or older</label>
                                    </div>
                                    <div class="formEntry entryGroup leftAlign js-requiredFieldsText">
                                        <div class="requiredFieldsText">
                                            <strong>*</strong>
                                            <span>Indicates required field.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="summarySection" class="table">
                                <h2 class="sectionHeading">Order Summary</h2>
                                <div class="pageBox">
                                    <div class="orderSummaryContent">
                                        <table class="fullLineItem" cellpadding="0" cellspacing="0">
                                            <tbody>
                                                <tr>
                                                    <td class="itemHeader" style="width: 178px;">Item</td>
                                                    <td class="itemHeader qty">Quantity</td>
                                                    <td class="itemHeader price">Price</td>
                                                </tr>
                                            </tbody>
                                        </table>

                                        <table class="fullLineItem" cellpadding="0" cellspacing="0" ng-show="IfCart()">
                                            <tbody ng-repeat="(keyMain,Itemss) in Cart track by $index">
                                                <tr ng-show="Itemss.productID">
                                                    <td style="display:inline-block;width:60%;">
                                                        <h3>{{Itemss.productInfo.productName}}</h3>
                                                    </td>
                                                    <td class="qty">
                                                        <input style="width:40px;float: left;" ng-change="changeQuantity()" ng-model="Itemss.quantity">
                                                    </td>
                                                    <td class="price" style="font-size:11px;">{{Itemss.price * Itemss.quantity  | currency:"PKR "}}</td>
                                                </tr>
                                                <tr ng-hide="Itemss.productID" ng-repeat="(key,itm) in Itemss track by $index">
                                                    <td style="display:inline-block;width:60%;">
                                                        <h3>{{itm.productInfo.productName}} {{key}}</h3>
                                                    </td>
                                                    <td class="qty">
                                                        <input style="width:40px;float: left;" ng-change="changeQuantity()" ng-model="itm.quantity">
                                                    </td>
                                                    <td class="price" style="font-size:11px;">{{itm.price * itm.quantity  | currency:"PKR "}}</td>
                                                </tr>
                                            </tbody>
                                        </table> <a href="collections/all" class="btn btnSmall btnSecondary changeOrderButton">Change Your Order</a> 
                                        <table cellpadding="0" cellspacing="0" class="orderTotals">
                                            <tbody>
                                                <tr ng-if="SettingsShippingCountry[0].TaxRate">
                                                    <td class="finalizedTotal name">Total:</td>
                                                    <td class="finalizedTotal js-total">{{ReturnTotal()-ReturnTaxPrice() | currency:"PKR "}}</td>
                                                </tr>
                                                <tr ng-if="SettingsShippingCountry[0].TaxRate">
                                                    <td class="finalizedTotal name">Taxes:</td>
                                                    <td class="finalizedTotal js-total">{{ReturnTaxPrice()| currency:"PKR " }}</td>
                                                </tr>
                                                <tr>
                                                    <td class="finalizedTotal name">Total:</td>
                                                    <td class="finalizedTotal js-total">{{ReturnTotal() | currency:"PKR "}}</td>
                                                </tr>
                                            </tbody>
                                        </table>

                                        <h6 ng-hide="IfCart()" align="center" style="float: left;margin-left: -120px;margin-top: 12px;color: #fa001f;font-weight: 700;font-size: 15px;">No Item Found</h6>
                                        <div class="clr">
                                            <!-- -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clr">
                                <!-- -->
                            </div>

                            <button ng-if="IfCart()" class="btn btnLarge submitButton qa-PcpBu js-placeOrder" type="submit">Place Your Order</button><img ng-if="StartSubmitOrder" src="{{BaseUrl}}img/theme/wait.gif" style="float: right;margin-top: 16px;margin-right: 14px;">
                        </div>
                        <div class="clr">
                            <!-- -->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('.InfroTextSubmit').click(function(){
    
    

    if ($('#citytype').val()==="") {
      // invalid
      $('#citytype').next('.city-inline').show();
      return false;
    }
    else {
      // submit the form here
      // $('#InfroText').submit();
      $('#citytype').next('.city-inline').hide();
      return true;
    }


    });

    $('.InfroTextSubmit').click(function(){
   
    if ($('#paymenttype').val()==="") {
      // invalid
      $('#paymenttype').next('.help-inline').show();
      return false;
    }
    else {
      // submit the form here
      // $('#InfroText').submit();
      $('#paymenttype').next('.help-inline').hide();
      return true;
    }
});

    $('.InfroTextSubmit').click(function(){
   
    if ($('#localitytype').val()==="") {
      // invalid
      $('#localitytype').next('.help-inline').show();
      return false;
    }
    else {
      // submit the form here
      // $('#InfroText').submit();
      $('#localitytype').next('.help-inline').hide();
      return true;
    }
});

    $('.InfroTextSubmit').click(function(){
   
    if ($('#areatype').val()==="") {
      // invalid
      $('#areatype').next('.help-inline').show();
      return false;
    }
    else {
      // submit the form here
      // $('#InfroText').submit();
      $('#areatype').next('.help-inline').hide();
      return true;
    }
});

    $('.InfroTextSubmit').click(function(){
   
    if ($('#outlettype').val()==="") {
      // invalid
      $('#outlettype').next('.help-inline').show();
      return false;
    }
    else {
      // submit the form here
      // $('#InfroText').submit();
      $('#outlettype').next('.help-inline').hide();
      return true;
    }
});

</script>


</script>
