<link href="./css/theme/homepage.css" rel="stylesheet">
<!-- <div class="row clearfix">
    <div class="col-md-12 column">
        <div class="row" ng-repeat="collection in ListCollection" ng-show="(collection.collectionName != 'Frontpage') && ListProduct | CustomFilter:{collection:'Frontpage'} | CustomFilter:{collection:collection.collectionName}">

            <div class="col-lg-12">
                <h3>{{collection.collectionName}}</h3>
            </div>
            <div class="col-md-4" ng-repeat="products in ListProduct | CustomFilter:{collection:'Frontpage'} | CustomFilter:{collection:collection.collectionName} | filter:Search">
                <div class="thumbnail">
                    <a href="./product/{{products.productName}}">
                        <img alt="300x200" src="{{products.productImage[0].Image}}">
                    </a>
                    <div class="caption">
                        <h4>
                            <a href="./product/{{products.productName}}">
                                                {{products.productName}}
                                    </a>
                        </h4>
                        <h5>(Rs {{products.productPrice}})
                            <span>
                                <strike>(Rs {{products.productPriceCompare}})</strike>
                            </span>
                        </h5>

                        <p>
                            <a class="btn btn-primary" href="javascript:void(0)" ng-click="addToCart(products.id,products)">
                                      Add
                                    </a>

                            <a class="btn" href="#"></a>
                        </p>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>


    </div>
</div> -->


<div id="pageFrame">
    <div id="genericheader">
        <div class="subNavigation">
            <a href="/" class="logo">Domino's Pizza</a>
        </div>
    </div>
    <div id="pageBody">
        <div id="pageContent">
            <div id="homeWrapper">
                <!--mp_trans_remove_start-->
                <div id="homePage" class="generalMarket" style="display: block;">


                    <div id="sectionMain">
                        <!-- SectionMain -->
                        <div class="hero js-hero js-panPizza-hero panPizza-hero">
                            <a class="buttonContainer couponCode" href="page/order" data-wt-panelnumber="1" data-wt-panelname="799panPizza" data-couponcode="9184">
                                <div id="heroCTA" class="btn btnBounce btnShimmer btnFlat js-CTA">Order Online</div>

                            </a>
                        </div>

                    </div>
                    <!-- Closes SectionMain -->
                    <div id="asideMain" class="" style="display: block;">
                        <!-- AsideMain -->
                        <ul>
                            <li id="mixnMatch" class="js-599mixnmatch js-ignore" style="display: list-item;">
                                <a href="page/order" data-wt-panelnumber="2" data-wt-panelname="599mixmatch" data-couponcode="9193" style="<!-- background:url('{{products.productImage[0].Image}}') -->">

                                    <div id="mixnMatchCTA" class="btn btnBounce btnShimmer js-CTA">Order Online</div>
                                </a>
                            </li>
                            <li id="fiftyPercentOff" class="js-50off top" style="display: list-item;">
                                <a class="couponCode" href="page/order" data-wt-panelnumber="3" data-wt-panelname="50off" data-couponcode="9413" style="<!-- background:url('{{products.productImage[0].Image}}') -->">

                                    <div id="fiftyPercentOffCTA" class="btn btnBounce btnShimmer js-CTA">Order Online</div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- Closes AsideMain -->
                </div>
            </div>
            <!-- Pan Upsell Pop-up for N6 -->
            <!-- St. Jude Pop-up -->
        </div>
    </div>
</div>
