<link href="{{BaseUrl}}css/theme/homepage.css" rel="stylesheet">

<div id="pageFrame">
    <div id="genericheader">
        <div class="subNavigation">
            <a href="/" class="logo">Domino's Pizza</a>
        </div>
    </div>
    <div id="pageBody">
        <div id="pageContent">
            <div id="homeWrapper">
                <!--mp_trans_remove_start-->
                <div id="homePage" class="generalMarket" style="display: block;">


                    <div id="sectionMain">
                        <!-- SectionMain -->
                        <div class="hero js-hero js-panPizza-hero panPizza-hero" style="background: url('{{ThemeSettings.theme_settings.slide_1_img}}') no-repeat 0 0;" alt="ThemeSettings.theme_settings.slide_1_alt">
                            <a class="buttonContainer couponCode" href="{{ThemeSettings.theme_settings.slide_1_link}}" data-wt-panelnumber="1" data-wt-panelname="799panPizza" data-couponcode="9184">
                                <div id="heroCTA" class="btn btnBounce btnShimmer btnFlat js-CTA">Order Online</div>
                                   
                            </a>
                        </div>

                    </div>
                    <!-- Closes SectionMain -->
                    <div id="asideMain" class="" style="display: block;">
                        <!-- AsideMain -->
                        <ul>
                            <li id="mixnMatch" class="js-599mixnmatch js-ignore" style="display: list-item;">
                                <a href="{{ThemeSettings.theme_settings.slide_2_link}}" data-wt-panelnumber="2" data-wt-panelname="599mixmatch" data-couponcode="9193" style="background: url('{{ThemeSettings.theme_settings.slide_2_img}}') no-repeat 0 0;" alt="ThemeSettings.theme_settings.slide_2_alt">

                                    <div id="mixnMatchCTA" class="btn btnBounce btnShimmer js-CTA">Order Online</div>
                                </a>
                            </li>
                            <li id="fiftyPercentOff" class="js-50off top" style="display: list-item;">
                                <a class="couponCode" href="{{ThemeSettings.theme_settings.slide_3_link}}" data-wt-panelnumber="3" data-wt-panelname="50off" data-couponcode="9413" style="background: url('{{ThemeSettings.theme_settings.slide_3_img}}') no-repeat 0 0;" alt="ThemeSettings.theme_settings.slide_3_alt">

                                    <div id="fiftyPercentOffCTA" class="btn btnBounce btnShimmer js-CTA">Order Online</div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- Closes AsideMain -->

                    <div id="footerMain">
                        <ul>
                            <li id="pizzaMakersBottom" class="js-pizzaMakers-bottom footerTile" style="display:list-item;">
                                <a href="javascript:void(0)"  data-wt-panelnumber="1" data-wt-panelname="pizzaMakers" data-couponcode="">
                                    <h2>There's More To Domino's Pizza Makers Than You Think.</h2>
                                    <div id="pizzaMakersBottomCTA" class="btn btnBounce btnShimmer js-mBoxOOSwap js-CTA">See More</div>
                                </a>
                            </li>

                            <li id="profileCreateBottom" class="js-newprofile-footer footerTile none">
                                <a href="javascript:void(0)" data-wt-panelnumber="4" data-wt-panelname="newprofile" data-couponcode="">
                                    <h1>Order Online in as little as 5 clicks</h1>
                                    <h2>Create a Pizza Profile.</h2>
                                    <h2>Place an order.</h2>
                                    <h2>Order it again next time faster than ever.</h2>
                                    <div id="profileCreateBottomCTA" class="btn btnBounce btnShimmer js-CTA">Create Profile</div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Pan Upsell Pop-up for N6 -->
            <!-- St. Jude Pop-up -->
        </div>
    </div>
</div>
