<div id="pageFrame">
    <div id="pageHeader">
        <div id="genericHeader">
            <div class="subNavigation">
                <div id="notch">
                    <img src="https://cache.dominos.com/nolo/us/en/013167/assets/build/images/img/logoNotch.gif" alt="Domino's Pizza" />
                </div>
                <a href="/" class="logo">Domino's Pizza</a>
            </div>
        </div>
    </div>

    <div id="pageBody">
        <div id="pageContent">
            <div id="js-splitFrame" class="w100 none" style="display: block;">
                <div id="js-pageSplit" class="pageLeftColumn">
                    <div id="locationsSearchPage">
                        <h1 class="sectionHeading">
                            <span>Address Information</span>
                    </div>
                    </h1>
                    <form ng-submit="postproduct(); addressGiven();">
                        <div class="formArea horizontal">
                            <div class="pageBox">
                            
                                <h3><b>We just need to know where you are so we can find your nearest store.</b>
                                </h3>

                                <!-- <div class="formEntry">
                                    <div class="entryGroup iconsTemplate serviceType js-changeServiceType">
                                        <label class="squareIcon" ng-repeat="payment in ListPaymentMethod">
                                            <input type="radio" required  name="service" class="servicedeliver"  ng-model="ServiceType" style="width: 4px;" value="{{payment.name}}" ng-class="{active :'value'}" ng-click="value = true">{{payment.name}}
                                        </label>
                                        <div class="clr">
                                            
                                        </div>

                                    </div>
                                </div> -->
                                <div class="formEntry" style="margin-top: 18px;">
                                        <label for="City" class="entryLabel">
                                            <strong>*</strong>Payment Type:</label>
                                        <div class="entryGroup">
                                            <select  id="Payment" style="width:199px;" ng-model="PaymentMethod" required>
                                                <option value="">Select Payment Type</option>
                                                <option value="{{payment.name}}" ng-repeat="payment in ListPaymentMethod" >
                                                    {{payment.name}}
                                                </option>
                                            </select>
                                            <!-- <h3>{{CountryName}}</h3> -->
                                        </div>
                                    </div>
                                
                                 <div class="js-otherAddress none" style="display: block;">


                                    <div class="formEntry"  style="margin-top: 18px;">
                                        <label for="City" class="entryLabel">
                                            <strong>*</strong>City:</label>
                                        <div class="entryGroup">
                                            <select id="City" required name="city" class="mini js-region" style="width: 200px;" ng-model="CountryName">
                                                <option value="">Select City</option>
                                                <option ng-repeat="Shipping in returnShippingCountry()" value="{{Shipping}}">{{Shipping}}</option>

                                            </select>
                                            <!-- <h3>{{CountryName}}</h3> -->
                                        </div>
                                    </div>
                                    <div class="formEntry"  style="margin-top: 18px;">
                                        <label for="locality" class="entryLabel">
                                            <strong>*</strong>Locality:</label>
                                        <div class="entryGroup">
                                            <select id="Locality" required name="locality" class="mini js-region" style="width: 200px;" ng-model="LocalityName">
                                                <option value="">Select Locality</option>
                                                <option  ng-repeat ="Shipping in returnShippingLocality()" value="{{Shipping}}">{{Shipping}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="formEntry"  style="margin-top: 18px;">
                                        <label for="locality" class="entryLabel">
                                            <strong>*</strong>Area Name:</label>
                                        <div class="entryGroup">
                                            <select id="Area" required name="locality" class="mini js-region" style="width: 200px;" ng-model="AreaName">
                                                <option value="">Select Area</option>
                                                <option value="{{Shipping}}" ng-repeat="Shipping in returnShippingArea()">{{Shipping}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="formEntry"  style="margin-top: 18px;">
                                        <label for="outlet" class="entryLabel">
                                            <strong>*</strong>Outlet Name:</label>
                                        <div class="entryGroup">
                                            <select id="Outlet" required name="outlet" class="mini js-region" style="width: 200px;" ng-model="outletName">
                                                <option value="">Select Outlet</option>
                                                <option value="{{Shipping}}" ng-repeat="Shipping in returnShippingOutlet()">{{Shipping}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="formEntry actions right">
                                <div class="requiredFieldsText">
                                    <strong>*</strong>
                                    <span>Indicates required field.</span>
                                </div>

                                <button class="btn btnLarge" type="submit" title="Click here to go to menu">Continue
                                </button>
                                <div class="clr">
                                    <!-- -->
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="pageRightColumn" style="margin-top: 0px;">
                <!--  -->
                <div id="js-myOrderPage"></div>
                <div id="js-sidePromo">
                    <!--  -->
                </div>
                <div id="js-hotDeals">
                    <!--  -->
                </div>
                <div id="js-myProfilePage">
                    <div id="orderDetailsInColumn" class="sidebarBox">
                        <h2 class="sectionHeading">
                            <span>Order Settings</span>
                        </h2>
                        <div class="content">
                            <h3 ng-if="!PaymentMethod" class="dominosColororder">Service Type
                            </h3>
                             <h3 ng-if="PaymentMethod" class="dominosColorok">Service Type<img src="{{BaseUrl}}img/theme/tick.png" style="width: 12px;padding-left: 2px;">
                            </h3>
                            <ul class="genericList qa-Mystore">
                                <li>{{PaymentMethod}}</li>
                                <li ng-if="!PaymentMethod">Not Selected</li>
                            </ul>
                            <div class="divider">
                            </div>
                            <h3 ng-if="!CountryName" class="dominosColororder">My City
                            </h3>
                            <h3 ng-if="CountryName"  class="dominosColorok">My City<img src="{{BaseUrl}}img/theme/tick.png" style="width: 12px;padding-left: 2px;">
                            </h3>
                            <ul class="genericList qa-MyLoc">
                                <li>{{CountryName}}</li>
                                <li ng-if="!CountryName">Not Selected</li>
                            </ul>
                            <div class="divider">
                                <!-- -->
                            </div>
                           
                            <h3 ng-if="!LocalityName" class="dominosColororder">My Location
                            </h3>
                            <h3 ng-if="LocalityName" class="dominoscolorok">My Location<img src="{{BaseUrl}}img/theme/tick.png" style="width: 12px;padding-left: 2px;">
                            </h3>
                            <ul class="genericList qa-MyLoc">
                                <li>{{LocalityName}}</li>
                                <li ng-if="!LocalityName">Not Selected</li>
                            </ul>
                             <div class="divider">
                                <!-- -->
                            </div>
                             <h3 ng-if="!AreaName" class="dominosColororder">My Area
                            </h3>
                            <h3  ng-if="AreaName" class="dominoscolorok">My Area<img src="{{BaseUrl}}img/theme/tick.png" style="width: 12px;padding-left: 2px;">
                            </h3>
                            <ul class="genericList qa-MyLoc">
                                <li>{{AreaName}}</li>
                                <li ng-if="!AreaName">Not Selected</li>
                            </ul>
                             <div class="divider">
                                <!-- -->
                            </div>
                            <h3 ng-if="!outletName" class="dominosColororder">My Outlet
                            </h3>
                            <h3 ng-if="outletName" class="dominoscolorok">My Outlet<img src="{{BaseUrl}}img/theme/tick.png" style="width: 12px;padding-left: 2px;">
                            </h3>
                            <ul class="genericList qa-MyLoc">
                                <li>{{outletName}}</li>
                                <li ng-if="!outletName">Not Selected</li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
            <div class="clr">
                <!--  -->
            </div>
        </div>
    </div>
</div>
</div>

<script>
$(document).ready(function() {

    $('#City').on('change', function() {
        localStorage.setItem('City', $('#City').val());
    });
    $('#Locality').on('change', function() {
        localStorage.setItem('Locality', $('#Locality').val());
    });
    $('#Outlet').on('change', function() {
        localStorage.setItem('Outlet', $('#Outlet').val());
    });

    $('#Payment').on('change', function() {
        localStorage.setItem('Pay', $('#Payment').val());
    });
    $('#Area').on('change', function() {
        localStorage.setItem('Area', $('#Area').val());
    });
    

    /*$(".squareIcon").click(function() {
        $(".squareIcon").removeClass("active");
        $(this).addClass("active");

    });*/

    

});
</script>
