<div class="row clearfix">
		<div class="col-md-12 column" ng-repeat="product in ListProduct | CustomFilter:{productName : routeParam}">
			<h3>
				{{product.productName}}
			</h3>
            <form name="addtoCart" ng-submit="addToCart(product.id,product)">
                  <input class="input input-small"  min='1' ng-model="product.productQuantity" type="number" >
                  <div ng-if="product.productMultiOptions">
                      <div class="section_attribute" style="width:100px;"  ng-repeat="valueSize in product.productMultiOptionsList">
                        <select required ng-model="product.productVarientModel[valueSize.name]" name="color" style="width:150px;margin:10px 0;" >
                           <option  value=""> Select {{valueSize.name}} </option>
                          <option ng-repeat="parms in valueSize.value" value="{{parms}}">
                            {{parms}} 
                          </option>
                        </select>
                      </div>
                  </div>
                  <input type="submit" value="Add" name="submit" />
              </form>
			<hr />
            <div class="row clearfix">
				<div class="col-md-6 column">
					<!--<div class="carousel slide" id="carousel-462309">
						
						<div class="carousel-inner">
							<div class="item" ng-repeat="ProdImage in product.productImage">
                            <h1>{{ProdImage}}</h1>
								<img alt="" src="{{ProdImage.Image}}" />
							</div>
						</div> <a class="left carousel-control" href="#carousel-462309" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-462309" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
					</div>-->
                    
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                      <!-- Indicators -->
                      <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" ng-class="{active:$index == 0}" data-slide-to="{{$index}}" ng-repeat="ProdImage in product.productImage"></li>
                       </ol>
                    
                      <!-- Wrapper for slides -->
                      <div class="carousel-inner">
                        <div class="item" ng-class="{active:$index == 0}"  ng-repeat="ProdImage in product.productImage">
                        <img alt="" src="{{ProdImage.Image}}" />
                        </div>
                      </div>
                    
                      <!-- Controls -->
                      <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                      </a>
                      <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                      </a>
                    </div>
				</div>
				<div class="col-md-6 column">
					<p ng-bind-html="product.productDescription">
					</p>
				</div>
			</div>
		</div>
	</div>