<div class="content_bg">
	<div id="columns" class="container ">
		<div class="row ">
			<div class="loader_page" ng-repeat="product in ListProduct | CustomFilter:{productName : routeParam}">
				<div id="center_column" class="center_column span9 clearfix">
					<!-- Breadcrumb -->
					<div class="breadcrumb">
						<div class="breadcrumb_inset">
							<a class="breadcrumb-home" href="/" title="Return to Home"><i class="icon-home"></i></a>
							<span class="navigation-pipe">&gt;</span>
							<a href="" title="">Products</a>
							<span class="navigation-pipe">&gt;</span>{{product.productName}}
						</div>
					</div>
					<!-- /Breadcrumb -->
					<div id="primary_block" class="clearfix">
						<!--ADD CUSTOM CLOUD ZOOM!!!-->
						<!-- Call quick start function. -->
						<!-- right infos-->
						<div class="row">
							<div id="pb-right-column" class="span4" ng-if="product.productImage[0].Image">
								<h1 class="pb-right-colum-h">{{product.productName}}</h1>
								<!-- product img-->
								<div id="image-block">
									<span id="view_full_size">
										<div id="wrap" style="top:0px;z-index:auto;position:relative;">
											<a href="{{product.productImage[0].Image}}" class = 'cloud-zoom' id='zoom1' rel="adjustX: 10, adjustY:-4, softFocus:true">
												<img id="bigpic" alt="{{product.productName}}" title="{{product.productName}}" src="{{product.productImage[0].Image}}">
											</a>	
										</div>
									</span>
								</div>

								<!-- thumbnails -->
								<div id="views_block">
									<div id="thumbs_list">
										<ul id="thumbs_list_frame" style="width: 380px;">
											<li id="thumbnail_9" ng-if="product.productImage[1].Image">
												<a href="javascript:void(0)"  class="cloud-zoom-gallery" rel="useZoom: 'zoom1', smallImage: '{{product.productImage[1].Image}}' ">
													<img onClick="$('#bigpic').attr('src',$(this).attr('src'));" id="thumb_9" src="{{product.productImage[1].Image}}" alt="">
												</a>
											</li>

											<li id="thumbnail_10" ng-if="product.productImage[2].Image">
												<a href="javascript:void(0)" class="cloud-zoom-gallery" title="" class="cloud-zoom-gallery" rel="useZoom: 'zoom1', smallImage: '{{product.productImage[2].Image}}' ">
													<img onClick="$('#bigpic').attr('src',$(this).attr('src'));" id="thumb_10" src="{{product.productImage[2].Image}}" alt="">
												</a>

											</li>

											<li id="thumbnail_11" ng-if="product.productImage[3].Image">
												<a href="javascript:void(0)" class="cloud-zoom-gallery" title="" class="cloud-zoom-gallery" rel="useZoom: 'zoom1', smallImage: '{{product.productImage[3].Image}}' ">
													<img onClick="$('#bigpic').attr('src',$(this).attr('src'));" id="thumb_11" src="{{product.productImage[3].Image}}" alt="">
												</a>

											</li>

											<li id="thumbnail_12" ng-if="product.productImage[4].Image">
												<a href="javascript:void(0)" class="cloud-zoom-gallery" title="" class="cloud-zoom-gallery" rel="useZoom: 'zoom1', smallImage: '{{product.productImage[4].Image}}' ">
													<img onClick="$('#bigpic').attr('src',$(this).attr('src'));" id="thumb_12" src="{{product.productImage[4].Image}}" alt="">
												</a>

											</li>
										</ul>
									</div>
								</div>

							</div>
							<!-- left infos-->
							<div id="pb-left-column" class="span5">
								<h1>{{product.productName}}</h1>
								<div id="short_description_block">
									<div id="short_description_content" class="rte align_justify">
										<p ng-bind-html="product.productDescription">
									</div>

									<!---->
								</div>



								<!-- add to cart form-->
								<form id="buy_block" action="http://livedemo00.template-help.com/prestashop_44889/index.php?controller=cart" method="post">

									<!-- hidden datas -->
									<p class="hidden">
										<input type="hidden" name="token" value="9c29bdec8c20c2be7b1fc71ed7501cf0">
										<input type="hidden" name="id_product" value="3" id="product_page_product_id">
										<input type="hidden" name="add" value="1">
										<input type="hidden" name="id_product_attribute" id="idCombination" value="">
									</p>

									<div class="content_prices clearfix">
										<!-- prices -->
										<div class="row-2" ng-if="products.productPriceCompare">
											<p id="old_price">
												<span class="price">
													<span id="old_price_display price">{{SettingGeneral.settings.currencies_format}}&nbsp;{{products.productPriceCompare}}</span>
												</span>
											</p>
										</div>
										<div class="row_1" >
											<p class="our_price_display">
												<span id="our_price_display">{{SettingGeneral.settings.currencies_format}}&nbsp;{{product.productPrice}}</span>
											</p>

											<p id="add_to_cart" class="buttons_bottom_block" ng-controller="GlobalCtrl">

												<a class="exclusive button btn_add_cart" href="javascript:void(0)" ng-click="addToCartEffect();addToCart(product.id,product)">
													<span>Add to cart</span>
												</a>
												<input id="add2cartbtn" type="submit" name="Submit" value="Add to cart">
											</p>
											<!-- quantity wanted -->
											<p id="quantity_wanted_p">

												<input type="text" name="qty" id="quantity_wanted" class="text" value="1" size="2" maxlength="3" ng-model="product.productQuantity">
												<label>Quantity:</label>
											</p>
										</div>

										<div class="other-prices">

										</div>
									</div>

									<!--  /Module ProductComments -->

									<p></p>
								</form>
								<link rel="stylesheet" type="text/css" href="http://livedemo00.template-help.com/prestashop_44889/modules/addsharethis/css/addsharethis.css">
								<div class="addsharethis">
										
										<iframe id="twitter-widget-6" scrolling="no" frameborder="0" allowtransparency="true" src="https://platform.twitter.com/widgets/tweet_button.1397165098.html#_=1397739192841&amp;count=horizontal&amp;id=twitter-widget-6&amp;lang=en&amp;original_referer=https%3A%2F%2Fdev.twitter.com%2Fdocs%2Ftweet-button&amp;size=m&amp;text=Tweet%20Button%20%7C%20Twitter%20Developers&amp;url=https%3A%2F%2Fdev.twitter.com%2Fdocs%2Ftweet-button" class="twitter-share-button twitter-tweet-button twitter-count-horizontal" title="Twitter Tweet Button" data-twttr-rendered="true" style="width: 110px; height: 20px;"></iframe>

										<iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;width&amp;layout=button_count&amp;action=like&amp;show_faces=true&amp;share=true&amp;height=21&amp;appId=358436447628477" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:20px; width: 140px;" allowTransparency="true"></iframe>


										<iframe src="https://plusone.google.com/_/+1/fastbutton?bsv&amp;size=medium&amp;hl=en-US&amp;url=http://test.com/&amp;parent=http://test.com/" allowtransparency="true" frameborder="0" scrolling="no" title="share" style="height: 20px; width:75px;"></iframe>

										<!-- Place this tag where you want the share button to render. -->
										<!-- <div class="g-plus" data-action="share" style="width:100px"></div> -->

										<!-- Place this tag after the last share tag. -->
										<!-- <script type="text/javascript">
										  (function() {
										    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
										    po.src = 'https://apis.google.com/js/platform.js';
										    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
										  })();
										</script> -->
								</div>
							</div>
						</div>

					</div>
					<div class="clear"></div>


					<div class="extra-box-product">

						<section class="page_product_box blockproductscategory">
							<h3>more realted products in the same category:
								<span class="icon-toggle"></span>
							</h3>
							<div id="block-category-slider" class="carusel-inner responsive  toggle_content">
								<div class="caroufredsel_wrapper" style="display: block; text-align: left; float: none; position: relative; top: auto; right: auto; bottom: auto; left: auto; z-index: auto; width: 830px; height: 210px; margin: 0px; overflow: hidden;">
									<ul id="carouselproduct" class="carousel-ul" style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; width: 4440px; height: 210px; z-index: auto;">
										<li ng-repeat="products in ListProduct | filter: {productType: product.productType}" class="num-{{$index+1}}">
											<a href="/product/{{products.productName}}" class="lnk_img" title="{{productItem.productName}}">
												<img src="{{products.productImage[0].Image}}" alt="{{products.productName}}">
											</a>
											<a class="product_link" href="/product/{{products.productName}}">
												<div class="title">{{products.productName.slice(0,15)}}
													<span ng-if="products.productName.length > 15">....</span>
												</div>
												<!-- <div class="title3">{{SettingGeneral.settings.currencies_format}}&nbsp;{{products.productPrice}}<i class="icon-circle-arrow-right"></i>
												</div> -->
											</a>
										</li>

									</ul>
								</div>

								<!-- <a class="prev" id="cat_prev" href="javascript:void(0)" style="display: inline;"></a>
								<a class="next" id="cat_next" href="javascript:void(0)" style="display: inline;"></a> -->
							</div>
						</section>

						<script type="text/javascript">
						$(function() {
							// $("#carouselproduct").carouFredSel({
							// 	debug: true,
							// 	circular: true,
							//        infinite: true,
							// 	responsive: true,
							// 	align   : "center",
							// 	width: '100%',
							//     auto	: {
							//    		play	: 1,
							//     	timeoutDuration :15000
							//     },

							//     items	: {

							// 	visible: {
							// 				min: 2,
							// 				max: 6
							// 				 },
							// 				 width:167,

							// 	},		
							// 	scroll	: {
							// 		items	: 1,
							// 		pauseOnHover:false
							// 	},
							// 	prev	: {
							// 		button	: "#cat_prev"
							// 	},
							// 	next	: {
							// 		button	: "#cat_next"
							// 	},
							// 	swipe: {
							// 				onMouse: false,
							// 				onTouch: true
							// 		   }
							// }, 
							// {
							//     classnames		: {
							// 	    selected		: "selected",
							// 	    hidden			: "hidden",
							// 	    disabled		: "disabled",
							// 	    paused			: "paused",
							// 	    stopped			: "stopped"
							//     },

							// });
						});
						</script>
						<script type="text/javascript">
						// $(function(){
						 // 	$("#carouselproductcross").carouFredSel({
						 // 		debug: true,
						 // 		circular: true,
						 //         infinite: true,
						 // 		responsive: true,
						 // 		align   : "center",
						 // 		width: '100%',
						 // 	    auto	: {
						 //     		play	: 1,
						 // 	    	timeoutDuration :20000
						 // 	    },

						 // 	    items	: {

						 // 		visible: {
						 // 					min: 2,
						 // 					max: 6
						 // 					 },
						 // 					 width:167,

						 // 		},		
						 // 		scroll	: {
						 // 			items	: 1,
						 // 			pauseOnHover:false
						 // 		},
						 // 		prev	: {
						 // 			button	: "#cross_prev"
						 // 		},
						 // 		next	: {
						 // 			button	: "#cross_next"
						 // 		},
						 // 		swipe: {
						 // 					onMouse: true,
						 // 					onTouch: true
						 // 			   }
						 // 	});
						 // });
						</script>

					</div>

				</div>

				<!-- Right -->
				<aside id="right_column" class="span3 column right_home">
					<section id="manufacturers_block_left" class="block blockmanufacturer column_box" ng-include src="'partials/sidebar.html'">
					</section>
				</aside>
			</div>
		</div>
	</div>
</div>
