<!-- <div class="row clearfix">
    <div class="col-md-12 column">
        <h1>Thanks for Order</h1>
        <p>
            Order Submiited Successfully

        </p>
        <h4>Order ID : {{OrderInfo.id}}</h4>
        <a class="btn btn-info" href="./">HOME</a>
    </div>
</div>
 -->

<div id="pageFrame">
    <div id="pageHeader">
        <div id="genericHeader">
            <div class="subNavigation">
                <div id="notch">
                    <img src="https://cache.dominos.com/nolo/us/en/013167/assets/build/images/img/logoNotch.gif" alt="Domino's Pizza">
                </div>
                <a href="/" class="logo">Domino's Pizza</a>
            </div>
        </div>
    </div>
    <div id="pageBody">
        <div id="pageContent">
            <object type="application/x-shockwave-flash" id="satellite" data="https://cache.dominos.com/nolo/us/en/013172/assets/build/flash/dpzTrackerSatellite_v1.0.0.swf" width="10" height="10" __idm_id__="133122">
                <param name="allowscriptaccess" value="always">
                <param name="flashvars" value="callback=site.func.loadPage">
            </object>
            <div id="orderConfirmationPage">
                <h2 class="sectionHeading">Thank You For Your Order</h2>
                <div class="pageBox">
                    <p class="headlineText informationText">Order #
                        <strong> {{OrderInfo.id}} </strong> was successfully placed.</p>
                    <p class="contentText">You should receive a confirmation email shortly containing your order number and the store information. Your order details are below.</p>
                </div>
                <h1 class="informationText trackerText">Nice order. Track it now.</h1>
                <div id="trackerObj" style="margin-left: 0px;">
                    <object type="application/x-shockwave-flash" id="dpzTracker" name="dpzTracker" align="middle" data="https://cache.dominos.com/nolo/us/en/013172/assets/build/flash/dpzTracker_v4.0.0.swf" width="860" height="290" __idm_id__="133121">
                        <param name="quality" value="high">
                        <param name="bgcolor" value="#ffffff">
                        <param name="play" value="true">
                        <param name="loop" value="true">
                        <param name="wmode" value="opaque">
                        <param name="scale" value="noscale">
                        <param name="menu" value="true">
                        <param name="devicefont" value="false">
                        <param name="salign" value="">
                        <param name="allowscriptaccess" value="always">
                        <param name="base" value="https://cache.dominos.com/nolo/us/en/013172/assets/build/flash/">
                        <param name="flashvars" value="isPanPizza=false">
                    </object>
                </div>
                
                <div class="detailsSection">
                   
                    <h2 class="sectionHeading">Order Settings</h2>
                    <div class="pageBox">
                        <div class="detailItems">
                            <p class="detailItem js-isFutureOrder">Your order will be ready on:
                                <strong>04/08/2014 11:15 am</strong>.</p>
                            <p class="detailItem js-isDeliveryOrder">
                                <strong>Delivery</strong>to
                                <strong>350 5TH AVE 1 NEW YORK, NY 10001</strong>.</p>
                            <p>Your store can be reached at:
                                <strong>(212) 545-0200</strong>.</p>
                            <p>You can be reached at:
                                <strong>(999) 999-9999 99999</strong>
                            </p>
                        </div>
                    </div>
                    
                </div>
                
                <div class="clr">
                    <!-- -->
                </div>
                <a class="btn btnLarge fr" href="/en">
                    <span>Domino's Homepage</span>
                </a>
                <!-- YesMail Tag -->
                <div class="clr">
                    <!-- -->
                </div>
               
            </div>

        </div>
    </div>

</div>
