

<div id="pageFrame">
    <div id="pageHeader">
        <div id="genericHeader">
            <div class="subNavigation">
                <div id="notch">
                    <img src="https://cache.dominos.com/nolo/us/en/013167/assets/build/images/img/logoNotch.gif" alt="Domino's Pizza">
                </div>
                <a href="/" class="logo">Domino's Pizza</a>
            </div>
        </div>
    </div>
    <div id="pageBody">
        <div id="pageContent">
            <object type="application/x-shockwave-flash" id="satellite" data="https://cache.dominos.com/nolo/us/en/013172/assets/build/flash/dpzTrackerSatellite_v1.0.0.swf" width="10" height="10" __idm_id__="133122">
                <param name="allowscriptaccess" value="always">
                <param name="flashvars" value="callback=site.func.loadPage">
            </object>
            <div id="orderConfirmationPage">
                <h2 class="sectionHeading">Thank You For Your Order</h2>
                <div class="pageBox">
                    <p class="headlineText informationText">Order #
                        <strong>{{OrderInfo.id}}</strong>&nbsp;was successfully placed.</p>
                    <p class="contentText">You should receive a confirmation email shortly containing your order number and the store information. Your order details are below.</p>
                </div>
                
                 <div style="margin: 0 auto;width: 216px;">
                <a class="btn btnLarge fr" href="/">
                    <span>Domino's Homepage</span>
                </a>
                </div>
                <!-- YesMail Tag -->
                <div class="clr">
                    <!-- -->
                </div>

            </div>

        </div>
    </div>

</div>
