    <hr>
<div class="row clearfix">
							<div class="col-md-12 column">
							  <div class="row clearfix">
								<div class="col-md-4 column">
								  <h3>
									News</h3>
								  <p><strong><a href="" title="">Latest News</a></strong></p>
								  <p>This is your store&rsquo;s blog. You can use it to talk about new product launches, experiences, tips or other news you want your customers to read about. You can check...</p>
								</div>
								<div class="col-md-4 column">
								  <h3>
									Quick Links</h3>
								  <ul>
									
									<li>
									  <a href="page/about-us">About Us</a>
									</li>
									<li>
									  <a href="<%= theme.theme_settings.twitter_link %>" target="_blank" >Twitter</a>
									</li>
									<li>
									  <a href="<%= theme.theme_settings.facebook_link %>" target="_blank" >Facebook</a>
									</li>
									<li>
									  <a href="<%= theme.theme_settings.google_link %>" target="_blank" >Google+ Link</a>
									</li>
									
								  </ul>
								</div>
								<div class="col-md-4 column">
								  <h3>
									Follow Us</h3>
									<ul>
									 <li>Fb</li>
									 <li> Twitter</li>
								   </ul>
									<p>&nbsp;</p>
								</div>
							  </div>
							</div>
						  </div>	
<div class="row clearfix">
                        <div class="col-md-12 column" align="center">
                          <address>
                          Copyright © 2014 ae-store | <a href="//fishry.com" target="_blank">This website runs on ae-Commerce</a>
                          </address>
 </div>
</div>
</div>

<% include footer_resources %>
  
</body>
</html>