<div class="images">
                  <div id="slider" class="fusion-flexslider">
                    <ul class="slides">
                      <li>
                        <a  itemprop="image" class="woocommerce-main-image zoom" title="product_21a" data-rel="prettyPhoto[product-gallery]">
                          <img width="500" height="638" src="{{product.productImage[0].Image}}" class="attachment-shop_single wp-post-image" alt="product_21a" title="product_21a" />
                        </a>
                      </li>
                      <li>
                        <a  itemprop="image" class="woocommerce-main-image zoom" title="product_21b" data-rel="prettyPhoto[product-gallery]">
                          <img width="500" height="638" src="{{product.productImage[1].Image}}" class="attachment-shop_single" alt="product_21b" />
                        </a>
                      </li>
                      <li>
                        <a  itemprop="image" class="woocommerce-main-image zoom" title="product_21c" data-rel="prettyPhoto[product-gallery]">
                          <img width="500" height="638" src="{{product.productImage[2].Image}}" class="attachment-shop_single" alt="product_21c" />
                        </a>
                      </li>
                      <li>
                        <a  itemprop="image" class="woocommerce-main-image zoom" title="product_21d" data-rel="prettyPhoto[product-gallery]">
                          <img width="500" height="638" src="{{product.productImage[3].Image}}" class="attachment-shop_single" alt="product_21d" />
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div id="carousel" class="thumbnails flexslider">
                    <ul class="slides">
                      <li>
                        <img width="120" height="153" src="{{product.productImage[0].Image}}" class="attachment-shop_thumbnail wp-post-image" alt="product_21a" title="product_21a" />
                      </li>
                      <li>
                        <img width="120" height="153" src="{{product.productImage[1].Image}}" class="attachment-shop_thumbnail" alt="product_21b" />
                      </li>
                      <li>
                        <img width="120" height="153" src="{{product.productImage[2].Image}}" class="attachment-shop_thumbnail" alt="product_21c" />
                      </li>
                      <li>
                        <img width="120" height="153" src="{{product.productImage[3].Image}}" class="attachment-shop_thumbnail" alt="product_21d" />
                      </li>
                    </ul>
                  </div>
                </div>